<template>
  <q-modal v-model="isShow" minimized ref="modalRef">
    <div tabindex="-1" class="modal-content popup">
      <div class="popup_close" @click="close">
        <q-icon name="highlight_off"/>
      </div>
      <div class="popup__body">
        <div class="popup__title">{{ title }}</div>
        <div class="popup__form">
          <div>
            <div class="popup__form-row">
              <input class="input" placeholder="Типовый или заказной код" v-model="name">
            </div>
          </div>
          <div class="popup__form-submit">
            <button class="btn btn--red btn--inline" @click="submit" type="submit">Отправить</button>
          </div>
        </div>
      </div>
    </div>
  </q-modal>
</template>

<script>
import DatePicker from 'vue2-datepicker'

/**
 * Компонент модально окно
 */
export default {
  name: 'PopupSelectBlueprint',
  components: { DatePicker },
  props: {
    show: Boolean,
    title: String
  },
  computed: {
    isShow: {
      get: function () {
        return this.show
      },
      set: function (newValue) {
        this.$emit('close', {
          name: this.name
        })
      }
    }
  },
  data () {
    return {
      name: null
    }
  },
  methods: {
    close () {
      this.isShow = false
    },
    submit () {
      this.$emit('submit', {
        name: this.name
      })
    }
  }
}
</script>

<style scoped>
.popup {
  display: block;
}
.popup__body {
  width: 460px;
}
.popup__title {
  text-align: center;
}

div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.popup_close {
  font-size: 25px;
  cursor: pointer;
  transition: color 0.4s;
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup_close:hover {
  color: #78909c;
}
.dateInput {
  float: left;
  margin-left: 38px;
  margin-bottom: 10px;
}
.dateInput:first-child {
  margin-left: 0px;
}
.popup__scroll-item {
  cursor: pointer;
}
</style>
