<template>
  <div class="docs-upload__row">
    <a class="docs-upload__link-download" :href="file.url" :download="file.name">
      <svg class="icon-svg  icon-download">
        <use xlink:href="assets/sprite.svg#download"></use>
      </svg>
    </a>
    <span class="docs-upload__info">
      <span class="docs-upload__info-date">{{file.date}}</span>
      <span class="docs-upload__info-title">{{file.title}}</span>
    </span>
    <div class="docs-upload__link-del" @click="deleteFile()">
      <svg class="icon-svg  icon-del">
        <use xlink:href="assets/sprite.svg#del"></use>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DocsFiles',
  props: {
    file: Object
  },
  methods: {
    deleteFile () {
      this.$emit('deleteFile', this.file.id)
    }
  }
}
</script>

<style scoped>
.docs-upload__row {
  padding-right: 20px;
  cursor: pointer;
}
.docs-upload__link-del {
  cursor: pointer;
}
</style>
