<template>
  <q-modal v-model="isShow" minimized ref="modalRef">
    <div tabindex="-1" class="modal-content popup">
      <div class="popup_close" @click="close">
        <q-icon name="highlight_off"/>
      </div>
      <div class="popup__body">
        <div class="popup__title">{{ title }}</div>
        <div class="popup__form">
          <div>
            <div class="popup__form-row">
              <input class="input" placeholder="Титул объекта" v-model="name">
            </div>

            <div class="popup__form-row" v-for="(s, i) in specifications" :key="'s_' + i">
              <div class="popup-add">
                <div class="popup-add__item">
                  <input class="input" placeholder="Технические характеристики" v-model="s.name">
                </div>
                <div class="popup-add__item">
                  <input class="input" placeholder="Значение" v-model="s.value">
                </div>
                <div class="popup-add__item" @click="delSpecifications(i)">
                  <div class="btn-del"></div>
                </div>
                <div class="popup-add__item" @click="addSpecifications">
                  <div class="btn-add"></div>
                </div>
              </div>
            </div>

            <div class="popup__form-row" v-for="(f, i) in files" :key="'f_' + i">
              <div class="popup-add">
                <div class="popup-add__item-2">
                  <label class="input-file">
                    <input
                      class="input"
                      :placeholder="filePlaceholder"
                      type="file"
                      @change="getFile(i)"
                    >
                    <div class="input-file__placeholder">{{ f.description }}</div>
                    <div class="input-file__placeholder"></div>
                    <div class="input-file__icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="19"
                        height="17"
                        viewBox="0 0 19 17"
                      >
                        <g>
                          <g transform="translate(-615 -915)">
                            <path
                              id="pf3fa"
                              d="M629.14 921.87s.77-.56.18-1.13c-.58-.57-1.15.16-1.15.16l-5.88 5.7s-1.37 1.73-2.42.69c-1.04-1.05.7-2.35.7-2.35l7.7-7.48s1.8-1.92 3.5-.28c1.69 1.64-.3 3.39-.3 3.39l-8.66 8.4s-2.77 3.1-5.33.61c-2.57-2.49.66-5.14.66-5.14l6.58-6.38s.73-.6.18-1.13c-.55-.54-1.17.18-1.17.18l-7.54 7.31s-2.85 3.03.33 6.11c3.18 3.09 6.3.33 6.3.33l10.37-10.06s2.08-2.22-.4-4.62c-2.47-2.4-4.76-.39-4.76-.39l-8.92 8.66s-2.28 1.8-.2 3.8c2.07 2.02 3.89-.23 3.89-.23z"
                            ></path>
                          </g>
                        </g>
                      </svg>
                    </div>
                  </label>
                </div>
                <div class="popup-add__item-1" @click="delFile(i)">
                  <div class="btn-del"></div>
                </div>
                <div class="popup-add__item-1" @click="addfile">
                  <div class="btn-add"></div>
                </div>
              </div>
            </div>

            <div class="popup__form-row">
              <DatePicker
                text="Желаемая дата получения подбора"
                lang="ru"
                v-model="date"
                :not-before="Date.now()"
                :shortcuts="false"
                placeholder="Желаемая дата получения подбора"
                class="dateAddInput"
              />
            </div>

            <div class="popup__form-row">
              <q-input
                type="textarea"
                rows="7"
                class="input_select"
                placeholder="Текст"
                color="white"
                v-model="text"
              />
            </div>
          </div>
          <div class="popup__form-submit">
            <button class="btn btn--red btn--inline" @click="submit" type="submit">Отправить</button>
          </div>
        </div>
      </div>
    </div>
  </q-modal>
</template>

<script>
import DatePicker from 'vue2-datepicker'

/**
 * Компонент модально окно
 */
export default {
  name: 'PopupSelectBlueprint',
  components: {DatePicker},
  props: {
    show: Boolean,
    data: Object,
    biteInMb: Number,
    title: String
  },
  computed: {
    isShow: {
      get: function () {
        return this.show
      },
      set: function (newValue) {
        this.$emit('close', {
          name: this.name,
          files: this.files.filter(file => file.name),
          date: this.date,
          qlistFile: this.qlistFile,
          specifications: this.specifications.filter(spec => spec.name),
          text: this.text
        })
      }
    }
  },
  data () {
    return {
      files: [{
        description: 'Загрузка файла'
      }],
      qlistFile: null,
      filePlaceholder: 'Загрузка файла',
      qlistFilePlaceholder: 'Опросный лист',
      date: null,
      name: null,
      text: null,
      specifications: [
        {
          name: null,
          value: null
        }
      ]
    }
  },
  methods: {
    /**
     * Закрыть окно
    */
    addSpecifications () {
      this.specifications.push({
        name: null,
        value: null
      })
    },
    delSpecifications (index) {
      if (index === 0) return
      this.specifications.splice(index, 1)
    },
    addfile () {
      this.files.push({
        description: 'Загрузка файла'
      })
    },
    delFile (index) {
      if (index === 0) return
      this.files.splice(index, 1)
    },
    close () {
      this.isShow = false
    },
    showLoader (message) {
      this.$q.loading.show({
        message: message,
        spinnerSize: 45,
        spinnerColor: 'white'
      })
    },
    hideLoader () {
      this.$q.loading.hide()
    },
    submit () {
      let formData = {
        name: this.name,
        files: this.files.filter(file => file.name),
        date: this.date,
        qlistFile: this.qlistFile,
        specifications: this.specifications.filter(spec => spec.name),
        text: this.text
      }

      let fd = new FormData()

      this.files.forEach((file, index) => {
        fd.append(index, file)
      })

      this.$axios.post('http://localhost:3000/upload', fd, {
        headers: {
          'Content-Type': 'multipart/form-data'
        },
        onUploadProgress: (progressEvent) => {
          this.showLoader(`${((progressEvent.loaded / progressEvent.total) * 100).toFixed(2)}%`)
          console.log(progressEvent)
        }
      }).then((response) => {
        this.hideLoader()
        this.$emit('submit', formData)
      }).catch((error) => {
        console.error(error)
        this.hideLoader()
      })
    },
    /**
     * Получить файл
     */
    getFile (index) {
      this.files[index] = window.event.target.files[0]
      this.files[index].description = `${this.files[index].name}  ${(this.files[index].size / this.biteInMb).toFixed(2)} MB`
      console.log(this.files[index])
      console.log(this.files)
      this.$forceUpdate()
    }
  }
}
</script>

<style scoped>
.popup {
  display: block;
}
.popup__body {
  width: 460px;
}
.popup__title {
  text-align: center;
}
.input_select {
  border: 1px solid #d3dbea;
  border-radius: 4px;
  font-family: "Myriad Pro";
  width: 100%;
  margin: 0px;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.popup_close {
  font-size: 25px;
  cursor: pointer;
  transition: color 0.4s;
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup_close:hover {
  color: #78909c;
}
.dateInput {
  float: left;
  margin-left: 38px;
  margin-bottom: 10px;
}
.dateInput:first-child {
  margin-left: 0px;
}
.popup__scroll-item {
  cursor: pointer;
}

.btn-del {
  position: relative;
  width: 40px;
  height: 45px;
  cursor: pointer;
  border: 1px solid #d3dbea;
  border-radius: 4px;
  margin-right: 5px;
}

.btn-del::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #d3dbea;
}

.btn-del::before {
  width: 13px;
  height: 2px;
}
.btn-del:hover::before {
  background: #000;
}

.popup-add__item:nth-child(3) {
  margin-right: 5px;
}
.dateAddInput {
  width: 460px;
}
.popup-add__item-1 {
  width: 43px;
  padding-right: 5px;
}

.popup-add__item-2 {
  width: 376px;
  padding-right: 5px;
}
</style>
