<template>
  <div class="device__body tabs" data-controller="tab">
      <div class="device__caption-holder">
        <ul class="tabs__caption device__caption">
          <li
            class="device__caption-item"
            v-for="t in tabs"
            :key="t.id"
            :class="{active: activeId ? activeId === t.id : t.active}"
             @click="open(t.id)">
            <div class="vam">
              <div class="vam-inner">{{ t.name }}</div>
            </div>
          </li>
        </ul>
      </div>

      <div v-for="t in tabs" :key="t.id">

      <div
          v-if="t.type === 'specifications'"
          class="tabs__content"
         :class="{active: activeId ? activeId === t.id : t.active}"
         >
        <div class="table  table--table-01">
          <div class="table__body">
            <div class="table__row" v-for="d in t.data" :key="d.id">
              <div class="table__cell">{{ d.title }}</div>
              <div class="table__cell">{{ d.text }}</div>
            </div>
          </div>
        </div>
      </div>

       <div
         class="tabs__content"
         v-if="t.type === 'documentation'"
         :class="{active: activeId ? activeId === t.id : t.active}"
        >
        <div class="table  table--table-00">
          <div class="table__body">
            <div class="table__row"  v-for="d in t.data" :key="d.id">
              <div class="table__cell">
                <div class="table__cell-item no-wrap">
                  <div class="table__cell-icon">
                    <div class="button-download__icon button-download__icon--green">
                      <div class="button-download__icon-text">{{ d.format }}</div>
                    </div>
                  </div>
                  <a class="table__cell-txt" :href="d.url" download>{{ d.title }}</a>
                </div>
              </div>
              <div class="table__cell">{{ d.country }}</div>
              <div class="table__cell">{{ d.date }}</div>
              <div class="table__cell" @click="add(d)">
                <div class="adder" data-controller="adder" :class="{active: d.add}">
                  <div class="adder__icon">
                    <svg class="icon-svg">
                      <use xlink:href="assets/sprite.svg#star"></use>
                    </svg>
                  </div>
                  <div class="adder__txt">
                    <div class="adder__txt-checked" v-if="d.add">Добавлено</div>
                    <span v-else>
                      <div class="adder__txt-main">Добавить</div>
                      <div class="adder__txt-main">в мои документы</div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

     <div
        class="tabs__content"
        v-if="t.type === 'options'"
        :class="{active: activeId ? activeId === t.id : t.active}"
      >
      <div class="device-option"  v-for="d in t.data" :key="d.id">
        <div
          class="device-option__row"
          data-controller="accordion"
          :class="{active: activeAccordionId === d.id,  slideOn: activeAccordionId === d.id}">
          <div
            class="device-option__header accordion-header"
            @click="openAccordion(d.id)"
            :class="{active : activeAccordionId === d.id }"
          >
            <div class="vam-inner">
              <div class="device-option__header-icon"></div>
              <div class="device-option__header-title">{{ d.name }}</div>
            </div>
          </div>
          <div class="device-option__body accordion-body" :class="{block: activeAccordionId === d.id }">
            <div class="table  table--table-00">
              <div class="table__body">
                <div class="table__row"  v-for="r in d.rows" :key="r.id">
                  <div class="table__cell">
                    <div class="table__cell-item no-wrap">
                      <div class="table__cell-icon">
                        <div class="button-download__icon button-download__icon--green">
                          <div class="button-download__icon-text">{{ r.format }}</div>
                        </div>
                      </div>
                      <a class="table__cell-txt" :href="r.url" download>{{ r.title }}</a>
                    </div>
                  </div>
                  <div class="table__cell">{{ r.country }}</div>
                  <div class="table__cell">{{ r.date }}</div>
                  <div class="table__cell" @click="add(r)">
                    <div class="adder" data-controller="adder" :class="{active: r.add}">
                      <div class="adder__icon">
                        <svg class="icon-svg">
                          <use xlink:href="assets/sprite.svg#star"></use>
                        </svg>
                      </div>
                      <div class="adder__txt">
                        <div class="adder__txt-checked" v-if="r.add">Добавлено</div>
                        <span v-else>
                          <div class="adder__txt-main">Добавить</div>
                          <div class="adder__txt-main">в мои документы</div>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    </div>
  </div>
</template>

<script>

/**
 * Компонент список чат для страницы 'Техническая поддержка'
 */
export default {
  name: 'DeviceTabs',
  props: {
    tabs: Array
  },
  data () {
    return {
      activeId: undefined,
      activeAccordionId: undefined
    }
  },
  methods: {
    /**
     * Добавить документ в избранное
    */
    add (doc) {
      doc.add = !doc.add
      this.$emit('toFavorite', doc.id)
    },
    /**
     *  Открыть вкладку
    */
    open (tabId) {
      this.activeId = tabId
    },
    /**
     *  Открыть список
    */
    openAccordion (id) {
      if (this.activeAccordionId === id) {
        this.activeAccordionId = undefined
      } else {
        this.activeAccordionId = id
      }
    }
  }
}
</script>

<style scoped>
.adder__txt-checked {
  display: block
}
.block {
  display: block;
  user-select: none;
}
.selected {
  border-color: #6a6a6a;
  color: #FFF;
  background-color: #6a6a6a;
}
.slideOn {
  animation-name: slideOn;
  -webkit-animation-name: slideOn;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes slideOn {
  0% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes slideOn {
  0% {
    -webkit-transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
.info_text {
  margin-top: 10px
}
div::-webkit-scrollbar {
  height: 3px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
</style>
