<template>
<div
  class="docs__tree-links"
>
  <div
    class="docs__tree-link"
    :class="{active: active }"
    @click="onСlick()"
  >
    <svg class="icon-svg  icon-folder">
      <use v-if="open" xlink:href="assets/sprite.svg#folder-open"></use>
      <use v-else xlink:href="assets/sprite.svg#folder"></use>
    </svg>
    {{title}}
  </div>
  <div class="docs__tree-link-add" @click="addFolder()">
    <svg class="icon-svg  icon-plus">
      <use xlink:href="assets/sprite.svg#plus"></use>
    </svg>
  </div>
</div>
</template>

<script>
export default {
  name: 'DocsTreeElement',
  props: {
    title: String,
    open: Boolean,
    idDir: Number,
    selectedDirId: Number
  },
  data () {
    return {
      show: false
    }
  },
  computed: {
    active () {
      return this.idDir === this.selectedDirId
    }
  },
  methods: {
    onСlick () {
      this.$emit('click', {
        show: this.show = !this.show,
        idDir: this.idDir
      })
    },
    addFolder () {
      this.$emit('addFolder', this.idDir)
    }
  }
}
</script>

<style scoped>

</style>
