<template>
    <div class="docs__tree-row">
      <Eelement
        class="on_click"
        :title="row.title"
        :idDir="row.id"
        :open="isOpen"
        :key="row.id"
        :selectedDirId="selectedDirId"
        @click="rowClick"
        @addFolder="addFolder"
      />
      <div class="docs__tree-group" v-if="row.group && row.group.length && show">
        <DocsTreeRow
          v-for="r in row.group"
          :key="r.id"
          :row="r"
          @selectDir="selectDir"
          :selectedDirId="selectedDirId"
          @addFolder="addFolder"
        />
  </div>
    </div>
</template>

<script>
import Eelement from './Element.vue'
export default {
  name: 'DocsTreeRow',
  components: { Eelement },
  props: {
    row: Object,
    selectedDirId: Number
  },
  computed: {
    isOpen () {
      if (this.row.group && this.row.group.length) return true
      return false
    }
  },
  data () {
    return {
      show: false
    }
  },
  methods: {
    rowClick (row) {
      this.$emit('selectDir', row.idDir)
      this.show = row.show
    },
    selectDir (idDir) {
      this.$emit('selectDir', idDir)
    },
    addFolder (idParent) {
      this.$emit('addFolder', idParent)
    }
  }
}
</script>

<style scoped>
.on_click {
  cursor:pointer
}
</style>
