<template>
<div class="chat__rooms">
  <div class="chat-rooms" :class="{'opened': showAll }">
    <header class="chat-rooms__header">
      <div class="search">
        <input class="search__input" placeholder="Поиск"  @keyup="search" v-model="searchString"/>
        <div class="search__icon">
          <svg>
            <use xlink:href="assets/sprite.svg#glass"></use>
          </svg>
        </div>
      </div>
    </header>
    <div class="chat-rooms__body">
      <div class="chat-rooms__body-head">
        <div class="chat-rooms__body-title">Запросы</div>
        <div class="chat-rooms__body-show js-show-more" @click="showAllRooms">Все запросы</div>
      </div>

      <div :class="{
        close: !showAll,
        open: showAll
      }">

      <div
        v-for="(r, i) in requests"
        :key="r.id">
        <div class="chat-rooms__item chat-rooms__item--accent"
          @click="selectRoom(r.id)"
          :class="{
            'shown': i < showRooms,
            'chat-rooms__item--accent-green': r.status === 'online',
            'chat-rooms__item--accent-yellow': r.status === 'busy',
            'chat-rooms__item--accent-red': r.status === 'offline',
          }">
          <div class="chat-rooms__item-holder">
            <div class="chat-rooms__item-time">{{ r.time }}</div>
            <div class="chat-rooms__item-ava"><img :src='r.ava' v-if='r.ava'></div>
            <div class="chat-rooms__item-text">
              <div class="chat-rooms__item-title">{{ r.title }}</div>
              <div class="chat-rooms__item-msg no-wrap">{{ r.msg }}
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

    </div>
  </div>
</div>
</template>

<style>
</style>

<script>

/**
 * Компонент список чат для страницы 'Техническая поддержка'
 */
export default {
  name: 'ChatRooms',
  props: {
    requests: Array,
    showRooms: Number,
    searchInterval: Number
  },
  data () {
    return {
      showAll: false, // показать все чаты
      searchString: '', // поисковй запрос
      searchTimerId: undefined // id таймера при поиске
    }
  },
  methods: {
    /**
     * Показать полный список чатов.
    */
    showAllRooms () {
      this.showAll = !this.showAll
    },
    /**
     *  Поиск чата.
     *  Отправляет в родительский компонет поисковый запрос
    */
    search () {
      clearTimeout(this.searchTimerId)
      this.searchTimerId = setTimeout(() => {
        this.$emit('search', this.searchString)
      }, this.searchInterval)
    },
    /**
     *  Выбрать чат.
     *  Отправляет в родительский компонет id выбранного чата
     *
     * @param {number} idRoom - id чата
    */
    selectRoom (idRoom) {
      this.$emit('selectRoom', idRoom)
    }
  }
}
</script>

<style scoped>
.close {
  height: 25vh;
  overflow-y: auto;
}
.open {
  height: 55vh;
  overflow-y: auto;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
</style>
