<template>
<div class="chat__main">
  <div class="chat-main">
    <div class="chat-main__header">
      <div class="chat-main__user">
        <div class="chat-main__user-ava"><img v-if="room.ava" :src="room.ava" alt="avatar"></div>
        <div class="chat-main__user-data">
          <div class="chat-main__user-name">
            {{ room.clientName }} :
            <span class="chat-main__user-title room_title">
              {{ room.title }}
            </span>
          </div>
          <div class="chat-main__user-title">
            <a :href="room.deviceUrl" target="_blank">{{ room.deviceName }}</a>
          </div>
        </div>
      </div>
      <div class="chat-main__rating">
        <div class="chat-main__rating-title">Качество обслуживания</div>
        <div class="chat-main__rating-vote">
          <div class="rating">
            <div
              class="rating__item"
              :class="{'filled': n <= room.rating }"
              v-for="n in starCout"
              :key="n"
              @click="setRating(n)"
            >
              <div class="rating__item-holder">
                <svg>
                  <use xlink:href="assets/sprite.svg#star"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="chat-main__ctrl">
        <div class="chat-main__ctrl-menu">
          <svg class="icon-svg  icon-menu-point">
            <use xlink:href="assets/sprite.svg#menu-point"></use>
          </svg>
          <div class="chat-main__ctrl-drop">
            <div class="chat-main__ctrl-item" @click="transfer">Передать запрос</div>
            <div class="chat-main__ctrl-item" @click="addToRoom">
              <div class="chat-main__ctrl-icon">
                <svg class="icon-user-add">
                  <use xlink:href="assets/sprite.svg#user-add"></use>
                </svg>
              </div><span>Пригласить в чат</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="chat-main__body" ref="chatBody">

      <div class="chat-main__msg"
        v-for="msg in room.chat"
        :key="msg.id"
        :class="{'own': msg.type === 'employee'}"
        >
        <div
          class="chat_user_name"
          :class="{'chat_user_name_client': msg.type === 'client'}"
        >{{msg.userName}}</div>
        <div class="chat-main__msg-holder">
          <div class="chat-main__msg-ava" v-if="msg.type === 'client'" ><img v-if="msg.ava" :src="msg.ava" alt="avatar"></div>

          <div
            class="chat-main__msg-text"
           :class="{'chat-main__msg-text_hover': user.id == msg.userId}"
           @mouseover="showEditBlock(msg.id)"
          ><span v-html="msg.text" ></span>

          <div
            class="chat-main__msg-hover"
            v-if="showEditId === msg.id"
            @mouseleave="showEditBlock(undefined)"
            >
              <!-- Если это сообщение текущего пользователя - он может его редактировать или удалить -->
              <div class="chat-main__msg-hover_edit" v-if="msg.userId === user.id">
                  <div @click="editMsg(msg)" class="chat_icon_edit"><q-icon name="edit"/></div>
                  <div @click="deleteMsg(msg)" class="chat_icon_delete"><q-icon name="delete"/></div>
                  <div v-if="msg.file" class="chat_icon_delete">
                    <a download :href="msg.file.url" class="chat_download_file" title="Download File">
                      <q-icon name="insert_drive_file"/>
                    </a>
                  </div>
              </div>
              <!-- Если это сообщение не текущего пользователя - он может его цитировать -->
              <div class="chat-main__msg-hover_edit" v-else>
                  <div @click="quote(msg)" class="chat_icon_edit"><q-icon name="question_answer"/></div>
                  <div v-if="msg.file" class="chat_icon_delete">
                    <a download :href="msg.file.url" class="chat_download_file" title="Download File">
                      <q-icon name="insert_drive_file"/>
                    </a>
                  </div>
              </div>
            </div>
            <div v-if="msg.file">{{ msg.file.name }} <em>{{ (msg.file.size / byteInMegabyte).toFixed(2) }} MB</em></div>
            <div v-if="msg.file">
              <img v-if="msg.file.type && msg.file.type.indexOf('image') != -1" :src="msg.file.url" :alt="msg.file.name" width="250"/>
              <q-icon v-else name="insert_drive_file" class='room_file_download'  />
            </div>
            <div class="chat-main__msg-time">{{ msg.time }}</div>
          </div>

          <div class="chat-main__msg-ava_employee" v-if="msg.type === 'employee'" ><img v-if="msg.ava" :src="msg.ava" alt="avatar"></div>
        </div>
      </div>

      <div class="chat-user-status">
        <div class="chat-user-status__typing" v-if='typing'>
          <div class="chat-user-status__typing-ava"><img v-if="room.ava" :src="room.ava" alt="avatar"></div>
          <div class="chat-user-status__typing-animation"><span></span><span></span><span></span></div>
        </div>
        <div class="chat-user-status__typing" v-else></div>
        <div class="chat-user-status__btns">
          <button class="btn btn--sm" type="button" @click="take">Взять в работу</button>
        </div>
      </div>
    </div>

    <div class="chat-main__form">
      <div
        contenteditable="true"
        class="chat-main__form-textarea autoSize"
        placeholder="Написать..."
        aria-multiline="true"
        role="textbox"
        @focus='typingOn'
        @blur='typingOff'
        @keyup.enter="sendMsg"
        tabindex="0"
        id="chat_input"
        ></div>
      <label class="chat-main__attach" v-if='!file'>
        <input type="file" name='file' @change="getFile">
        <svg>
          <use xlink:href="assets/sprite.svg#clip"></use>
        </svg>
      </label>
      <div class="chat-main__attach file" v-if='file' @click="deleteFile">
        <q-icon name="cancel" class='clear_filter'/>
          <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
            <strong>Delete File: </strong>{{ file.name }} <em>{{ (file.size / byteInMegabyte).toFixed(2) }} MB</em>
          </q-tooltip>
      </div>
      <button class="chat-main__submit" @click="sendMsg">
        <svg>
          <use xlink:href="assets/sprite.svg#fly"></use>
        </svg>
      </button>
    </div>
    <div class="chat_icons">
        <img class="chat_emoji" src="https://vk.com/emoji/e/f09f9880_2x.png" @click="addEmoji('f09f9880')">
        <img class="chat_emoji" src="https://vk.com/emoji/e/f09f9882_2x.png" @click="addEmoji('f09f9882')">
        <img class="chat_emoji" src="https://vk.com/emoji/e/e298ba_2x.png"   @click="addEmoji('e298ba')">
        <img class="chat_emoji" src="https://vk.com/emoji/e/f09f988a_2x.png" @click="addEmoji('f09f988a')">
        <img class="chat_emoji" src="https://vk.com/emoji/e/f09f9889_2x.png" @click="addEmoji('f09f9889')">
        <img class="chat_emoji" src="https://vk.com/emoji/e/f09f9983_2x.png" @click="addEmoji('f09f9983')">
        <img class="chat_emoji" src="https://vk.com/emoji/e/f09f9898_2x.png" @click="addEmoji('f09f9898')">
        <img class="chat_emoji" src="https://vk.com/emoji/e/f09f989c_2x.png" @click="addEmoji('f09f989c')">
        <img class="chat_emoji" src="https://vk.com/emoji/e/f09f988e_2x.png" @click="addEmoji('f09f988e')">
        <img class="chat_emoji" src="https://vk.com/emoji/e/f09f9894_2x.png" @click="addEmoji('f09f9894')">
        <img class="chat_emoji" src="https://vk.com/emoji/e/e298b9_2x.png"   @click="addEmoji('e298b9')">
        <img class="chat_emoji" src="https://vk.com/emoji/e/f09f98ad_2x.png" @click="addEmoji('f09f98ad')">
        <img class="chat_emoji" src="https://vk.com/emoji/e/f09f98a1_2x.png" @click="addEmoji('f09f98a1')">
    </div>
  </div>
</div>
</template>

<script>

/**
 * Компонент чат для страницы 'Техническая поддержка'
 */
export default {
  name: 'ChatRoom',
  props: {
    room: Object,
    starCout: Number,
    byteInMegabyte: Number,
    user: Object
  },
  data () {
    return {
      typing: false, // метка указывающая что пользоватль начал ввод сообщения
      file: undefined, // файл в сообщении
      showVemoji: false, // показать окно со смайлами,
      showEditId: undefined, // показать
      editMsgObj: {} // редактируемое сообщение
    }
  },
  methods: {
    /**
     * Редактировать сообщение.
     *
     * @param {Object} msg - объект сообщения .
     */
    editMsg (msg) {
      Object.assign(this.editMsgObj, msg)
      this.editMsgObj.file = undefined
      document.getElementById('chat_input').innerHTML = this.editMsgObj.text
    },
    /**
     * Получить файл
     */
    getFile () {
      this.file = window.event.target.files[0]
      console.log(this.file)
    },
    /**
     * Удалить выбранный файл
     */
    deleteFile () {
      this.file = undefined
    },
    /**
     * Удалить сообщение.
     *
     * @param {Object} msg - объект сообщения.
     */
    deleteMsg (msg) {
      this.$emit('deleteMsg', msg)
    },
    /**
     * Отправить сообщение в родительский компонет.
     */
    sendMsg () {
      let msg = this.editMsgObj ? this.editMsgObj : {}

      msg.text = document.getElementById('chat_input').innerHTML ? document.getElementById('chat_input').innerHTML.trim() : undefined
      msg.file = this.file

      if (msg.text || msg.file) {
        this.$emit('sendMsg', msg)
        this.text = ''
        this.file = undefined
        document.getElementById('chat_input').innerHTML = ''
        this.editMsgObj = {}
      }

      setTimeout(() => {
        this.$refs.chatBody.scrollTo(0, this.$refs.chatBody.scrollHeight)
      }, 100)
    },
    /**
     * Цитировать сообщение.
     *
     * @param {Object} msg - объект сообщения .
     */
    quote (msg) {
      let quoteBlock = document.createElement('span')
      quoteBlock.setAttribute('contenteditable', false)
      quoteBlock.className = 'quote_msg'
      quoteBlock.innerHTML = `${msg.userName} (${msg.time}) : ${msg.text}`

      let pureBlock = document.createElement('div')
      pureBlock.className = 'quote_msg_pure'

      document.getElementById('chat_input').appendChild(quoteBlock)
      document.getElementById('chat_input').appendChild(pureBlock)
    },
    /**
     * Установить рейтинг.
     *
     * @param {number} rating - рейтинг .
     */
    setRating (rating) {
      this.$emit('setRating', rating)
    },
    /**
     * Показать блок с кнопками удаления и редактирования.
     *
     * @param {number} id - id сообщения .
     */
    showEditBlock (id) {
      this.showEditId = id
    },
    /**
     *  Пользваовтель начал ввод
     *  пока это демо функция так как пользовательский ввод тербует связи с бекендом
     */
    typingOn () {
      this.typing = true
    },
    /**
     *  Пользваовтель закончил ввод
     *  пока это демо функция так как пользовательский ввод тербует связи с бекендом
     */
    typingOff () {
      this.typing = false
    },
    take () {
      console.log(this.room.id)
    },
    /**
     *  Добавить в чат
     *  пока это демо функция так как пользовательский ввод тербует связи с бекендом
     */
    addToRoom () {
      console.log(this.room.id)
    },
    /**
     *  Передать запрос
     *  пока это демо функция так как пользовательский ввод тербует связи с бекендом
     */
    transfer () {
      console.log(this.room.id)
    },
    /**
     * Парсит текст и заменяет символы на смайлы.
     *
     * @param {string} emojiCode - код смайла .
     */
    addEmoji (emojiCode) {
      let div = document.getElementById('chat_input')
      div.innerHTML += '<img class="chat_emoji" src="https://vk.com/emoji/e/' + emojiCode + '.png"/>'
      let range = document.createRange()
      let sel = window.getSelection()
      let start = div.childNodes.length
      range.setStart(div, start)
      range.collapse(true)
      sel.removeAllRanges()
      sel.addRange(range)
    }
  },
  mounted () {
    this.$refs.chatBody.scrollTo(0, this.$refs.chatBody.scrollHeight)
  }
}
</script>

<style>
.quote_msg_pure {
  height: 25px;
  padding-top: 10px;
}
.quote_msg {
  background-color: #CCC;
  padding: 10px;
  border-radius: 8px;
}
.select_row {
  background-color: #edf3f7;
}
.clear_filter {
  font-size: 18px;
  color: #c9060a;
}
.room_title {
  font-size: 15px;
}
.room_file_download {
  font-size: 60px;
}
.chat_download_file {
  color: #FFF;
}
.chat_download_file:hover {
  color: #81c784;
}
.chat-main__msg-ava_employee {
  margin-left: 10px;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #d3dbea;
  display: block;
  position: absolute;
  right: 5px;
}
.chat-main__msg-ava_employee img {
  display: block;
  width: 100%;
  height: 100%;
}
.chat-main__ctrl-menu {
  display: block;
}
.icon-menu-point {
  display: none;
}
.chat-main__ctrl-item {
  cursor: pointer;
  user-select: none;
}
.chat-main__body {
  height: 60vh;
  overflow-y: auto;
}
.chat-user-status {
  margin-top: 30px;
  position: relative;
}
.chat-main__body {
  padding-bottom: 0px;
}
.chat-main__msg-holder {
  display: inherit;
}

@media (max-width: 1025px) {
 .chat-main__body {
    height: 35vh;
  }
}
@media (max-width: 1150px) {
  .icon-menu-point {
    display: block;
  }
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.chat_user_name {
  margin-top: -20px;
  position: absolute;
}
.chat_user_name_client {
  left: 70px;
}

.chat_emoji {
  padding: 5px;
  cursor: pointer;
}
.chat-main__form-textarea  {
  overflow: auto;
  height: auto;
}
.chat-main__msg.own .chat-main__msg-holder {
  margin-right: 20px;
}

.chat-main__msg-hover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  z-index: 10;
  font-size: 20px;
  color: #FFF;
  cursor: default;
}

.chat-main__msg-text_hover {
  cursor: pointer;
}

.chat-main__msg-hover_edit {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;

}

.chat_icon_delete {
  padding: 10px;
  cursor: pointer;
  display: block;
  align-self: center;
}

.chat_icon_edit {
  padding: 10px;
  cursor: pointer;
  display: block;
  align-self: center;
}

.chat_icon_edit:hover {
  color: #81c784;
}

.chat_icon_delete:hover {
  color: #81c784;
}
</style>
