<template>
  <q-modal v-model="isShow" minimized ref="modalRef">
    <div class="popup" id="popup-add-company">
      <div class="popup_close" @click="close"><q-icon name="highlight_off"/></div>
      <div class="popup__body">
        <div class="popup__title">Добавить папку</div>
        <form class="popup__form">
          <div class="popup__form-row">
            <q-input v-model="folderName"  class="input_select" placeholder="Название папки" color="white"/>
          </div>
          <div class="popup__form-submit">
            <button class="btn btn--red btn--inline" @click="addFolder()">Добавить</button>
          </div>
        </form>
      </div>
    </div>
  </q-modal>
</template>

<script>

/**
 * Компонент модально окно
 */
export default {
  name: 'PopupAddFolder',
  props: {
    show: Boolean
  },
  computed: {
    isShow: {
      get: function () {
        return this.show
      },
      set: function (newValue) {
        this.$emit('close')
      }
    }
  },
  data () {
    return {
      folderName: null
    }
  },
  methods: {
    /**
     * Закрыть окно
    */
    close () {
      this.isShow = false
    },
    addFolder () {
      if (this.folderName) {
        this.$emit('add', this.folderName)
      }
    }
  }
}
</script>

<style scoped>
.popup {
  display: block;
}
.input_select {
  border: 1px solid #d3dbea;
  border-radius: 4px;
  font-family: 'Myriad Pro';
}
.input_select:before, .input_select:after {
  border: none;
}
.popup__title {
  text-align: center;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.popup_close {
  font-size: 25px;
  cursor: pointer;
  transition: color 0.4s;
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup_close:hover {
  color:  #78909c;
}
</style>
