<template>
<div class="docs-upload">
  <div class="docs-upload__heading"><span class="docs-upload__heading-title"> <span class="docs-upload__heading-arrow">
        <svg class="icon-svg  icon-arrow-right">
          <use xlink:href="assets/sprite.svg#arrow-right"></use>
        </svg></span>Контроллеры и диспетчеризация</span>
    <label v-if="idDir" class="btn btn--red docs-upload__btn-add">Добавить файл
      <input type="file" @change="getFile">
    </label>
  </div>
  <div class="docs-upload__list js-scroll red-scroll">
    <draggable @end="moved">
      <transition-group>
        <File
          v-for="file in dirFiles"
          :file="file"
          :key="file.id"
          @deleteFile="deleteFile"
        />
      </transition-group>
    </draggable>
  </div>
</div>
</template>

<script>
import File from './Files/File.vue'
import Draggable from 'vuedraggable'
export default {
  name: 'DocsFiles',
  components: { File, Draggable },
  props: {
    files: Array,
    idDir: Number
  },
  computed: {
    dirFiles () {
      if (this.idDir && this.files && this.files.length) {
        return this.files.filter(f => f.idDir === this.idDir)
      }

      return []
    }
  },
  data () {
    return {
      file: null
    }
  },
  methods: {
    deleteFile (id) {
      this.$emit('deleteFile', id)
    },
    getFile () {
      this.$emit('uploadFile', window.event.target.files[0])
    },
    moved ({newIndex, oldIndex}) {
      this.$emit('changeSort', newIndex, oldIndex, this.idDir)
    }
  }
}
</script>

<style scoped>
  .docs-upload__list{
    overflow-y: auto;
    max-height: 96%;
  }
  .docs-upload {
    overflow-y: hidden;
  }

  div::-webkit-scrollbar {
    width: 8px;
  }
  div::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: transparent;
  }
  div::-webkit-scrollbar-thumb {
    background: #b0bec5;
    border-radius: 10px;
  }
  div::-webkit-scrollbar-thumb:hover {
    background: #90a4ae;
  }
</style>
