<template>
<div class="docs__inner">
  <div class="docs__tree" data-controller="tree-toggle">
    <Row
      v-for="row in tree"
      :key="row.id"
      :row="row"
      @selectDir="selectDir"
      :selectedDirId="selectedDirId"
      @addFolder="addFolder"
    />
  </div>
</div>
</template>

<script>
import Row from './Tree/Row.vue'
export default {
  name: 'DocsTree',
  components: { Row },
  props: {
    tree: Array,
    selectedDirId: Number
  },
  methods: {
    selectDir (idDir) {
      this.$emit('selectDir', idDir)
    },
    addFolder (idParent) {
      this.$emit('addFolder', idParent)
    }
  }
}
</script>

<style scoped>

</style>
