<template>
<div class="chat__main">
<div class="chat-form__main">
  <div class="chat-form__main-title">С кем разговариваем</div>
  <div class="chat-form__main-check">
    <div class="check">
      <div
        class="check__item"
        v-for="m in managers"
        :key="m.id"
        @click="select('selectedManagers', m.id)"
        :class="{selected : -1 < selectedManagers.findIndex(item => item === m.id)}"
      >{{ m.name }}</div>
    </div>
  </div>
  <div class="chat-form__main-block">
    <div class="chat-form__main-title">Свой вариант</div>
    <input class="input">
  </div>
  <div class="chat-form__main-block">
    <div class="chat-form__main-title">Используется ли на предприятии преобразователи частоты или устройства плавного пуска?
      <div class="chat-form__main-check">
        <div class="check">
          <div
            class="check__item"
            v-for="q in questions"
            :key="q.id"
            @click="select('selectedQuestions', q.id)"
            :class="{selected : -1 < selectedQuestions.findIndex(item => item === q.id)}"
          >{{ q.name }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-form__main-submit">
    <button class="btn btn--red" @click="nextStep">Далее</button>
  </div>
</div>
</div>
</template>

<script>
/**
 * Компонент список
 */
export default {
  name: 'ChatForm',
  props: {
    managers: Array,
    questions: Array
  },
  data () {
    return {
      selectedManagers: [], // поисковй запрос
      selectedQuestions: [], // поисковй запрос
      searchTimerId: undefined // id таймера при поиске
    }
  },
  methods: {
    /**
     * Добавить в масиив выбранный id.
     *
     * @param {string} key - название массива.
     * @param {string} id  - выбранный id.
     */
    select (key, id) {
      let indexToRemove = this[key].findIndex(item => item === id)
      if (indexToRemove === -1) {
        this[key].push(id)
      } else {
        this[key].splice(indexToRemove, 1)
      }
    },
    /**
     *  Клик по кнопке далее
     *
    */
    nextStep () {
      this.$emit('nextStep', {
        managers: this.selectedManagers,
        questions: this.selectedQuestions
      })
    }
  }
}
</script>

<style scoped>
.selected {
  border-color: #6a6a6a;
}
</style>
