<template>
<div class="chat__rooms">
  <header class="chat-rooms__header">
    <div class="search">
      <input class="search__input" placeholder="Поиск" @keyup="search" v-model="searchString"/>
      <div class="search__icon">
        <svg>
          <use xlink:href="assets/sprite.svg#glass"></use>
        </svg>
      </div>
    </div>
  </header>
  <div class="chat-rooms__body">
    <ul class="chat-form__list" data-controller="chat-form-list">
      <li class="chat-form__list-title"  @click="openList" :class="{active: showList}"><a class="chat-form__list-link">Анкета</a></li>
      <li class="chat-form__list-item active"><a class="chat-form__list-link">Анкета</a></li>
      <li
        class="chat-form__list-item"
        v-for="l in list"
        :key="l.id"
      >
        <a class="chat-form__list-link click" @click="selectItem(l.id)">{{l.name}}</a>
      </li>
    </ul>
  </div>
</div>
</template>

<script>

/**
 * Компонент список чат для страницы 'Техническая поддержка'
 */
export default {
  name: 'ChatFormList',
  props: {
    list: Array,
    searchInterval: Number
  },
  data () {
    return {
      searchString: '', // поисковй запрос
      searchTimerId: undefined, // id таймера при поиске
      showList: false
    }
  },
  methods: {
    /**
     *  Открыть список в мобильной версии
    */
    openList () {
      this.showList = !this.showList
    },
    /**
     *  Поиск.
     *  Отправляет в родительский компонет поисковый запрос
    */
    search () {
      clearTimeout(this.searchTimerId)
      this.searchTimerId = setTimeout(() => {
        this.$emit('search', this.searchString)
      }, this.searchInterval)
    },
    /**
     *  Выбрать чат.
     *  Отправляет в родительский компонет id выбранного чата
     *
     * @param {number} id - id записи из списка
    */
    selectItem (id) {
      this.$emit('selectItem', id)
    }
  }
}
</script>

<style scoped>
.click {
  cursor: pointer;
}
</style>
