<template>
  <div class="course course--lg-btn">
    <div class="title">{{title}}</div>
    <div
      class="course__sub"
      v-if="numberOfParticipants"
    >Максимально участника : {{numberOfParticipants}}</div>
    <div class="course__holder">
      <div class="course__item" v-for="c in showCourses" :key="c.id">
        <div class="course__item-content">
          <div class="course__title">
            <div class="course__title-txt">{{c.title}}</div>
            <div class="course__title-info">
              <svg>
                <use xlink:href="assets/sprite.svg#user"></use>
              </svg>
              <span>{{`${c.number} \\ ${c.maxNumber}`}}</span>
            </div>
          </div>
          <div class="course__text">{{c.text}}</div>
        </div>
        <div class="course__item-btn">
          <div class="btn" :class="btnCss(c.status)" @click="clickBtn(c.status)">{{btnText(c.status)}}</div>
        </div>
      </div>
    </div>
    <div class="course__more">
      <div class="btn btn--inline" @click="showMore">{{
            showCourses.length >= countShow ? "Показать еще" : "Скрыть"
          }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Courses',
  props: {
    courses: Array,
    numberOfParticipants: Number,
    title: String,
    show: Number
  },
  data () {
    return {
      showCourses: [],
      countShow: 0
    }
  },
  methods: {
    showMore () {
      if (this.showCourses.length >= this.countShow) {
        this.countShow *= 2
        this.showCourses = this.courses.filter((el, i) => i < this.countShow)
      } else {
        this.countShow = this.show
        this.showCourses = this.courses.filter((el, i) => i < this.countShow)
      }
    },
    btnText (status) {
      switch (status) {
        case 'new':
          return 'Новая заявка'
        case 'approved':
          return 'Заявка одобрена'
        case 'timeAgreed':
          return 'Время согласовано'
        case 'addCourse':
          return 'Подать заявку'
        default:
          return 'Заявка'
      }
    },
    btnCss (status) {
      switch (status) {
        case 'new':
          return ''
        case 'approved':
          return 'btn--gbd'
        case 'timeAgreed':
          return 'btn--bbd'
        case 'addCourse':
          return 'btn--red'
        default:
          return ''
      }
    },
    clickBtn (status) {
      this.$emit('btnClick', status)
    }
  },
  mounted () {
    this.showCourses = this.courses.filter((el, i) => i < this.show)
    this.countShow = this.show
  }
}
</script>

<style scoped>
.js-scroll {
  overflow: auto;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.btn {
  margin-left: 10px;
}
.noClick {
  cursor: default;
}
</style>
