<template>
  <q-modal v-model="isShow" minimized ref="modalRef">
     <div tabindex="-1" class="modal-content popup">
      <div class="popup_close" @click="close"><q-icon name="highlight_off"/></div>
      <div class="popup__body">
        <div class="popup__title">Заявка на курс</div>
        <div class="popup__form">
          <div>
            <div class="popup__form-row">
              <input class="input" placeholder="Название курса" v-model="curse.name">
            </div>
            <div class="popup__form-row">
              <input class="input" placeholder="Количество человек" v-model="curse.count">
            </div>
            <div class="popup__form-row">
              <input class="input" placeholder="Тема курса" v-model="curse.theme">
            </div>
            <div class="popup__form-row">
              <label class="input-file">
                <input class="input" :placeholder="filePlaceholder" type="file" @change="getFile"/>
                <div class="input-file__placeholder">{{ filePlaceholder }}</div>
                <div class="input-file__placeholder"></div>
                <div class="input-file__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19" height="17" viewBox="0 0 19 17">
                    <g>
                      <g transform="translate(-615 -915)">
                        <path id="pf3fa" d="M629.14 921.87s.77-.56.18-1.13c-.58-.57-1.15.16-1.15.16l-5.88 5.7s-1.37 1.73-2.42.69c-1.04-1.05.7-2.35.7-2.35l7.7-7.48s1.8-1.92 3.5-.28c1.69 1.64-.3 3.39-.3 3.39l-8.66 8.4s-2.77 3.1-5.33.61c-2.57-2.49.66-5.14.66-5.14l6.58-6.38s.73-.6.18-1.13c-.55-.54-1.17.18-1.17.18l-7.54 7.31s-2.85 3.03.33 6.11c3.18 3.09 6.3.33 6.3.33l10.37-10.06s2.08-2.22-.4-4.62c-2.47-2.4-4.76-.39-4.76-.39l-8.92 8.66s-2.28 1.8-.2 3.8c2.07 2.02 3.89-.23 3.89-.23z"></path>
                      </g>
                    </g>
                  </svg>
                </div>
              </label>
            </div>
          </div>
          <div class="popup__form-submit">
            <button class="btn btn--red btn--inline" @click="submit">Отправить</button>
          </div>
        </div>
      </div>
    </div>
  </q-modal>
</template>

<script>

/**
 * Компонент модально окно
 */
export default {
  name: 'PopupNewCourse',
  props: {
    show: Boolean,
    biteInMb: Number
  },
  computed: {
    isShow: {
      get: function () {
        return this.show
      },
      set: function (newValue) {
        this.$emit('close', this.curse)
      }
    }
  },
  data () {
    return {
      curse: {},
      filePlaceholder: 'Загрузка файла'
    }
  },
  methods: {
    /**
     * Закрыть окно
    */
    close () {
      this.isShow = false
    },
    submit () {
      this.$emit('submit', this.curse)
    },
    getFile () {
      this.curse.file = window.event.target.files[0]
      this.filePlaceholder = `${this.curse.file.name} ${(this.curse.file.size / this.biteInMb).toFixed(2)} MB`
    }
  }
}
</script>

<style scoped>
.popup {
  display: block;
}
.popup__body {
  width: 460px;
}
.popup__title {
  text-align: center;
}
.js-scroll {
  overflow: auto;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.popup_close {
  font-size: 25px;
  cursor: pointer;
  transition: color 0.4s;
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup_close:hover {
  color:  #78909c;
}
.dateInput {
  float: left;
  margin-left: 38px;
  margin-bottom: 10px;
}
.dateInput:first-child {
   margin-left: 0px;
}
.popup__scroll-item {
  cursor: pointer;
}
</style>
