<template>
  <q-modal v-model="isShow" minimized ref="modalRef">
    <div tabindex="-1" class="modal-content popup">
      <div class="popup_close" @click="close">
        <q-icon name="highlight_off"/>
      </div>
      <div class="popup__body">
        <div class="popup__title">{{ title }}</div>
        <div class="popup__form">
          <div>
            <div class="popup__form-row">
              <input class="input" placeholder="Заголовок" v-model='name'>
            </div>
            <div class="popup__form-row">
              <textarea class="textarea" placeholder="Описание задачи" v-model='description'></textarea>
            </div>

            <div class='popup__form-label'>Дедлайн</div>

            <div class="display_flex">
              <div class="box_col">
               <DatePicker
                text="Дата"
                lang="ru"
                v-model="date"
                :not-before="Date.now()"
                :shortcuts="false"
                placeholder="Дата"
                class="dateAddInput"
                format="DD.MM.YYYY"
              />
              </div>
              <div class="box_col">
               <DatePicker
                lang="ru"
                type="time"
                format="HH:mm"
                v-model="time"
                placeholder="Время"
                class="dateAddInput"
                :time-picker-options="timePickerOptions"
              />
              </div>
            </div>

            <div class="display_grid">

            <div class="grid_col">
              <span class="popup__form-label">Ответственный</span>
              <q-select
                chips
                color="primary"
                multiple
                v-model="responsibles"
                :options="responsibleList"
              />
             </div>

             <div class="grid_col">
             <span class="popup__form-label">Партнеры</span>
              <q-select
                chips
                color="primary"
                multiple
                v-model="partners"
                :options="partnerList"
              />
            </div>

            </div>
          </div>
          <div class="popup__form-submit">
            <button class="btn btn--red btn--inline" @click="save">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
  </q-modal>
</template>

<script>
import DatePicker from 'vue2-datepicker'

/**
 * Компонент модально окно
 */
export default {
  name: 'PopupAddTask',
  components: {DatePicker},
  props: {
    show: Boolean,
    title: String,
    partnerList: Array,
    responsibleList: Array
  },
  computed: {
    isShow: {
      get: function () {
        return this.show
      },
      set: function (newValue) {
        this.$emit('close')
      }
    }
  },
  data () {
    return {
      date: undefined,
      time: undefined,
      timePickerOptions: {
        start: '00:00',
        step: '00:01',
        end: '24:00'
      },
      name: '',
      description: '',
      partners: [],
      responsibles: []
    }
  },
  methods: {
    close () {
      this.isShow = false
    },
    save () {
      console.log(typeof this.time)
      this.$emit('save', {
        date: this.date,
        time: this.time,
        title: this.name,
        description: this.description,
        partners: this.partners,
        responsibles: this.responsibles
      })
      this.isShow = false
    }
  }
}
</script>

<style>
.popup {
  display: block;
}
.popup__body {
  width: 460px;
}
.popup__title {
  text-align: center;
}
.input_select {
  border: 1px solid #d3dbea;
  border-radius: 4px;
  font-family: "Myriad Pro";
  width: 100%;
  margin: 0px;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.popup_close {
  font-size: 25px;
  cursor: pointer;
  transition: color 0.4s;
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup_close:hover {
  color: #78909c;
}
.dateInput {
  float: left;
  margin-left: 38px;
  margin-bottom: 10px;
}
.dateInput:first-child {
  margin-left: 0px;
}
.popup__scroll-item {
  cursor: pointer;
}
.popup__form-row--sm .popup__form-label {
  padding-right: 10px;
  padding-left: 10px;
}

.popup__form-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86;
  display: block;
  width: 100%;
  margin-bottom: 11px;
  padding-top: 13px;
  color: #343434;
}

.display_flex {
  display: flex;
  align-items: stretch;
}
.display_flex>*:last-child {
  margin-left: 42px;
}
.text_block {
  color:  #000;
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 25px;
  font-weight: bold;
}
.popup__form-label {
  font-size: 16px;
  color:  #000;
}
.q-chip-main {
  font-size: 14px !important;
  margin-right: 20px;
}
.q-chip {
  display: block;
}
.q-input-chips {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}

</style>
