<template>
  <div class="task-head">
    <div class="task-head__col"><span class="task-head__title">Прогресс развития</span>
      <ul class="task-head__list">
        <li class="task-head__item">
          <div class="task-head__link" @click="pdf">
            <img class="task-head__icon" src="statics/icons/icon-pdf.png"><span class="task-head__txt">PDF</span>
          </div>
        </li>
        <li class="task-head__item">
          <div class="task-head__link" @click="doc">
            <img class="task-head__icon" src="statics/icons/icon-doc.png"><span class="task-head__txt">DOC</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="task-head__col">
        <q-knob
          v-model="percentTasks"
          size="80px"
          style="font-size: 1.5rem"
          color="primary"
          line-width="5px"
          track-color="white"
          readonly
        />
        <div class='percent_task'> {{parseInt(percentTasks) ? parseInt(percentTasks) : 0}}% </div>
    </div>
    <div class="task-head__col width180">
      <q-select
        class="input_select"
        color="white"
        separator
        v-model="selectCompany"
        :options="companyList"
      />
    </div>
  </div>
</template>

<script>

/**
 * Компонент список уведомлений в шапке
 */
export default {
  name: 'TasksHead',
  props: {
    percentTasks: Number,
    companyList: Array
  },
  data () {
    return {
      selectCompany: ''
    }
  },
  watch: {
    selectCompany: function (val) {
      this.$emit('onSelectCompany', val)
    }
  },
  methods: {
    pdf () {
      this.$emit('pdf')
    },
    doc () {
      this.$emit('doc')
    }
  }
}
</script>

<style scoped>
.task-head__col {
  position: relative;
}
.percent_task {
  position: absolute;
  top: 36px;
  left: 25px;
}
.input_select {
  border: 1px solid #d3dbea;
  border-radius: 4px;
  font-family: 'Myriad Pro';
}
.input_select:before, .input_select:after {
  border: none;
}
.width180 {
  width: 180px;
}
.task-head__link {
  cursor: pointer;
}
</style>
