<template>
  <div class="task__wrap" data-controller="task-accordion">
    <div class="task__row" v-for="company in tasks" :key="company.id">
      <div
      class="task__btn"
      :class="{active: openTask === company.id }"
      ><span class="task__title" @click="openTasks(company.id)">{{company.companyName}}</span>

      <div class="task-head__col">
        <ul class="task-head__list">
          <li class="task-head__item">
            <div class="task-head__link" @click="pdf">
              <img class="task-head__icon" src="statics/icons/icon-pdf.png"><span class="task-head__txt">PDF</span>
            </div>
          </li>
          <li class="task-head__item">
            <div class="task-head__link" @click="doc">
              <img class="task-head__icon" src="statics/icons/icon-doc.png"><span class="task-head__txt">DOC</span>
            </div>
          </li>
        </ul>
      </div>

      <span class="task__sub" @click="openTasks(company.id)"><img src="assets/icon-task.png"> {{company.tasks.length}}</span>
      <div class="task-head__col">
          <q-knob
            v-model="complitedPercent[company.id]"
            size="60px"
            style="font-size: 10px"
            color="primary"
            line-width="5px"
            track-color="white"
            readonly
          />
        <div class='percent_task'> {{complitedPercent[company.id]}}% </div>
      </div>
      </div>
      <div class="task__collapse js-task-collapse" :class="{active_tasks: openTask === company.id }">
        <div class="task__box" v-for="task in company.tasks" :key="task.id">
          <div class="task__inner" @mouseover="selectTask(task)">
            <div class="task__header">
              <span class="task__caption js-task-sub-btn" @click="openActions(`${company.id}_${task.id}`)">{{task.title}}
                <span class="task__name">{{task.manager}}</span>
              </span>
              <span class="task__desc">{{task.description}}</span>
              <div class="task__info">
                <div class="task__bar" style="width: 50px">
                  <div class="task__progress" style="width: 100%"></div>
                  <span class="task__val">{{task.donePercents}}%</span>
                </div>
                <div class="task__bar" style="background-color: #fff; width: 200px;">
                <q-slider
                    v-model="task.donePercents"
                    :min="0"
                    :max="100"
                    :step="1"
                    @input="val => { сhangeTaskPercent(val) }"
                  />
                </div>
                <span class="task__sub js-task-sub-btn"><img src="assets/icon-task.png"> {{task.actions.length}}</span>
                <span class="task__info-partners" v-if="task.partner">Партнер <img :src="task.partner"></span>
                <time class="task__info-date">{{task.date}}</time>
              </div>
            </div>
            <div class="task__footer js-task-sub-collapse" :class="{active_tasks: openAction === `${company.id}_${task.id}` }">
              <span class="task__subject">Активности<div class="task__create"  @click="showAddActionPopup">Создать активность</div></span>
              <div class="task__footer-wrap" v-for="action in task.actions" :key="action.id">
                <label class="task__footer-icon">
                  <input type="checkbox" @click="doneAction(action)" ><span></span>
                </label>
                <div class="task__footer-holder"><span class="task__footer-title">{{action.title}}<span class="task__footer-time">
                 <span>{{action.date}}</span></span></span><span class="task__footer-txt">{{action.description}}</span>
                  <div class="task__footer-row">
                    <div class="task__footer-col" data-controller="file-name"><span class="task__footer-label">Прикрепленные файлы
                      <span class="js-file-btn"  @click="showFiles(`${company.id}_${task.id}_${action.id}`)">Развернуть</span></span>
                      <ul class="task__footer-list">
                        <li class="task__footer-item" v-for="file in action.files" :key="file.id">
                          <div class="task__footer-file js-file" :class="{show: showFile === `${company.id}_${task.id}_${action.id}` }">
                            <img class="task__footer-img" src="assets/file.png">
                            <span class="task__footer-text">{{file.name}}</span>
                          </div>
                        </li>
                        <li class="task__footer-item">
                          <label class="file">
                            <input type="file" @change="addFile"><span></span>
                          </label>
                        </li>
                      </ul>
                    </div>
                    <div class="task__footer-col" v-if="action.responsible"><span class="task__footer-label">Ответственные</span>
                      <ul class="task__footer-list">
                        <li class="task__footer-item" v-for="(resp, index) in action.responsible" :key="index">
                          <span class="task__footer-name">{{resp}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

/**
 * Компонент список уведомлений в шапке
 */
export default {
  name: 'TasksList',
  props: {
    tasks: Array,
    complitedPercent: Object
  },
  data () {
    return {
      openTask: undefined,
      openAction: undefined,
      showFile: undefined,
      currentTask: undefined
    }
  },
  methods: {
    pdf () {
      this.$emit('pdf')
    },
    doc () {
      this.$emit('doc')
    },
    openTasks (id) {
      this.openTask === id ? this.openTask = undefined : this.openTask = id
    },
    openActions (id, task) {
      this.openAction === id ? this.openAction = undefined : this.openAction = id
    },
    showFiles (id) {
      this.showFile === id ? this.showFile = undefined : this.showFile = id
    },
    selectTask (task) {
      this.currentTask = task
    },
    doneAction (action) {
      this.$emit('onDoneAction', action)
    },
    addFile () {
      this.$emit('onAddFile', window.event.target.files[0])
    },
    showAddActionPopup () {
      this.$emit('onShowAddActionPopup')
    },
    сhangeTaskPercent (percent) {
      this.$emit('onChangeTaskPercent', {
        percent: percent,
        task: this.currentTask
      })
    }
  }
}
</script>

<style>
.active_tasks {
  display: block;
}
.task__bar, .task__create, .task__title, .task-head__link {
  cursor: pointer;
}
.task-head__col {
  position: relative;
}
.percent_task {
  position: absolute;
  top: 25px;
  left: 17px;
}
.task__btn {
  cursor: default;
}
.q-slider-track {
  height: 24px;
  top: 12px;
}
.q-slider-track {
  border-radius: 24px;
}
.q-slider {
  color: #31c975;
}
.task__bar {
  background-color: none;
}
.q-slider-handle {
  top: 12px;
  display: none;
}

.q-slider-handle-container {
  border-radius: 24px;
  overflow: hidden;
  height: 24px;
}
.active-track {
  border-radius: 0px !important;
}

.task__caption::before {
  position: absolute;
  top: 12px;
  left: -3px;
  width: 9px;
  height: 9px;
  margin-top: -6px;
  content: '';
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
}
.task__header {
  position: relative;
  padding-left: 20px;
}
</style>
