<template>
  <div class="task-top">
    <div class="task-top__row">
      <div class="task-top__col">
      <span class="task-top__title">Задачи
      <div class="task-top__create" @click="showAddTaskPopup">Создать задачу</div>
      </span><span class="task-top__name">Менеджер: {{manager}}</span></div>
      <div class="task-top__col task-top__col--right">
        <div  class="input_select_sort_lable">
          Сортировать по :
        </div>
        <q-select
          class="input_select input_select_sort"
          color="white"
          separator
          v-model="sortType"
          :options="sortTypes"
        />

      </div>
    </div>
    <div class="task-top__row">
      <div class="task-top__col task-top__col--full">
        <div class="task-top__form">
          <div class="task-top__form-holder">
            <input class="input" type="text" placeholder="Введите название компании" v-model="searchText">
             <q-select
              class="input_select js-select  input_select_company"
              color="white"
              separator
              v-model="selectCompany"
              :options="companyList"
            />

            <button class="btn" @click="search">Искать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * Компонент список уведомлений в шапке
 */
export default {
  name: 'TasksTop',
  props: {
    manager: String,
    sortTypes: Array,
    companyList: Array
  },
  data () {
    return {
      sortType: 1,
      selectCompany: '',
      searchText: ''
    }
  },
  watch: {
    selectCompany: function (val) {
      this.$emit('onSelectCompany', val)
    },
    searchText: function (val) {
      this.$emit('onSearchText', val)
    },
    sortType: function (val) {
      this.$emit('onSortType', val)
    }
  },
  methods: {
    search () {
      this.$emit('onSearch', {
        selectCompany: this.selectCompany,
        sortType: this.sortType,
        searchText: this.searchText
      })
    },
    showAddTaskPopup () {
      this.$emit('onShowAddTaskPopup')
    }
  }
}
</script>

<style scoped>
.input_select {
  border: 1px solid #d3dbea;
  border-radius: 4px;
  font-family: 'Myriad Pro';
}
.input_select:before, .input_select:after {
  border: none;
}

.input_select_sort {
  width: 120px;
  position: absolute;
  right: 19px;
  background-color: #fff;
  border-radius: 20px;
}

.task-top__col--right {
  position: relative;
}
.input_select_sort_lable {
  position: absolute;
  right: 137px;
  top: 14px;
}
.task-top__form .btn {
  width: 204px;
}
.task-top__form .input {
  width: calc(100% - 450px);
}

.input_select_company {
  width: 243px;
  margin-right: 0px;
  margin-left: 0px;
}
.task-top__create {
  cursor: pointer;
}
</style>
