<template>
<div class="c-call__form-block">
  <div class="c-call__main">

   <div
    class="c-call-item"
    data-controller="accordion"
    v-for="(l, index) in list"
    :key="l.id"
    :class="{active: activeId === l.id,  slideOn: activeId === l.id}"
    >
      <div
        class="c-call-item__header accordion-header"
        :class="{active : activeId === l.id }"
        @click="open(l.id)"
        >
        <div class="c-call-item__header-arrow">
          <svg class="icon-svg">
            <use xlink:href="assets/sprite.svg#back-arrow"></use>
          </svg>
        </div>
        <div class="c-call-item__header-icon" v-if="l.icon">
          <svg class="icon-svg  icon-boiler">
            <use :xlink:href="'assets/sprite.svg#' + l.icon"></use>
          </svg>
        </div>
        <div class="c-call-item__header-title">{{ l.name }}</div>
      </div>

      <div class="c-call-item__body accordion-body" :class="{block: activeId === l.id }">
        <!-- Вопросы -->
        <div v-for="q in l.questions" :key="q.id">
          <!-- Вопрос text-->
          <div class="chat-form__main-block" v-if="q.type === 'text'">
            <div class="chat-form__main-title">{{ q.title }}</div>
            <input class="input" :ref="`text_${l.id}_${q.id}`" v-model="customText[`${l.id}_${q.id}`]" @keyup="select(q.type, l.id, q.id)">
          </div>

          <!-- Вопрос radio-->
          <div class="chat-form__main-block" v-if="q.type === 'radio'">
            <div class="chat-form__main-title">{{ q.title }}
              <div class="chat-form__main-check">
                <div class="check">
                  <div v-for="(a, i) in q.answers" :key="a.id" :class="{btn_column: a.icon }">
                  <div
                    class="check__item"
                    :ref="`${l.id}_${q.id}`"
                    @click="select(q.type, l.id, q.id, a.id, i, a.text)"
                    :class="{selected: selectedBtn[`${l.id}_${q.id}`] === a.id, check__item_column : a.icon}"
                    :style="{width: a.width + 'px'}"
                    >{{ a.name }}</div>
                    <q-icon v-if="a.icon" :name="a.icon" class="btn_icon" :style="{color: a.color}"/>
                  </div>
                  </div>
              </div>
              <div class='info_text' v-if="showText
                && showText.text
                && showText.type === q.type
                && showText.answerId ===  selectedBtn[`${l.id}_${q.id}`]">{{ showText.text }}</div>
            </div>
          </div>

          <!-- Вопрос checkbox-->
          <div class="chat-form__main-block" v-if="q.type === 'checkbox'">
            <div class="chat-form__main-title">{{ q.title }}
              <div class="chat-form__main-check">
                <div class="check">
                  <div
                    class="check__item"
                    v-for="(a, i) in q.answers"
                    :key="a.id"
                    @click="select(q.type, l.id, q.id, a.id, i, a.text)"
                    :ref="`${l.id}_${q.id}_${a.id}`"
                    :class="{selected: selectedBtn[`${l.id}_${q.id}_${a.id}`]}"
                    >{{ a.name }}</div>
                  </div>
              </div>
              <div class='info_text' v-if="showText
                && showText.text
                && showText.type === q.type
                && selectedBtn[`${showText.itemId}_${showText.questionId}_${showText.answerId}`]">{{ showText.text }}</div>
            </div>
          </div>

        </div>

        <div class="chat-form__main-submit">
          <div class="btn btn--red" @click="nextStep(l.id)">
            <span v-if="(index + 1)== list.length">Завершить разговор</span>
            <span v-else>Далее</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</template>

<script>

/**
 * Компонент список чат для страницы 'Техническая поддержка'
 */
export default {
  name: 'CooldCallList',
  props: {
    list: Array,
    setAnswers: Object
  },
  data () {
    return {
      activeId: undefined,
      answers: {},
      selectedBtn: {},
      customText: {},
      showText: undefined
    }
  },
  methods: {
    /**
     *  Открыть список
    */
    open (id) {
      if (this.activeId === id) {
        this.activeId = undefined
      } else {
        this.activeId = id
      }
    },
    /**
     * Выбрать ответ на вопрос.
     *
     * @param {string} type       - тип вопроса.
     * @param {number} itemId     - id элемента списка.
     * @param {number} questionId - id вопроса.
     * @param {number} answerId   - id ответа.
     * @param {number} index      - номер по порядку.
     */
    select (type, itemId, questionId, answerId, index, text) {
      this[type](itemId, questionId, answerId, index)
      this.showText = {
        text: text,
        type: type,
        itemId: itemId,
        answerId: answerId,
        questionId: questionId
      }
    },
    /**
     * Выбрать ответ на вопрос с типом radio.
     *
     * @param {number} itemId     - id элемента списка.
     * @param {number} questionId - id вопроса.
     * @param {number} answerId   - id ответа.
     * @param {number} index      - номер по порядку.
     */
    radio (itemId, questionId, answerId, index) {
      this.$refs[`${itemId}_${questionId}`].forEach((item, i) => {
        if (index === i) {
          item.classList.toggle('selected')
        } else {
          item.classList.remove('selected')
        }
      })

      if (!this.answers[itemId]) this.answers[itemId] = []
      this.answers[itemId][questionId] = answerId
      this.selectedBtn[`${itemId}_${questionId}`] =
        this.selectedBtn[`${itemId}_${questionId}`] === answerId ? undefined : answerId
    },
    /**
     * Выбрать ответ на вопрос с типом radio.
     *
     * @param {number} itemId     - id элемента списка.
     * @param {number} questionId - id вопроса.
     * @param {number} answerId   - id ответа.
     */
    checkbox (itemId, questionId, answerId) {
      let htmlEl = this.$refs[`${itemId}_${questionId}_${answerId}`][0]
      htmlEl.classList.toggle('selected')
      if (!this.answers[itemId]) this.answers[itemId] = []
      if (!this.answers[itemId][questionId]) this.answers[itemId][questionId] = []

      let indexToRemove = this.answers[itemId][questionId].findIndex(item => item === answerId)
      if (indexToRemove === -1) {
        this.answers[itemId][questionId].push(answerId)
        this.selectedBtn[`${itemId}_${questionId}_${answerId}`] = true
      } else {
        this.answers[itemId][questionId].splice(indexToRemove, 1)
        this.selectedBtn[`${itemId}_${questionId}_${answerId}`] = false
      }
    },
    /**
     * Выбрать ответ на вопрос с типом radio.
     *
     * @param {number} itemId     - id элемента списка.
     * @param {number} questionId - id вопроса.
     */
    text (itemId, questionId) {
      if (!this.answers[itemId]) this.answers[itemId] = []
      this.answers[itemId][questionId] = this.customText[`${itemId}_${questionId}`]
    },
    /**
     *  Клик по кнопке далее
    */
    nextStep () {
      this.$emit('nextStep', {
        answers: this.answers,
        selectedBtn: this.selectedBtn,
        customText: this.customText
      })
    }
  },
  mounted () {
    this.answers = this.setAnswers ? this.setAnswers.answers : {}
    this.selectedBtn = this.setAnswers ? this.setAnswers.selectedBtn : {}
    this.customText = this.setAnswers ? this.setAnswers.customText : {}
  }
}
</script>

<style scoped>
.block {
  display: block;
  user-select: none;
}
.selected {
  border-color: #6a6a6a;
  color: #FFF;
  background-color: #6a6a6a;
}
.slideOn {
  animation-name: slideOn;
  -webkit-animation-name: slideOn;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes slideOn {
  0% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes slideOn {
  0% {
    -webkit-transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
.info_text {
  margin-top: 10px
}
.btn_column {
  width: 100%;
  margin-bottom: 10px;
}
.check__item_column {
  display: inline-flex;
}
.btn_icon {
  font-size: 30px
}
</style>
