<template>
  <q-modal v-model="isShow" minimized ref="modalRef">
     <div tabindex="-1" class="modal-content popup">
      <div class="popup_close" @click="close"><q-icon name="highlight_off"/></div>
      <div class="popup__body">
        <div class="popup__title">Изменить данные</div>
        <form class="popup__form">
          <div>
            <div class="popup__form-row">
              <input class="input" placeholder="Имя">
            </div>
            <div class="popup__form-row">
              <input class="input" placeholder="Фамилия">
            </div>
            <div class="popup__form-row">
              <input class="input" placeholder="Должность">
            </div>
            <div class="popup__form-row">
              <input class="input" placeholder="Эл. почта">
            </div>
            <div class="popup__form-row">
              <input class="input" placeholder="Телефон">
            </div>
          </div><a class="popup__form-link" href="#">Изменить пароль</a>
          <div class="popup__form-submit">
            <button class="btn btn--red btn--inline" type="submit">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </q-modal>
</template>

<script>

/**
 * Компонент модально окно
 */
export default {
  name: 'PopupEditData',
  props: {
    show: Boolean
  },
  computed: {
    isShow: {
      get: function () {
        return this.show
      },
      set: function (newValue) {
        this.$emit('close', 'editData')
      }
    }
  },
  data () {
    return {
      select: undefined,
      text: undefined
    }
  },
  methods: {
    /**
     * Закрыть окно
    */
    close () {
      this.isShow = false
    }
  }
}
</script>

<style scoped>
.popup {
  display: block;
}
.popup__title {
  text-align: center;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.popup_close {
  font-size: 25px;
  cursor: pointer;
  transition: color 0.4s;
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup_close:hover {
  color:  #78909c;
}
</style>
