<template>
  <q-modal v-model="isShow" minimized ref="modalRef">
   <div tabindex="-1" class="modal-content news-popup popup">
      <div class="popup_close" @click="close"><q-icon name="highlight_off"/></div>
      <div class="news-popup__header">14 июля, 2018</div>
      <div class="news-popup__title">
        <div class="news-popup__title-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="32" viewBox="0 0 20 32">
            <g>
              <g transform="translate(-316 -1192)">
                <path d="M335.427 1195.382l-10.632 10.632h7.112a1.96 1.96 0 0 1 1.52.56 1.986 1.986 0 0 1 0 2.808l-14.045 14.045a1.986 1.986 0 0 1-2.809-2.809l10.632-10.632h-7.113a1.96 1.96 0 0 1-1.519-.56 1.986 1.986 0 0 1 0-2.808l14.045-14.045a1.986 1.986 0 1 1 2.809 2.81z"></path>
              </g>
            </g>
          </svg>
        </div>
        <div class="news-popup__title-txt">Ветер, саранча и дедлайн: как мы строили электроподстанцию</div>
      </div>
      <div class="news-popup__img"><img src="assets/news-img.jpg" alt="img"></div>
      <div class="news-popup__body">
        <p class="news-popup__body-txt">Коллеги попросили меня рассказать про то, как мы строили подстанцию на автомобильном заводе в южном регионе. Ниже будут все ужасы нашего городка, включая отечественный автопром и взаимодействие с китайскими и корейскими подрядчиками. </p>
        <div class="news-popup__quote">
          <div class="news-popup__quote-icon"></div>
          <div class="news-popup__quote-txt">Отечественный автопром (почти) решил в 2012 году построить завод на юге. Модель была такая: нужно не заниматься реализацией, а собирать автомобили.</div>
        </div>
        <p class="news-popup__body-txt news-popup__body-txt--mb">Почему это всё интересно? Потому что подходы в строительстве совсем не такие, как при разработке ИТ-продукта. Было много совещаний: приезжаешь в 6 утра, отчитываешься, что было сделано за ночь, потому что прошлое совещание было в 21:00 вчера. Слушает тебя 8-9 человек. Главный энергетик, главный инженер и там еще много-много всяких…исполнительный директор, технический директор. Бывает, не успеваешь пробежать по всей территории, даже снять всю информацию, а тебе уже надо на новое совещание идти. </p>
        <p class="news-popup__body-txt">Был момент, когда работали в стужу и ветрище, который сносил машины с трассы. Мы монтировали, а там задул ветер, перевернул «Матиз» и уронил несколько рекламных щитов на трассе в Элисту. Идёшь — тебя вообще продувает вовсю. Зимние спецовки не спасали. Даже «газель» в конце легла набок. </p>
      </div>
      <div class="news-popup__footer">
        <div class="btn btn--inline btn--red-border"> <span>Мне не нравится      </span></div>
        <div class="btn btn--inline btn--green-border"> <span>Мне нравится</span></div>
      </div>
    </div>
  </q-modal>
</template>

<script>

/**
 * Компонент модально окно
 */
export default {
  name: 'PopupNews',
  props: {
    show: Boolean
  },
  computed: {
    isShow: {
      get: function () {
        return this.show
      },
      set: function (newValue) {
        this.$emit('close', 'news')
      }
    }
  },
  data () {
    return {
      select: undefined,
      text: undefined
    }
  },
  methods: {
    /**
     * Закрыть окно
    */
    close () {
      this.isShow = false
    }
  }
}
</script>

<style scoped>
.popup {
  display: block;
}
.popup__title {
  text-align: center;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.popup_close {
  font-size: 25px;
  cursor: pointer;
  transition: color 0.4s;
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup_close:hover {
  color:  #78909c;
}
</style>
