<template>
  <q-modal v-model="isShow" minimized ref="modalRef">
     <div tabindex="-1" class="modal-content popup">
      <div class="popup_close" @click="close"><q-icon name="highlight_off"/></div>
      <div class="popup__body">
        <div class="popup__title">Запросы</div>
        <form class="popup__form">
          <div>
            <div class="popup__form-row" v-for="r in requests" :key="r.id">
              <div class="accept-block" data-controller="accept-block">
                <div class="accept-block__title">{{r.name}}</div>
                <div class="accept-block__btn" :class="{active: activeOk === r.id}"  @click="ok(r.id)">
                  <svg class="icon-svg icon-check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 11">
                    <path d="M 0.16 6.04 A 0.6 0.6 0 0 1 0 5.66 a 0.6 0.6 0 0 1 0.16 -0.39 l 0.76 -0.77 a 0.51 0.51 0 0 1 0.75 0 l 0.05 0.06 l 2.96 3.25 c 0.11 0.1 0.27 0.1 0.38 0 L 12.28 0.15 h 0.05 a 0.51 0.51 0 0 1 0.75 0 l 0.76 0.77 c 0.21 0.22 0.21 0.55 0 0.77 l -8.62 9.14 a 0.48 0.48 0 0 1 -0.37 0.17 a 0.48 0.48 0 0 1 -0.38 -0.17 L 0.27 6.21 Z"></path>
                  </svg>
                </div>
                <div class="accept-block__btn" :class="{active: activeNo === r.id}" @click="no(r.id)">
                  <svg class="icon-svg icon-cross-accept" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.0055 19.9995">
                    <g transform="translate(-2766.99 -1281)">id="defs3">
                      <path d="M 2780.09 1291 l 6.784 -6.781 a 0.417 0.417 0 0 0 0 -0.59 l -2.507 -2.506 a 0.417 0.417 0 0 0 -0.59 0 l -6.783 6.782 l -6.785 -6.782 a 0.43 0.43 0 0 0 -0.59 0 l -2.506 2.506 a 0.417 0.417 0 0 0 0 0.59 l 6.784 6.782 l -6.784 6.781 a 0.417 0.417 0 0 0 0 0.59 l 2.507 2.506 a 0.417 0.417 0 0 0 0.59 0 l 6.784 -6.782 l 6.784 6.782 a 0.417 0.417 0 0 0 0.59 0 l 2.506 -2.506 a 0.417 0.417 0 0 0 0 -0.59 Z"></path>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="popup__form-submit">
            <button class="btn btn--red btn--inline">Подтвердить</button>
          </div>
        </form>
      </div>
    </div>
  </q-modal>
</template>

<script>

/**
 * Компонент модально окно
 */
export default {
  name: 'PopupRequests',
  props: {
    show: Boolean,
    requests: Array
  },
  computed: {
    isShow: {
      get: function () {
        return this.show
      },
      set: function (newValue) {
        this.$emit('close', 'requests')
      }
    }
  },
  data () {
    return {
      select: undefined,
      text: undefined,
      activeOk: undefined,
      activeNo: undefined
    }
  },
  methods: {
    /**
     * Закрыть окно
    */
    close () {
      this.isShow = false
    },
    ok (id) {
      this.activeOk = id
    },
    no (id) {
      this.activeNo = id
    }
  }
}
</script>

<style scoped>
.popup {
  display: block;
}
.popup__title {
  text-align: center;
}
.accept-block__title {
  font-size: 14px;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.popup_close {
  font-size: 25px;
  cursor: pointer;
  transition: color 0.4s;
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup_close:hover {
  color:  #78909c;
}
</style>
