<template>
  <q-modal v-model="isShow" minimized ref="modalRef">
     <div tabindex="-1" class="modal-content popup">
      <div class="popup_close" @click="close"><q-icon name="highlight_off"/></div>
      <div class="popup__body">
        <div class="popup__title">Элементы формы</div>
        <div class="popup__form">

          <div class="temprow rc-mb">
            <label class="radio additional-class">
              <input type="radio" name="name" id="input-id" checked="checked"/><span>radio button text</span>
            </label>
            <label class="radio">
              <input type="radio" name="name"/><span>radio button text</span>
            </label>
          </div>

          <label class="checkbox additional-class">
            <input type="checkbox" id="input-id" checked="checked"/><span>checkbox button text</span>
          </label>
          <label class="checkbox">
            <input type="checkbox"/><span>checkbox button text</span>
          </label>

          <q-select
            class="input_select"
            filter
            color="white"
            v-model="select"
            :options="options"
          />

          <div class="popup__form-submit">
            <button class="btn btn--red btn--inline" type="submit">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
  </q-modal>
</template>

<script>

/**
 * Компонент модально окно
 */
export default {
  name: 'PopupEditData',
  props: {
    show: Boolean
  },
  computed: {
    isShow: {
      get: function () {
        return this.show
      },
      set: function (newValue) {
        this.$emit('close', 'template')
      }
    }
  },
  data () {
    return {
      select: undefined,
      options: [{
        label: 'Google',
        value: 'goog'
      }, {
        label: 'Facebook',
        value: 'fb'
      }, {
        label: 'Twitter',
        value: 'twtr'
      }, {
        label: 'Apple Inc.',
        value: 'appl'
      }, {
        label: 'Oracle',
        value: 'ora'
      }
      ]
    }
  },
  methods: {
    /**
     * Закрыть окно
    */
    close () {
      this.isShow = false
    }
  }
}
</script>

<style scoped>
.popup {
  display: block;
}
.popup__title {
  text-align: center;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.radio, .checkbox {
  margin-bottom: 10px;
}
.input_select {
  border: 1px solid #d3dbea;
  border-radius: 4px;
}
.input_select:before, .input_select:after {
  border: none;
}
.popup_close {
  font-size: 25px;
  cursor: pointer;
  transition: color 0.4s;
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup_close:hover {
  color:  #78909c;
}
</style>
