<template>
  <div class="device__body tabs" data-controller="tab">
    <div class="admin__block-title">{{name}}</div>
      <div class="device-option"
        v-for="d in data" :key="d.id"
        >
        <div
          class="device-option__row"
          data-controller="accordion"
          :class="{active: activeAccordionId === d.id,  slideOn: activeAccordionId === d.id}"
        >
          <div
             @click="openAccordion(d.id)"
            class="device-option__header accordion-header"
            :class="{active : activeAccordionId === d.id }"
          >
            <div class="vam-inner">
              <div class="device-option__header-icon"></div>
              <div class="device-option__header-title">{{ d.name }}</div>
            </div>
          </div>
          <div class="table table--table-00">
            <div class="table__body">
              <div
                class="c-call-item__body accordion-body"
                :class="{block: activeAccordionId === d.id }"
              >
                <div class="admin-item">

                  <ResContent v-if="d.resContentData" :data="d.resContentData"/>

                  <div class="admin-item__title admin-item__title--pt" v-if="d.selectData">{{ d.selectData.name }}</div>
                  <div class="admin-item__select" v-if="d.selectData">
                    <div class="admin-item__select-item">
                      <select @change="d.selectData.onChange($event)">
                        <option
                            v-for="o in d.selectData.options"
                            :key="o.key"
                            :value="o.key"
                            @click="selectValue(o)"
                            >{{o.value}}</option>
                      </select>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</template>

<script>

import ResContent from '../AdminRes/ResContent.vue'

export default {
  name: 'Accordion',
  components: { ResContent },
  props: {
    data: Array,
    name: String
  },
  data () {
    return {
      activeId: undefined,
      activeAccordionId: undefined
    }
  },
  methods: {
    onChange (event) {
      console.log(event.target.value)
    },
    openAccordion (id) {
      console.log(id)
      if (this.activeAccordionId === id) {
        this.activeAccordionId = undefined
      } else {
        this.activeAccordionId = id
      }
    }
  }
}
</script>

<style scoped>
.adder__txt-checked {
  display: block;
}
.block {
  display: block;
  user-select: none;
}
.selected {
  border-color: #6a6a6a;
  color: #fff;
  background-color: #6a6a6a;
}
.slideOn {
  animation-name: slideOn;
  -webkit-animation-name: slideOn;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes slideOn {
  0% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes slideOn {
  0% {
    -webkit-transform: scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
.info_text {
  margin-top: 10px;
}
div::-webkit-scrollbar {
  height: 3px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
</style>
