<template>
  <q-modal v-model="isShow" minimized ref="modalRef">
    <div class="popup" id="popup-add-company">
      <div class="popup_close" @click="close"><q-icon name="highlight_off"/></div>
      <div class="popup__body">
        <div class="popup__title">Задать вопрос</div>
        <div class="popup__form">
          <div>
            <div class="popup__form-row">
              <q-input class="input_select" placeholder="Тема" color="white" v-model="text"/>
            </div>
            <div class="popup__form-row">`
              <q-input type="textarea" rows="7" class="input_select" placeholder="Текст вопроса" color="white" v-model="text"/>
            </div>
            <div class="popup__form-row">
              <q-input class="input_select" placeholder="Название компании" color="white" v-model="text"/>
            </div>
            <div class="popup__form-row">
              <q-select
                class="input_select"
                :options="options"
                filter
                color="white"
                v-model="select"
              />
            </div>
            <div class="popup__title title">Ожидайте ответ в течении 60 минут</div>
          </div>
          <div class="popup__form-submit">
            <button class="btn btn--red btn--inline">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </q-modal>
</template>

<script>

/**
 * Компонент модально окно
 */
export default {
  name: 'AskQuestionModalWnd',
  props: {
    show: Boolean,
    options: Array
  },
  computed: {
    isShow: {
      get: function () {
        return this.show
      },
      set: function (newValue) {
        this.$emit('close', 'questiob')
      }
    }
  },
  data () {
    return {
      select: undefined,
      text: undefined
    }
  },
  methods: {
    /**
     * Закрыть окно
    */
    close () {
      this.isShow = false
    }
  }
}
</script>

<style scoped>
.popup {
  display: block;
}
.input_select {
  border: 1px solid #d3dbea;
  border-radius: 4px;
  font-family: 'Myriad Pro';
}
.input_select:before, .input_select:after {
  border: none;
}
.popup__title {
  text-align: center;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.popup_close {
  font-size: 25px;
  cursor: pointer;
  transition: color 0.4s;
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup_close:hover {
  color:  #78909c;
}
.title {
  text-align: center;
  font-size: 16px;
}
</style>
