<template>
  <q-modal v-model="isShow" minimized ref="modalRef">
    <div class="popup" id="popup-add-company">
      <div class="popup_close" @click="close"><q-icon name="highlight_off"/></div>
      <div class="popup__body">
        <div class="popup__title">{{title}}</div>
          <div class="popup__title title" v-html="text"></div>
       </div>
    </div>
    <div class='btn_block'>
      <button class="btn btn--red call__ctrl-btns--add" @click="yes">Да</button>
      <button class="btn btn--white call__ctrl-btns--add" @click="close" >Нет</button>
    </div>
  </q-modal>
</template>

<script>

/**
 * Компонент модально окно
 */
export default {
  name: 'YesNoModalWnd',
  props: {
    show: Boolean,
    text: String,
    title: String
  },
  computed: {
    isShow: {
      get: function () {
        return this.show
      },
      set: function (newValue) {
        this.$emit('close', 'yesNo', newValue)
      }
    }
  },
  methods: {
    /**
     * Закрыть окно
    */
    close () {
      this.isShow = false
    },
    yes () {
      this.isShow = true
    }
  }
}
</script>

<style scoped>
.popup {
  display: block;
  padding: 25px 30px 15px;
}
.input_select {
  border: 1px solid #d3dbea;
  border-radius: 4px;
  font-family: 'Myriad Pro';
}
.input_select:before, .input_select:after {
  border: none;
}
.popup__title {
  text-align: center;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.popup_close {
  font-size: 25px;
  cursor: pointer;
  transition: color 0.4s;
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup_close:hover {
  color:  #78909c;
}
.title {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}
.btn {
  float: left;
  width: 150px;
  margin: 10px;
}
.btn_block{
  width: 340px;
  margin: 0 auto;
}
</style>
