<template>
<div class="call-filter">
<div class="filter js-filter" data-controller="filter" :class="{opened: showFilters}">
  <div class="filter__mob-title js-show-mob-filter" @click="show">
    <span>Фильтровать</span>
  </div>
  <div class="filter__holder">
    <div class="filter__holder-layer" @click.self="show"></div>
    <div
      class="filter__cell"
      data-controller="filter-item"
      v-for="(f, index) in config"
      :key="f.key"
      :class="{ opened: selectFilter === f.key }"
    >
      <div class="filter__title" @click="open(f.key)">{{ f.name }}</div>
      <div class="filter__drop filter_date"
        v-if="f.type === 'dateRange'"
        :class="{'filter__drop--right':  index === (config.length - 1)}"
      >
        <DatePicker
          lang='ru'
          range
          range-separator="~"
          v-model="selectedDate[f.key]"
          :not-after="notAfter"
          :ref="f.key"
          :shortcuts="false"
        />
      </div>
      <div class="filter__drop"
        v-if="f.type === 'listChecbox'"
        :class="{'filter__drop--right': index === (config.length - 1)}"
      >
        <div class="check-block">
          <div class="search">
            <input class="search__input" placeholder="Поиск" v-model="searchStrings[f.key]"/>
            <div class="search__icon">
              <svg>
                <use xlink:href="assets/sprite.svg#glass"></use>
              </svg>
            </div>
          </div>
          <div  v-for="(d, i) in f.data" :key="i">
            <label
              class="check-block__item"
              v-if="!searchStrings[f.key] || ( searchStrings[f.key] && d.toLowerCase().indexOf(searchStrings[f.key].toLowerCase()) != -1 )"
              :class="{accent: selectedCheckBox[f.key+'_'+ i]}"
              >
              <input type="checkbox" class="checkbox" @click="setFilter(f.key, d)" :ref="f.key" v-model="selectedCheckBox[f.key+'_'+ i]"/>
              <div class="check-block__item-title"><span>{{ d }}</span>
                <div class="check-block__item-icon">
                  <svg class="icon-check">
                    <use xlink:href="assets/sprite.svg#check"></use>
                  </svg>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class='clear_filter' @click="resetFilter(f.key, f.type)"><q-icon name="clear" class='clear_filter'/></div>
    </div>
    <div class="filter__cell filter__cell--ctrl">
      <div class="filter__ctrl">
        <button class="filter__ctrl-clear" @click="resetFilters">Сбросить</button>
        <button class="filter__ctrl-filter btn btn--low-height" @click="filtered">Фильтровать</button>
      </div>
    </div>
  </div>
</div>
  <div class="layer" @click="open(undefined)" v-if="selectFilter"></div>
</div>
</template>

<script>
import DatePicker from 'vue2-datepicker'

/**
 * Компонент фильтры для страницы 'Холодные звонки'
 */
export default {
  name: 'CallFilters',
  components: { DatePicker },
  props: {
    config: Array,
    filter: Object
  },
  data () {
    return {
      selectFilter: undefined, // ключь выбранного фильтра
      selectedFilters: {}, // объект установленных фильтров
      selectedDate: {}, // объект установленных дат
      notAfter: Date.now(), // ограничение будущих дат в календаре
      searchStrings: {}, // поисковые строки для поиска среди фильтров
      selectedCheckBox: {}, // список выбраннх чекбоксов
      showFilters: false // показать фильтры
    }
  },
  methods: {
    /**
     * Открывает окно с фильтрами.
     *
     * @param {string} filterKey - ключь фильтра.
     */
    open (filterKey) {
      this.selectFilter = filterKey === this.selectFilter ? undefined : filterKey
    },
    /**
     * Устанавливает фильтры.
     *
     * @param {string} key - ключь фильтра.
     * @param {string} data - данные фильтра.
     */
    setFilter (key, data) {
      if (window.event.target.checked) {
        this.selectedFilters[key] ? this.selectedFilters[key].push(data)
          : this.selectedFilters[key] = [data]
      } else {
        let indexToRemove = this.selectedFilters[key].findIndex(item => item === data)
        this.selectedFilters[key].splice(indexToRemove, 1)
      }
    },
    /**
     * Отправляет данные фильтра в родительский компонент.
     */
    filtered () {
      let filters = {
        selectedChecboxFilters: this.selectedFilters,
        selectedDates: this.selectedDate,
        selectedChecbox: this.selectedCheckBox
      }

      this.$emit('filtered', filters)
    },
    /**
     * Сбросить установленный фильтр.
     */
    resetFilter (key, type) {
      switch (type) {
        case 'listChecbox':
          for (let checkBox in this.selectedCheckBox) {
            if (key === checkBox.split('_')[0]) {
              this.selectedCheckBox[checkBox] = false
            }
          }
          delete this.selectedFilters[key]
          this.filtered()
          break
        case 'dateRange':
          this.$refs[key][0].clearDate()
          delete this.selectedDate[key]
          this.filtered()
          break
      }
    },
    /**
     * Сбросить установленные фильтры.
     */
    resetFilters () {
      ['selectedFilters',
        'selectedDate',
        'selectedCheckBox'].forEach(key => {
        this[key] = {}
      })

      this.filtered()
    },
    /**
     * Показать фильтры
     */
    show () {
      this.showFilters = !this.showFilters
      // КОСТЫЛЬ НЕОБХОДИМО ИСПОЛЬЗОВАТЬ VUEX
      this.$parent.$parent.showFilter = !this.$parent.$parent.showFilter
    }
  },
  mounted () {
    this.selectedFilters = this.filter.selectedChecboxFilters
    this.selectedDate = this.filter.selectedDates
    this.selectedCheckBox = this.filter.selectedChecbox
  }
}
</script>

<style scoped>
.filter__drop {
  overflow-y: auto;
  max-height: 45vh;
}
.filter_date{
  overflow: visible;
  height: auto;
}
.clear_filter {
  float: right;
  cursor: pointer;
}
.clear_filter:hover {
  color: #c9060a;
}
.filter__cell {
  cursor: default;
}
.filter__title {
  cursor: pointer;
}

.layer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
}

@media (max-width: 1670px) {
  .filter__cell {
    padding: 10px 5px;
  }
}
</style>
