<template>
  <q-modal v-model="show" minimized no-backdrop-dismiss ref="modalRef">
    <div style="padding: 50px">
      <div class="q-display-1 q-mb-md" v-if="data">
        Редактирование<br/>Выбрали строку в таблице
      </div>
      <div class="q-display-1 q-mb-md" v-else>
        Добавление<br/>Не выбрали строку в таблице
      </div>
      <div class='btn_block'>
        <button class="btn btn--white call__ctrl-btns--add" @click="close">Закрыть</button>
        <button class="btn btn--red call__ctrl-btns--add" @click="edit" v-if="data">Редактировать</button>
        <button class="btn btn--red call__ctrl-btns--add" @click="add"  v-else>Добавить</button>
      </div>
    </div>
  </q-modal>
</template>

<script>

/**
 * Компонент модально окно
 */
export default {
  name: 'ModalWnd',
  props: {
    show: Boolean,
    data: Object
  },
  methods: {
    /**
     * Закрыть окно
     */
    close () {
      this.$emit('close')
    },
    /**
     * Редактируем данные
     */
    edit () {
      this.$emit('edit', this.data)
    },
    /**
     * Добавляем новые данные
     */
    add () {
      this.$emit('add', {
        object: ['Новые данные', 'Новые данные'],
        client: 'Новые данные',
        area: 'Новые данные',
        employee: 'Новые данные',
        partner: 'Новые данные',
        date: '22.06.18',
        potential: 'Новые данные'
      })
    }
  }
}
</script>

<style scoped>
.btn_block {

}
.btn{
  float: left;
  width: 150px;
  margin: 10px;
}

</style>
