<template>
  <div class="call__table" data-controller="call-table">
    <div class="call__table-holder">
      <div class="call-table call-table--default">
        <div class="call-table__head">
          <div class="call-table-r">
            <div
              class="call-table-c call-table__head-item call-table__cell"
              v-for="h in header"
              ref="headerCell"
              :key="h.key"
              :style="{'width': h.width + '%', 'text-align': h.headerAlign}"
            >{{ h.name }}</div>
          </div>
        </div>
        <VirtualList wclass="call-table__body" :size="40" :remain="11" :onscroll="setHeaderWidth">
          <div
            v-for="item in data"
            :key="item.id"
            class="call-table__row call-table-r"
            @click="select(item)"
            :class="{select_row: selectRowId === item.id}"
          >
            <div
              class="call-table-c call-table__cell"
              v-for="(h, index) in header"
              :key="item.id + '_' + h.key"
              ref="dataCell"
              :style="{'text-align': h.dataAlign, 'width': h.width + '%',}"
              :class="{fixed_cell: index === 0}"
            >
              <!-- функция click определена -->
              <div class="cell_inner" v-if="h.click" @click.stop="h.click(item)">
                <span v-if="Array.isArray(item[h.key])">
                  <div>{{ item[h.key][0] }}</div>
                  <div class="table_item-msg">{{ item[h.key][1] }}</div>
                  <span
                    class="table_item-count"
                    v-if="item[h.key][2] && Number.isInteger(item[h.key][2])"
                  >{{ item[h.key][2] }}</span>
                </span>
                <span v-else-if="typeof item[h.key] === 'object'">
                  <span v-if="item[h.key].type === 'link'">
                    <span class="table_link">{{ item[h.key].text }}</span>
                  </span>
                  <span v-else-if="item[h.key].type === 'img'">
                    <img :src="item[h.key].src" height="50">
                    <div v-if="item[h.key].text" class="table_img_text">{{ item[h.key].text }}</div>
                  </span>
                </span>
                <span v-else>{{ item[h.key] }}</span>
              </div>

              <!-- функция click не определена -->
              <div class="cell_inner" v-else>
                <span v-if="Array.isArray(item[h.key])">
                  <div>{{ item[h.key][0] }}</div>
                  <div class="table_item-msg">{{ item[h.key][1] }}</div>
                  <span
                    class="table_item-count"
                    v-if="item[h.key][2] && Number.isInteger(item[h.key][2])"
                  >{{ item[h.key][2] }}</span>
                </span>
                <span v-else-if="typeof item[h.key] === 'object'">
                  <span v-if="item[h.key].type === 'link'">
                    <a
                      class="table_link"
                      :href="item[h.key].url"
                      target="_blank"
                      :title="item[h.key].text"
                    >{{ item[h.key].text }}</a>
                  </span>
                  <span v-else-if="item[h.key].type === 'img'">
                    <span v-if="item[h.key].url">
                      <a
                        class="table_link"
                        :href="item[h.key].url"
                        target="_blank"
                        :title="item[h.key].text"
                      >
                        <img :src="item[h.key].src" height="50" :alt="item[h.key].text">
                        <div v-if="item[h.key].text" class="table_img_text">{{ item[h.key].text }}</div>
                      </a>
                    </span>
                    <span v-else>
                      <img :src="item[h.key].src" height="50">
                      <div v-if="item[h.key].text" class="table_img_text">{{ item[h.key].text }}</div>
                    </span>
                  </span>
                </span>
                <span v-else>{{ item[h.key] }}</span>
              </div>
            </div>
          </div>
        </VirtualList>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * Компонент таблица для страницы 'Холодные звонки'
 */

import VirtualList from 'vue-virtual-scroll-list'
export default {
  name: 'CallTable',
  components: { VirtualList },
  props: {
    header: Array,
    data: Array
  },
  data () {
    return {
      selectRowId: undefined // id выделенной строки
    }
  },
  methods: {
    /**
     * Открывает окно с фильтрами.
     *
     * @param {Object} row - объект из строки в таблице.
     */
    select (row) {
      this.selectRowId = row.id
      this.$emit('selectRow', row)
    },
    setHeaderWidth () {
      this.$refs.headerCell.forEach((element, index) => {
        let width = this.$refs.dataCell[index].offsetWidth
        element.style.width = width + 'px'
      })
    }
  },
  updated () {
    this.setHeaderWidth()
  },
  mounted () {
    this.setHeaderWidth()
  }
}
</script>

<style scoped>
.select_row {
  background-color: #edf3f7;
}
.call-table {
  height: 511px;
  overflow: hidden;
  display: block;
}
.call-table__body {
  height: 100%;
  overflow-y: auto;
  height: 500px;
}
.cell_inner {
  padding-left: 10px;
  padding-right: 10px;
}
.table_item-msg {
  color: #546e7a;
  margin-top: 3px;
  font-size: 12px;
  overflow: hidden;
  max-height: 48px;
}
.table_link {
  text-decoration: underline;
}
.table_link:hover {
  text-decoration: none;
}
.table_img_text {
  margin-top: 10px;
  margin-bottom: 10px;
}
.table_item-count {
  background-color: #3f51b5;
  color: #fff;
  font-size: 10px;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 5px;
  border-radius: 10px;
  position: absolute;
  right: 3px;
  top: 3px;
}
.call-table__cell {
  position: relative;
  padding: 0;
  height: 70px;
}
.call-table__head {
  width: 100%;
}
.call-table__head-item {
  vertical-align: middle;
}
.call-table__mob-col {
  position: relative;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
@media (max-width: 767px) {
  .call-table__cell {
    display: none;
  }
  .fixed_cell {
    width: 100vw !important;
    display: table-cell;
    opacity: 1;
  }
  .call-table {
    width: 100%;
    display: flex;
    height: 440px;
  }
  .call__table {
    margin-right: 0px;
  }
  .call-table__head {
    display: none;
  }
}
</style>
