<template>
  <div class="page__content">
    <div class="container">
      <div class="admin">
        <div class="admin__title">
          <div class="title">Заявки</div>
          <div
            class="btn btn--inline btn--red"
            @click="showWnd"
          >Заявка на подбор</div>
        </div>
        <Accordion :data="accordionConf" name="Титул объекта"/>
      </div>
    </div>
    <SelectBlueprintPopup
      :show="showSelectBlueprintPopup"
      @close="closeSelectBlueprintPopup"
      @submit="submitSelectBlueprintPopup"
      :biteInMb="biteInMb"
      title="Подбор преобразователя"
    />
  </div>
</template>

<script>
import Accordion from '../components/Admin/Accordion.vue'
import SelectBlueprintPopup from '../components/Object/PopupSelectBlueprint.vue'
import { BYTE_IN_MEGABYTE } from '../constants'

export default {
  name: 'AdminRes',
  components: { Accordion, SelectBlueprintPopup },
  data () {
    return {
      showSelectBlueprintPopup: false,
      biteInMb: BYTE_IN_MEGABYTE,
      accordionConf: [{
        id: 1,
        name: 'Не могу найти все документы',
        resContentData: [
          {
            id: 1,
            title: 'Технические характеристики',
            type: 'simpelData',
            data: [{
              id: 1,
              field1: 'Распределительная мощность',
              field2: '093028'
            },
            {
              id: 2,
              field1: 'Распределительная мощность',
              field2: '093028'
            },
            {
              id: 3,
              field1: 'Распределительная мощность',
              field2: '093028'
            },
            {
              id: 4,
              field1: 'Распределительная мощность',
              field2: '093028'
            }
            ]
          }, {
            id: 2,
            title: 'Документы',
            type: 'downloadData',
            data: [
              {
                id: 1,
                field1: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti & Basic line)',
                link: '/img/logo.png'
              },
              {
                id: 2,
                field1: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti & Basic line)',
                link: '/img/logo.png'
              },
              {
                id: 3,
                field1: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti & Basic line)',
                link: '/img/logo.png'
              },
              {
                id: 4,
                field1: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti & Basic line)',
                link: '/img/logo.png'
              }
            ]
          },
          {
            id: 3,
            title: 'Опросный лист',
            type: 'simpelData',
            data: [
              {
                id: 1,
                field1: 'Допустимая нагрузкаь',
                field2: '093028'
              },
              {
                id: 2,
                field1: 'Допустимая нагрузкаь',
                field2: '093028'
              },
              {
                id: 3,
                field1: 'Допустимая нагрузкаь',
                field2: '093028'
              },
              {
                id: 4,
                field1: 'Допустимая нагрузкаь',
                field2: '093028'
              }
            ]
          }
        ],
        selectData: {
          name: 'Ответственный',
          onChange: evetn => console.log(event.target.value),
          options: [{
            key: 0,
            value: 'Выбрать ответственного'
          }, {
            key: 1,
            value: 'Сергей Михайлович'
          }, {
            key: 2,
            value: 'Сергей Михайлович'
          }, {
            key: 3,
            value: 'Сергей Михайлович'
          }, {
            key: 4,
            value: 'Сергей Михайлович'
          }]
        }
      }]
    }
  },
  methods: {
    showWnd () {
      this.showSelectBlueprintPopup = true
    },
    closeSelectBlueprintPopup (data) {
      console.log(data)
      this.showSelectBlueprintPopup = false
    },
    submitSelectBlueprintPopup (data) {
      console.log(data)
      this.showSelectBlueprintPopup = false
    }
  }
}
</script>

<style scoped>
</style>
