<template>
  <div class="page__content">
    <div class="container">
      <div class="blueprint">
        <div class="blueprint__title">
          <div class="title">Схемы электрические принципиальные</div>
          <div class="btn btn--inline btn--red" @click="showWnd">Запрос на схему</div>
        </div>
        <ScrollList
          :title="scrollListData.title"
          :header="scrollListData.header"
          :data="scrollListData.data"
          @rowClick="rowClick"
        />
        <ScrollList
          :title="scrollListData2.title"
          :header="scrollListData2.header"
          :data="scrollListData.data"
          @rowClick="rowClick"
        />
        <SelectBlueprintPopup
          :show="showSelectBlueprintPopup"
          @close="closeSelectBlueprintPopup"
          @submit="submitSelectBlueprintPopup"
          :biteInMb="biteInMb"
          title="Подбор преобразователя"
        />
      </div>
    </div>
  </div>
</template>

<script>

import ScrollList from '../components/Teacher/ScrollList.vue'
import SelectBlueprintPopup from '../components/Object/PopupSelectBlueprint.vue'
import { BYTE_IN_MEGABYTE } from '../constants'

export default {
  name: 'Object',
  components: { ScrollList, SelectBlueprintPopup },
  data () {
    return {
      showSelectBlueprintPopup: false,
      biteInMb: BYTE_IN_MEGABYTE,
      scrollListData: {
        title: {
          name: 'Схемы',
          headerHeight: 10
        },
        header: [
          {
            id: 1,
            key: 'name'
          },
          {
            id: 2,
            key: 'document'
          }
        ],
        data: [
          {
            id: 1,
            name: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti &amp; Basic line)',
            document: {
              name: 'Скачать',
              download: '/img/logo.png'
            }
          },
          {
            id: 2,
            name: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti &amp; Basic line)',
            document: {
              name: 'Скачать',
              download: '/img/logo.png'
            }
          },
          {
            id: 3,
            name: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti &amp; Basic line)',
            document: {
              name: 'Скачать',
              download: '/img/logo.png'
            }
          },
          {
            id: 4,
            name: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti &amp; Basic line)',
            document: {
              name: 'Скачать',
              download: '/img/logo.png'
            }
          },
          {
            id: 5,
            name: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti &amp; Basic line)',
            document: {
              name: 'Скачать',
              download: '/img/logo.png'
            }
          },
          {
            id: 6,
            name: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti &amp; Basic line)',
            document: {
              name: 'Скачать',
              download: '/img/logo.png'
            }
          },
          {
            id: 7,
            name: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti &amp; Basic line)',
            document: {
              name: 'Скачать',
              download: '/img/logo.png'
            }
          }
        ]
      },
      scrollListData2: {
        title: {
          name: 'Заявки',
          headerHeight: 10
        },
        header: [
          {
            id: 1,
            key: 'name'
          }
        ],
        data: [
          {
            id: 1,
            name: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti &amp; Basic line)'

          },
          {
            id: 2,
            name: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti &amp; Basic line)'
          },
          {
            id: 3,
            name: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti &amp; Basic line)'
          },
          {
            id: 4,
            name: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti &amp; Basic line)'
          },
          {
            id: 5,
            name: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti &amp; Basic line)'
          },
          {
            id: 6,
            name: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti &amp; Basic line)'
          },
          {
            id: 7,
            name: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti &amp; Basic line)'
          }
        ]
      }
    }
  },
  methods: {
    showWnd () {
      this.showSelectBlueprintPopup = true
    },
    rowClick (row) {
      console.log(row)
    },
    closeSelectBlueprintPopup (data) {
      console.log(data)
      this.showSelectBlueprintPopup = false
    },
    submitSelectBlueprintPopup (data) {
      console.log(data)
      this.showSelectBlueprintPopup = false
    }
  }
}
</script>

<style scoped>
</style>
