<template>
  <div class="page__content">
    <div class="container">
      <div class="call" data-controller="call">
        <div class="title">Холодные звонки</div>
        <div class="call__ctrl">
          <div class="call__ctrl-search">
            <div class="search search--collapsed-mob" :class="{shown: showSearchInput}">
              <input
                class="search__input"
                placeholder="Поиск"
                @keyup="search"
                v-model="searchString"
              >
              <div class="search__icon" @click="showSearch">
                <svg>
                  <use xlink:href="assets/sprite.svg#glass"></use>
                </svg>
              </div>
            </div>
          </div>

          <div class="call__ctrl-btns">
            <div class="chat-main__ctrl-menu" @click="showBtn">
              <svg class="icon-svg icon-menu-point">
                <use xlink:href="assets/sprite.svg#menu-point"></use>
              </svg>
            </div>
            <div class="button-call-table" :class="{active: showBtnList}">
              <div class="button-call-row">
                <div class="call__ctrl-btns--xls button-call-cell">
                  <div class="button-download">
                    <div class="button-download__icon button-download__icon--green">
                      <div class="button-download__icon-text">xls</div>
                    </div>
                    <div class="button-download__text">
                      <div class="button-download__text-title no-wrap">Отчет</div>
                      <div class="button-download__text-sub no-wrap">Скачать xls</div>
                    </div>
                  </div>
                </div>
                <div class="call__ctrl-btns--graph button-call-cell">
                  <div class="button-download">
                    <div class="button-download__icon button-download__icon--red">
                      <svg class="icon-graph">
                        <use xlink:href="assets/sprite.svg#graph"></use>
                      </svg>
                    </div>
                    <div class="button-download__text">
                      <div class="button-download__text-title no-wrap">График</div>
                      <div class="button-download__text-sub no-wrap">Звонков</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="button-call-row">
                <div class="call__ctrl-btns--graph button-call-cell">
                  <div class="button-download">
                    <div class="button-download__icon button-download__icon--red">
                      <svg class="icon-graph">
                        <use xlink:href="assets/sprite.svg#graph"></use>
                      </svg>
                    </div>
                    <div class="button-download__text">
                      <div class="button-download__text-title no-wrap">Длинннннный</div>
                      <div class="button-download__text-sub no-wrap">текккккксссст</div>
                    </div>
                  </div>
                </div>
                <div class="call__ctrl-btns--graph button-call-cell">
                  <div class="button-download">
                    <div class="button-download__icon button-download__icon--red">
                      <svg class="icon-graph">
                        <use xlink:href="assets/sprite.svg#graph"></use>
                      </svg>
                    </div>
                    <div class="button-download__text">
                      <div class="button-download__text-title no-wrap">Длинннннный</div>
                      <div class="button-download__text-sub no-wrap">текккккксссст</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn--red call__ctrl-btns--add" @click="addCall">Добавить звонок</button>
          </div>
        </div>
        <Filters :config="filterConfig" @filtered="filtered" :filter="filter"/>
        <Table :header="tableConfig.header" :data="tableConfig.data" @selectRow="selectRow"/>
        <ModalWnd
          :show="showModalWnd"
          :data="selectedRow"
          @close="closeModalWnd"
          @edit="editCallData"
          @add="addCallData"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Table from '../components/Call/Table.vue'
import Filters from '../components/Call/Filters.vue'
import Filter from '../types/Filter.js'
import ModalWnd from '../components/Call/ModalWnd.vue'
import {SEARCH_INTERVAL} from '../constants'

/**
 * Страница 'Холодные звонки'
 */
export default {
  name: 'PageCall',
  components: { Table, Filters, ModalWnd },
  computed: {
    filter: {
      get: function () {
        return this.$store.getters.filter
      },
      set: function (newValue) {
        this.$store.commit('set', {type: 'filter', items: newValue})
      }
    }
  },
  data () {
    return {
      showModalWnd: false, // показать модальное окно
      searchString: '', // поисковй запрос
      searchTimerId: undefined, // id таймера
      searchInterval: SEARCH_INTERVAL, // количесвто секунд для ожидания пользовательского ввода
      selectedRow: undefined, // выделеная строка в таблице
      showSearchInput: false, // показать инпут для ввода поиска
      showBtnList: false, // показать список с кнопкаим над табицей
      tableConfig: { // демо данные для таблицы
        header: [{
          key: 'object',
          name: 'Объект для обзвона',
          width: 30,
          headerAlign: 'center'
        }, {
          key: 'client',
          name: 'Клиент',
          width: 20,
          headerAlign: 'center',
          dataAlign: 'center',
          click: data => {
            alert('Click')
            console.log(data)
          }
        }, {
          key: 'area',
          name: 'Область',
          width: 10
        }, {
          key: 'employee',
          name: 'Сотрудник',
          width: 10,
          headerAlign: 'center',
          dataAlign: 'center'
        }, {
          key: 'partner',
          name: 'Компания партнер',
          width: 10,
          headerAlign: 'center',
          dataAlign: 'center'
        }, {
          key: 'date',
          name: 'Дата звонка',
          width: 10,
          headerAlign: 'center'
        }, {
          key: 'potential',
          name: 'Потенциал',
          width: 10,
          headerAlign: 'center',
          dataAlign: 'center'
        }],
        data: [{
          id: 1,
          object: ['Объект для обзвона', 'Хлеб и мука', 7],
          client: {
            type: 'img',
            src: '/statics/img/logo.png',
            text: 'Адрей',
            url: 'partner/techmerch/'
          },
          area: {
            type: 'img',
            src: '/statics/img/logo.png',
            text: 'Адрей',
            url: 'partner/techmerch/'
          },
          employee: 'Kristina Kaluznaja',
          partner: {
            url: 'partner/techmerch/',
            text: 'Techmerch',
            type: 'link'
          },
          date: '22.06.18',
          potential: 'Danfoss'
        }, {
          id: 2,
          object: ['Объект для обзвона', 'Хлеб и мука', 7],
          client: {
            type: 'img',
            src: '/statics/img/logo.png'
          },
          area: 'Нет',
          employee: 'Kristina Kaluznaja',
          partner: 'Techmerch',
          date: '22.06.18',
          potential: 'Danfoss'
        }, {
          id: 3,
          object: ['Объект для обзвона', 'Хлеб и мука', 7],
          client: {
            type: 'img',
            src: '/statics/img/logo.png',
            text: 'Адрей'
          },
          area: 'Нет',
          employee: 'Kristina Kaluznaja',
          partner: 'Techmerch',
          date: '22.06.18',
          potential: 'Danfoss'
        }, {
          id: 4,
          object: ['Объект для обзвона', 'Хлеб и мука', 7],
          client: {
            type: 'img',
            src: '/statics/img/logo.png',
            url: 'partner/techmerch/'
          },
          area: 'Нет',
          employee: 'Kristina Kaluznaja',
          partner: 'Techmerch',
          date: '22.06.18',
          potential: 'Danfoss'
        }, {
          id: 5,
          object: ['Объект для обзвона', 'Хлеб и мука', 7],
          client: 'Андрей',
          area: 'Нет',
          employee: 'Kristina Kaluznaja',
          partner: 'Techmerch',
          date: '22.06.18',
          potential: 'Danfoss'
        }, {
          id: 6,
          object: ['Объект для обзвона', 'Хлеб и мука', 7],
          client: 'Андрей',
          area: 'Нет',
          employee: 'Kristina Kaluznaja',
          partner: {
            url: 'partner/techmerch/',
            text: 'Techmerch',
            type: 'link'
          },
          date: '22.06.18',
          potential: 'Danfoss'
        }, {
          id: 8,
          object: ['Объект для обзвона', 'Хлеб и мука', 7],
          client: 'Андрей',
          area: 'Нет',
          employee: 'Kristina Kaluznaja',
          partner: {
            url: 'partner/techmerch/',
            text: 'Techmerch',
            type: 'link'
          },
          date: '22.06.18',
          potential: 'Danfoss'
        }, {
          id: 9,
          object: ['Объект для обзвона', 'Хлеб и мука', 7],
          client: 'Андрей',
          area: 'Нет',
          employee: 'Kristina Kaluznaja',
          partner: 'Techmerch',
          date: '22.06.18',
          potential: 'Danfoss'
        }, {
          id: 10,
          object: ['Объект для обзвона', 'Хлеб и мука', 7],
          client: 'Андрей',
          area: 'Нет',
          employee: 'Kristina Kaluznaja',
          partner: 'Techmerch',
          date: '22.06.18',
          potential: 'Danfoss'
        }]
      },
      filterConfig: [ // демо данные для фильра
        {
          key: 'object',
          name: 'Объект для обзвона',
          type: 'listChecbox',
          data: ['Pavel Lihanov', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko']
        }, {
          key: 'client',
          name: 'Клиент',
          type: 'listChecbox',
          data: ['Pavel Lihanov', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko']
        }, {
          key: 'area',
          name: 'Область',
          type: 'listChecbox',
          data: ['Pavel Lihanov', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko']
        }, {
          key: 'employee',
          name: 'Сотрудник',
          type: 'listChecbox',
          data: ['Pavel Lihanov', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko']
        }, {
          key: 'partner',
          name: 'Компания партнер',
          type: 'listChecbox',
          data: ['Pavel Lihanov', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko']
        }, {
          key: 'date',
          name: 'Дата звонка',
          type: 'dateRange'
        }, {
          key: 'potential',
          name: 'Потенциал',
          type: 'listChecbox',
          data: ['Pavel Lihanov', 'Kristina Kaluznaja', 'Sergey Kostin', 'Vladimir Onovenko']
        }
      ]
    }
  },
  methods: {
    /**
     * Добавить звонок
     * Пока это демо функция
     */
    addCall () {
      this.showModalWnd = true
      console.log('ADD CALL')
    },
    /**
     * Закрыть модальное окно
     */
    closeModalWnd () {
      this.showModalWnd = false
    },
    /**
     * Редактировать данные в окне.
     * Пока это демо функция так как тербует связи с бекендом
     *
     * @param {Object} newCallData - новыве данные звонка.
     */
    editCallData (newCallData) {
      console.log(newCallData)
    },
    /**
     * Редактировать данные в окне.
     * Пока это демо функция так как тербует связи с бекендом
     *
     * @param {Object} newCallData - новыве данные звонка.
     */
    addCallData (newCallData) {
      console.log(newCallData)
      newCallData.id = this.tableConfig.data.length + 2
      this.tableConfig.data.unshift(newCallData)
    },
    /**
     * Получить установленные фильтры.
     * Пока это демо функция так как тербует связи с бекендом
     *
     * @param {Object} filters - все выбранные фильтры.
     */
    filtered (filters) {
      this.filter = new Filter(filters)
      console.log(this.filter)
    },
    /**
     * Поиск.
     * Пока это демо функция так как тербует связи с бекендом
     */
    search () {
      clearTimeout(this.searchTimerId)
      this.searchTimerId = setTimeout(() => {
        console.log(this.searchString)
      }, this.searchInterval)
    },
    /**
     * Показать кнопки над таблицей
     */
    showBtn () {
      console.log(this.showBtnList)
      this.showBtnList = !this.showBtnList
    },
    /**
     * Показать окно поиска
     * Пока это демо функция так как тербует связи с бекендом
     */
    showSearch () {
      console.log(this.showSearchInput)
      this.showSearchInput = !this.showSearchInput
    },
    /**
     * Выбор  строки в табице.
     * Пока это демо функция так как тербует связи с бекендом
     *
     * @param {Object} row - объект строки в таблице.
     */
    selectRow (row) {
      this.selectedRow = row
      console.log(row)
    }
  },
  mounted () {
    // this.$data.tableConfig.data = []
    for (let i = 1; i < 3000; i++) {
      this.$data.tableConfig.data.push({
        id: i + 10,
        object: ['Объект для обзвона', 'В списке вопросов нужно видеть количество новых сообщений, если они есть. Для этого в компоненте “таблица” нужно предусмотреть столбец в котором будет количество новых сообщений и  соответственно нарисовать красивую иконку или как то прицепить к тексту вопроса ( на ваше усмотрение).Можно как в контакте. В списке вопросов нужно видеть количество новых сообщений, если они есть. Для этого в компоненте “таблица” нужно предусмотреть столбец в котором будет количество новых сообщений и  соответственно нарисовать красивую иконку или как то прицепить к тексту вопроса ( на ваше усмотрение).Можно как в контакте. В списке вопросов нужно видеть количество новых сообщений, если они есть. Для этого в компоненте “таблица” нужно предусмотреть столбец в котором будет количество новых сообщений и  соответственно нарисовать красивую иконку или как то прицепить к тексту вопроса ( на ваше усмотрение).Можно как в контакте', i],
        client: {
          type: 'img',
          src: '/statics/img/logo.png',
          url: 'partner/techmerch/'
        },
        area: 'Нет',
        employee: 'Kristina Kaluznaja',
        partner: 'Techmerch',
        date: '22.06.18',
        potential: 'Danfoss'
      })
    }
  }
}
</script>

<style scoped>
.search__icon {
  cursor: pointer;
}
.button-download__text {
  user-select: none;
}
.button-download__icon {
  user-select: none;
}
.button-call {
  user-select: none;
}
.button-call-table {
  display: flex;
}
.button-call-row {
  display: flex;
}
@media (max-width: 1388px) {
  .search--collapsed-mob .search__input {
    visibility: hidden;
    opacity: 0;
  }
  .search--collapsed-mob {
    width: 28px;
  }
  .search--collapsed-mob.shown {
    width: 100%;
  }
  .search--collapsed-mob.shown .search__input {
    visibility: visible;
    opacity: 1;
  }

  .button-call-table {
    display: none;
    background-color: #fff;
    box-shadow: 1px 1px 20px rgba(142, 170, 206, 0.4);
    padding: 10px;
    position: absolute;
    z-index: 100;
    top: 50px;
    right: 160px;
  }

  .button-call-table.active {
    display: block;
  }
  .call__ctrl-btns--graph {
    padding-right: 0px;
  }

  .button-call-row {
    display: block;
  }

  .button-call-cell {
    display: block;
    width: 100%;
    margin: 10px 5px;
  }
  .chat-main__ctrl-menu {
    display: block;
    margin-right: 20px;
    cursor: pointer;
  }
}

@media (max-width: 400px) {
  .call__ctrl-search {
    top: -40px;
    width: 100%;
  }

  .call__ctrl-btns--add {
    width: 80%;
    margin-top: 10px;
    z-index: 3;
  }
  .chat-main__ctrl-menu {
    display: block;
    width: 20%;
    margin-right: 0px;
    cursor: pointer;
    z-index: 3;
  }
  .call__ctrl {
    margin-top: 50px;
  }
}
</style>
