<template>
  <div class="page__content">
    <div class="container">
      <div class="chat chat-form" data-controller="chat">
        <div class="title">Анкета</div>
        <div class="chat__back"><a class="back-btn" href="/#">Назад к списку</a>
        </div>
        <div class="chat__container">
          <List
            :list="list"
            :searchInterval="this.searchInterval"
            @selectItem="selectItem"
            @search="searchItem"
          />
          <Form
            :managers="formManagers"
            :questions="formQuestions"
            @nextStep="nextStep"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import List from '../components/ChatForm/List.vue'
import Form from '../components/ChatForm/Form.vue'
import { SEARCH_INTERVAL } from '../constants'

/**
 * Страница 'Форма чата'
 */
export default {
  name: 'PageChatForm',
  components: { List, Form },
  data () {
    return {
      searchInterval: SEARCH_INTERVAL, // количесвто секунд для ожидания пользовательского ввода
      list: [
        {
          id: 1,
          name: 'Основное'
        }, {
          id: 2,
          name: 'Вода'
        }, {
          id: 3,
          name: 'Котельная'
        }, {
          id: 4,
          name: 'Компресорная'
        }, {
          id: 5,
          name: 'Компресорная'
        }, {
          id: 6,
          name: 'Сбор контактных данных'
        }
      ],
      formManagers: [
        {
          id: 1,
          name: 'Охранник'
        }, {
          id: 2,
          name: 'Инженер'
        }, {
          id: 3,
          name: 'Технолог'
        }
      ],
      formQuestions: [
        {
          id: 1,
          name: 'Охранник'
        }, {
          id: 2,
          name: 'Инженер'
        }, {
          id: 3,
          name: 'Технолог'
        }
      ]
    }
  },
  methods: {
    /**
     * Поиск.
     * Пока это демо функция так как тербует связи с бекендом
     *
     * @param {string} searchStr - поисковый запрос.
     */
    searchItem (searchStr) {
      console.log(searchStr)
    },
    /**
     * Выбрать чат.
     * Пока это демо функция так как тербует связи с бекендом
     *
     * @param {number} id - id записи из списка
     */
    selectItem (id) {
      console.log(id)
    },
    /**
     * Событие при нажатии по кнопке далее
     *
     * @param {Object} selectedData - объект с выбранными данными.
     */
    nextStep (selectedData) {
      console.log(selectedData)
    }
  }
}
</script>
