<template>
<div class="page__content">
  <div class="container">
    <div class="chat" data-controller="chat">
    <div class="title">Технasdsdsdaическая поддержка</div>
    <div class="chat__back"><a class="back-btn" href="/#">Назад к списку</a>
    </div>
    <div class="chat__container">
      <ChatRooms
        :requests="requests"
        :showRooms="showRooms"
        :searchInterval="searchInterval"
        @search="search"
        @selectRoom="selectRoom"
      />
      <ChatRoom
        :room="room"
        :starCout="starCount"
        :byteInMegabyte="byteInMegabyte"
        :user="user"
        @sendMsg="sendMsg"
        @setRating="setRating"
        @deleteMsg="deleteMsg"
      />
       <YesNo
        :show="showYesNo"
        :text="msg.text"
        :title="'Удалить сообщение?'"
        @close="closeWnd"
      />
    </div>
  </div>
</div>
</div>
</template>

<script>
import ChatRooms from '../components/Chat/Rooms.vue'
import ChatRoom from '../components/Chat/Room.vue'
import {SHOW_CHAT_ROOMS, SEARCH_INTERVAL, COUNT_RATING_STAR, BYTE_IN_MEGABYTE} from '../constants'
import YesNo from '../components/Popup/custom/YesNoModalWnd.vue'

/**
 * Страница 'Техническая поддержка'
 */
export default {
  name: 'PageChat',
  components: { ChatRooms, ChatRoom, YesNo },
  data () {
    return {
      showYesNo: undefined,
      msg: {},
      user: { // Данныке пользователя который залогинился
        id: 123,
        type: 'employee'
      },
      showRooms: SHOW_CHAT_ROOMS, // количество чаиов открытых по умолчанию
      searchInterval: SEARCH_INTERVAL, // количесвто секунд для ожидания пользовательского ввода
      starCount: COUNT_RATING_STAR, // количесво звезд в рейтенге
      byteInMegabyte: BYTE_IN_MEGABYTE, // количество байт в мегабайте
      requests: [{ // демо данный для чатов
        id: 1,
        ava: 'assets/ava/02.png',
        userName: 'Андрей Жук',
        time: '12:21',
        title: 'Что с письмами?',
        msg: 'Elit excepteur in deserunt in deserunt nulla sed ut officia',
        status: 'online'
      }, {
        id: 2,
        ava: 'assets/ava/03.png',
        userName: 'Андрей Жук',
        time: '12:21',
        title: 'Что с письмами?',
        msg: 'Elit excepteur in deserunt in deserunt nulla sed ut officia',
        status: 'offline'
      }, {
        id: 3,
        ava: 'assets/ava/01.png',
        userName: 'Андрей Жук',
        time: '12:21',
        title: 'Что с письмами?',
        msg: 'Elit excepteur in deserunt in deserunt nulla sed ut officia',
        status: 'busy'
      }, {
        id: 4,
        ava: 'assets/ava/03.png',
        userName: 'Андрей Жук',
        time: '12:21',
        title: 'Что с письмами?',
        msg: 'Elit excepteur in deserunt in deserunt nulla sed ut officia',
        status: 'online'
      }, {
        id: 5,
        ava: undefined,
        userName: 'Андрей Жук',
        time: '12:21',
        title: 'Что с письмами?',
        msg: 'Elit excepteur in deserunt in deserunt nulla sed ut officia',
        status: 'offline'
      }, {
        id: 6,
        ava: undefined,
        userName: 'Андрей Жук',
        time: '12:21',
        title: 'Что с письмами?',
        msg: 'Elit excepteur in deserunt in deserunt nulla sed ut officia',
        status: 'busy'
      }, {
        id: 7,
        ava: undefined,
        userName: 'Андрей Жук',
        time: '12:21',
        title: 'Что с письмами?',
        msg: 'Elit excepteur in deserunt in deserunt nulla sed ut officia',
        status: 'online'
      }, {
        id: 8,
        ava: undefined,
        userName: 'Андрей Жук',
        time: '12:21',
        title: 'Что с письмами?',
        msg: 'Elit excepteur in deserunt in deserunt nulla sed ut officia',
        status: 'offline'
      }, {
        id: 9,
        ava: undefined,
        userName: 'Андрей Жук',
        time: '12:21',
        title: 'Что с письмами?',
        msg: 'Elit excepteur in deserunt in deserunt nulla sed ut officia',
        status: 'busy'
      }, {
        id: 10,
        ava: undefined,
        userName: 'Андрей Жук',
        time: '12:21',
        title: 'Что с письмами?',
        msg: 'Elit excepteur in deserunt in deserunt nulla sed ut officia',
        status: 'online'
      }],
      room: { // демо данный для чата
        id: 1,
        clientName: 'Сергей Клоков',
        deviceName: 'VLT Micro Drive FC 051',
        title: 'Что с письмами?',
        deviceUrl: 'VLTMicroDriveFC051',
        rating: 4,
        ava: 'assets/ava/01.png',
        chat: [{
          text: 'Привет',
          id: 1,
          type: 'client',
          time: '13.15',
          userName: 'Андрей Жук',
          userId: 12,
          ava: 'assets/ava/00.png'
        }, {
          text: 'Привет',
          id: 2,
          type: 'employee',
          time: '13.15',
          userName: 'Андрей Жук',
          userId: 13,
          ava: 'assets/ava/01.png'
        }, {
          text: 'Привет',
          id: 3,
          type: 'client',
          time: '13.15',
          userName: 'Андрей Жук',
          userId: 14,
          ava: 'assets/ava/02.png'
        }, {
          text: 'Привет',
          id: 4,
          type: 'employee',
          time: '13.15',
          userName: 'Андрей Жук',
          userId: 11,
          ava: 'assets/ava/03.png'
        }, {
          text: 'Привет',
          id: 5,
          type: 'employee',
          time: '13.15',
          userName: 'Андрей Жук',
          userId: 18,
          ava: 'assets/ava/00.png'
        }, {
          text: 'Привет',
          id: 6,
          type: 'client',
          time: '13.15',
          userName: 'Андрей Жук',
          userId: 122,
          ava: 'assets/ava/01.png',
          file: {
            name: 'file.png',
            size: 5423534564,
            url: '/statics/img/logo.png',
            type: 'image/png'
          }
        }, {
          text: 'Привет',
          id: 7,
          type: 'client',
          time: '13.15',
          userName: 'Андрей Жук',
          userId: 1,
          ava: 'assets/ava/02.png',
          file: {
            name: 'file.png',
            size: 5423534564,
            url: '/statics/img/logo.png',
            type: 'file/pdf'
          }
        }, {
          text: 'Привет',
          id: 8,
          type: 'employee',
          time: '13.15',
          userName: 'Андрей Жук',
          userId: 123,
          ava: 'assets/ava/01.png'
        }]
      }
    }
  },
  methods: {
    /**
     * Закрыть окно удаления.
     *
     * @param {string} type - тип окна.
     * @param {bool} yesNo - true / false.
     */
    closeWnd (type, yesNo) {
      if (yesNo) {
        this.room.chat.splice(this.room.chat.findIndex(x => x.id === this.msg.id), 1)
      }
      this.showYesNo = false
    },
    /**
     * Удалить сообщение.
     *
     * @param {Object} msg - объект сообщения.
     */
    deleteMsg (msg) {
      this.msg = msg
      this.showYesNo = true
    },
    /**
     * Поиск.
     * Пока это демо функция так как тербует связи с бекендом
     *
     * @param {string} searchStr - поисковый запрос.
     */
    search (searchStr) {
      console.log(searchStr)
    },
    /**
     * Выбрать чат.
     * Пока это демо функция так как тербует связи с бекендом
     *
     * @param {number} idRoom - id чата.
     */
    selectRoom (idRoom) {
      console.log(idRoom)
    },
    /**
     * Отправить сообщение.
     * Пока это демо функция так как тербует связи с бекендом
     *
     * @param {string} msg - текст сообщения.
     */
    sendMsg (msg) {
      let dt = new Date()

      if (msg.id) {
        this.room.chat.find(x => x.id === msg.id).text = msg.text
      } else {
        this.room.chat.push({
          text: msg.text,
          id: this.room.chat.length + 1,
          type: 'employee',
          time: `${dt.getHours()}:${dt.getMinutes()}`,
          ava: 'assets/ava/01.png',
          userId: 123,
          file: {
            name: 'file.png',
            size: 5423534564,
            url: '/statics/img/logo.png',
            type: 'file/pdf'
          }
        })
      }

      console.log(msg)
    },
    /**
     * Поиск.
     * Пока это демо функция так как тербует связи с бекендом
     *
     * @param {number} rating - рейтинг.
     */
    setRating (rating) {
      this.room.rating = rating
    }
  }
}
</script>
