<template>
  <div class="page__content">
    <div class="container">
      <div class="c-call">
        <div class="c-call__title">Холодные звонки</div>
        <div class="c-call__sub">Компания: Гидроэнергетика</div>
        <form class="c-call__form">
          <List :list="list" :setAnswers="answers" @nextStep="nextStep"/>
          <div class="c-call__form-block">
            <div class="c-call__notice-title">Заметки по беседе</div>
            <textarea
              class="c-call__notice"
              @keyup="setNotice"
              v-model="notice"
              placeholder="Заметки"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import List from '../components/CooldCall/List.vue'
import Form from '../components/ChatForm/Form.vue'
import Answers from '../types/Answers.js'

/**
 * Страница 'Форма чата'
 */
export default {
  name: 'CoolCall',
  components: { List, Form },
  computed: {
    answers: {
      get: function () {
        return this.$store.getters.answers
      },
      set: function (newValue) {
        this.$store.commit('set', { type: 'answers', items: newValue })
      }
    }
  },
  data () {
    return {
      notice: '',
      list: [
        {
          id: 1,
          name: 'Основное',
          icon: 'water',
          questions: [
            {
              id: 1,
              type: 'checkbox',
              title: 'Вопрос чекбокс?',
              answers: [
                {
                  id: 1,
                  name: 'Охранник',
                  text: 'Сокральный текст который появляется под копками'
                },
                {
                  id: 2,
                  name: 'Инженер'
                },
                {
                  id: 3,
                  name: 'Технолог',
                  text: 'Сокральный текст который появляется под копками'
                }
              ]
            },
            {
              id: 2,
              type: 'radio',
              title: 'Вопрос радиокнопка?',
              answers: [
                {
                  id: 1,
                  name: 'Потенциал не указан',
                  icon: 'mood_bad',
                  color: '#000000',
                  width: 290
                },
                {
                  id: 2,
                  name: 'Потенциал 0',
                  icon: 'sentiment_very_dissatisfied',
                  color: '#37474f',
                  width: 290
                },
                {
                  id: 3,
                  name: 'Надо позванивать, слабый потенциал',
                  icon: 'sentiment_dissatisfied',
                  color: '#039be5',
                  width: 290
                },
                {
                  id: 4,
                  name: 'Необходима встреча, есть потенциал',
                  icon: 'sentiment_satisfied',
                  color: '#ffea00',
                  width: 290
                },
                {
                  id: 5,
                  name: 'Близки к продаже, выявили потребность',
                  icon: 'sentiment_satisfied_alt',
                  color: '#43a047',
                  width: 290
                },
                {
                  id: 6,
                  name: 'Продали, срочная потребность',
                  icon: 'sentiment_very_satisfied',
                  color: '#b71c1c',
                  width: 290
                }
              ]
            },
            {
              id: 3,
              type: 'text',
              title: 'Впорос ответ с текстбоксом ?'
            }
          ]
        },
        {
          id: 2,
          name: 'Основное',
          icon: 'boiler',
          questions: [
            {
              id: 1,
              type: 'checkbox',
              title: 'Вопрос чекбокс?',
              answers: [
                {
                  id: 1,
                  name: 'Охранник',
                  text: 'Сокральный текст который появляется под копками'
                },
                {
                  id: 2,
                  name: 'Инженер'
                },
                {
                  id: 3,
                  name: 'Технолог'
                }
              ]
            },
            {
              id: 2,
              type: 'radio',
              title: 'Вопрос радиокнопка?',
              answers: [
                {
                  id: 1,
                  name: 'Да',
                  text: 'Сокральный текст который появляется под копками'
                },
                {
                  id: 2,
                  name: 'Нет'
                }
              ]
            },
            {
              id: 3,
              type: 'text',
              title: 'Впорос ответ с текстбоксом ?'
            }
          ]
        },
        {
          id: 3,
          name: 'Основное',
          icon: 'water',
          questions: [
            {
              id: 1,
              type: 'checkbox',
              title: 'Вопрос чекбокс?',
              answers: [
                {
                  id: 1,
                  name: 'Охранник',
                  text: 'Сокральный текст который появляется под копками'
                },
                {
                  id: 2,
                  name: 'Инженер'
                },
                {
                  id: 3,
                  name: 'Технолог'
                }
              ]
            },
            {
              id: 2,
              type: 'radio',
              title: 'Вопрос радиокнопка?',
              answers: [
                {
                  id: 1,
                  name: 'Да',
                  text: 'Сокральный текст который появляется под копками'
                },
                {
                  id: 2,
                  name: 'Нет'
                }
              ]
            },
            {
              id: 3,
              type: 'text',
              title: 'Впорос ответ с текстбоксом ?'
            }
          ]
        },
        {
          id: 4,
          name: 'Основное',
          icon: 'pen',
          questions: [
            {
              id: 1,
              type: 'checkbox',
              title: 'Вопрос чекбокс?',
              answers: [
                {
                  id: 1,
                  name: 'Охранник',
                  text: 'Сокральный текст который появляется под копками'
                },
                {
                  id: 2,
                  name: 'Инженер'
                },
                {
                  id: 3,
                  name: 'Технолог'
                }
              ]
            },
            {
              id: 2,
              type: 'radio',
              title: 'Вопрос радиокнопка?',
              answers: [
                {
                  id: 1,
                  name: 'Да',
                  text: 'Сокральный текст который появляется под копками'
                },
                {
                  id: 2,
                  name: 'Нет'
                }
              ]
            },
            {
              id: 3,
              type: 'text',
              title: 'Впорос ответ с текстбоксом ?'
            }
          ]
        },
        {
          id: 5,
          name: 'Основное',
          icon: 'water',
          questions: [
            {
              id: 1,
              type: 'checkbox',
              title: 'Вопрос чекбокс?',
              answers: [
                {
                  id: 1,
                  name: 'Охранник',
                  text: 'Сокральный текст который появляется под копками'
                },
                {
                  id: 2,
                  name: 'Инженер'
                },
                {
                  id: 3,
                  name: 'Технолог'
                }
              ]
            },
            {
              id: 2,
              type: 'radio',
              title: 'Вопрос радиокнопка?',
              answers: [
                {
                  id: 1,
                  name: 'Да',
                  text: 'Сокральный текст который появляется под копками'
                },
                {
                  id: 2,
                  name: 'Нет'
                }
              ]
            },
            {
              id: 3,
              type: 'text',
              title: 'Впорос ответ с текстбоксом ?'
            }
          ]
        },
        {
          id: 6,
          name: 'Основное',
          icon: 'water',
          questions: [
            {
              id: 1,
              type: 'checkbox',
              title: 'Вопрос чекбокс?',
              answers: [
                {
                  id: 1,
                  name: 'Охранник',
                  text: 'Сокральный текст который появляется под копками'
                },
                {
                  id: 2,
                  name: 'Инженер'
                },
                {
                  id: 3,
                  name: 'Технолог'
                }
              ]
            },
            {
              id: 2,
              type: 'radio',
              title: 'Вопрос радиокнопка?',
              answers: [
                {
                  id: 1,
                  name: 'Да',
                  text: 'Сокральный текст который появляется под копками'
                },
                {
                  id: 2,
                  name: 'Нет'
                }
              ]
            },
            {
              id: 3,
              type: 'text',
              title: 'Впорос ответ с текстбоксом ?'
            }
          ]
        },
        {
          id: 7,
          name: 'Основное',
          icon: 'fan',
          questions: [
            {
              id: 1,
              type: 'checkbox',
              title: 'Вопрос чекбокс?',
              answers: [
                {
                  id: 1,
                  name: 'Охранник',
                  text: 'Сокральный текст который появляется под копками'
                },
                {
                  id: 2,
                  name: 'Инженер'
                },
                {
                  id: 3,
                  name: 'Технолог'
                }
              ]
            },
            {
              id: 2,
              type: 'radio',
              title: 'Вопрос радиокнопка?',
              answers: [
                {
                  id: 1,
                  name: 'Да',
                  text: 'Сокральный текст который появляется под копками'
                },
                {
                  id: 2,
                  name: 'Нет'
                }
              ]
            },
            {
              id: 3,
              type: 'text',
              title: 'Впорос ответ с текстбоксом ?'
            }
          ]
        },
        {
          id: 8,
          name: 'Основное',
          icon: 'bolt1',
          questions: [
            {
              id: 1,
              type: 'checkbox',
              title: 'Вопрос чекбокс?',
              answers: [
                {
                  id: 1,
                  name: 'Охранник',
                  text: 'Сокральный текст который появляется под копками'
                },
                {
                  id: 2,
                  name: 'Инженер'
                },
                {
                  id: 3,
                  name: 'Технолог'
                }
              ]
            },
            {
              id: 2,
              type: 'radio',
              title: 'Вопрос радиокнопка?',
              answers: [
                {
                  id: 1,
                  name: 'Да',
                  text: 'Сокральный текст который появляется под копками'
                },
                {
                  id: 2,
                  name: 'Нет'
                }
              ]
            },
            {
              id: 3,
              type: 'text',
              title: 'Впорос ответ с текстбоксом ?'
            }
          ]
        }
      ]
    }
  },
  methods: {
    /**
     * Поиск.
     * Пока это демо функция так как тербует связи с бекендом
     *
     * @param {string} searchStr - поисковый запрос.
     */
    setNotice () {
      console.log(this.notice)
    },
    /**
     * Событие при нажатии по кнопке далее
     *
     * @param {Object} selectedData - объект с выбранными данными.
     */
    nextStep (answers) {
      this.answers = new Answers(answers)
      console.log(answers)
    }
  }
}
</script>

<style scoped>
@media (min-width: 768px) {
  .c-call__form-block:first-child {
    width: 70%;
  }
  .c-call__form-block:last-child {
    width: 30%;
  }
}
</style>
