<template>
  <div class="page__content">
    <div class="container">
      <div class="dashboard">
        <div class="dashboard__title">Рабочий стол</div>
        <Chart :options="options" :data="data" :selected="selected" @filter="filterChart"/>
        <div class="dashboard__block">
          <Notification
            :notifications="notifications"
            @select="selectNotification"
            @filter="filterNotification"
          />
          <Devices :devices="devices" @select="selectDevice" @filter="filterDevices"/>
        </div>
        <News :news="news" @select="selectNews"/>
      </div>
    </div>
  </div>
</template>

<script>
import Chart from '../components/Dashboard/Chart.vue'
import Notification from '../components/Dashboard/Notification.vue'
import Devices from '../components/Dashboard/Devices.vue'
import News from '../components/Dashboard/News.vue'
/**
 * Страница 'Рабочий стол'
 */
export default {
  name: 'Dashboard',
  components: { Chart, Notification, Devices, News },
  data () {
    return {
      selected: 'fb',
      options: [
        {
          label: 'Google',
          value: 'goog'
        },
        {
          label: 'Facebook',
          value: 'fb'
        }
      ],
      chartData: [
        [1167609600000, 1],
        [1167696000000, 3],
        [1167782400000, 4],
        [1167868800000, 1],
        [1167955200000, 3]
      ],
      news: [
        {
          id: 1,
          text:
            'Благодаря такому взаимодействию с окружением усиливается погружение игрока в игру. Оно делает окружение более реалистичным, и будем честными.',
          date: '14 июля, 2018',
          icon: 'bolt'
        },
        {
          id: 2,
          text:
            'Благодаря такому взаимодействию с окружением усиливается погружение игрока в игру. Оно делает окружение более реалистичным, и будем честными.',
          date: '14 июля, 2018',
          icon: 'bolt'
        },
        {
          id: 3,
          text:
            'Благодаря такому взаимодействию с окружением усиливается погружение игрока в игру. Оно делает окружение более реалистичным, и будем честными.',
          date: '14 июля, 2018',
          icon: 'msg'
        },
        {
          id: 4,
          text:
            'Благодаря такому взаимодействию с окружением усиливается погружение игрока в игру. Оно делает окружение более реалистичным, и будем честными.',
          date: '14 июля, 2018',
          icon: 'msg'
        },
        {
          id: 5,
          text:
            'Благодаря такому взаимодействию с окружением усиливается погружение игрока в игру. Оно делает окружение более реалистичным, и будем честными.',
          date: '14 июля, 2018',
          icon: 'msg'
        },
        {
          id: 6,
          text:
            'Благодаря такому взаимодействию с окружением усиливается погружение игрока в игру. Оно делает окружение более реалистичным, и будем честными.',
          date: '14 июля, 2018',
          icon: 'msg'
        },
        {
          id: 7,
          text:
            'Благодаря такому взаимодействию с окружением усиливается погружение игрока в игру. Оно делает окружение более реалистичным, и будем честными.',
          date: '14 июля, 2018',
          icon: 'msg'
        }
      ],
      notifications: [
        {
          id: 1,
          ava: 'assets/ava/00.png',
          text:
            'Здравствуйте, Sergey. Добро пожаловать в сервис «Личный кабинет». Пожалуйста, добавьте информацию о себе в настройках профиля.',
          date: '14 июля, 2018'
        },
        {
          id: 2,
          text:
            'Здравствуйте, Sergey. Добро пожаловать в сервис «Личный кабинет». Пожалуйста, добавьте информацию о себе в настройках профиля.',
          date: '14 июля, 2018'
        },
        {
          id: 3,
          ava: 'assets/ava/01.png',
          text:
            'Здравствуйте, Sergey. Добро пожаловать в сервис «Личный кабинет». Пожалуйста, добавьте информацию о себе в настройках профиля.',
          date: '14 июля, 2018'
        },
        {
          id: 4,
          text:
            'Здравствуйте, Sergey. Добро пожаловать в сервис «Личный кабинет». Пожалуйста, добавьте информацию о себе в настройках профиля.',
          date: '14 июля, 2018'
        },
        {
          id: 5,
          text:
            'Здравствуйте, Sergey. Добро пожаловать в сервис «Личный кабинет». Пожалуйста, добавьте информацию о себе в настройках профиля.',
          date: '14 июля, 2018'
        },
        {
          id: 6,
          ava: 'assets/ava/02.png',
          text:
            'Здравствуйте, Sergey. Добро пожаловать в сервис «Личный кабинет». Пожалуйста, добавьте информацию о себе в настройках профиля.',
          date: '14 июля, 2018'
        },
        {
          id: 7,
          text:
            'Здравствуйте, Sergey. Добро пожаловать в сервис «Личный кабинет». Пожалуйста, добавьте информацию о себе в настройках профиля.',
          date: '14 июля, 2018'
        },
        {
          id: 8,
          text:
            'Здравствуйте, Sergey. Добро пожаловать в сервис «Личный кабинет». Пожалуйста, добавьте информацию о себе в настройках профиля.',
          date: '14 июля, 2018'
        }
      ],
      devices: [
        {
          id: 1,
          name: 'Vacon20',
          description: 'Преобразователь частоты',
          notice: '2 новых документа',
          img: 'assets/device-01.png'
        },
        {
          id: 2,
          name: 'Vacon20',
          description: 'Преобразователь частоты',
          notice: '2 новых документа',
          img: 'assets/device-01.png'
        },
        {
          id: 3,
          name: 'Vacon20',
          description: 'Преобразователь частоты',
          notice: '2 новых документа',
          img: 'assets/device-01.png'
        },
        {
          id: 4,
          name: 'Vacon20',
          description: 'Преобразователь частоты',
          notice: '2 новых документа',
          img: 'assets/device-01.png'
        },
        {
          id: 5,
          name: 'Vacon20',
          description: 'Преобразователь частоты',
          notice: '2 новых документа',
          img: 'assets/device-01.png'
        },
        {
          id: 6,
          name: 'Vacon20',
          description: 'Преобразователь частоты',
          notice: '2 новых документа',
          img: 'assets/device-01.png'
        },
        {
          id: 7,
          name: 'Vacon20',
          description: 'Преобразователь частоты',
          notice: '2 новых документа',
          img: 'assets/device-01.png'
        }
      ]
    }
  },
  computed: {
    data: {
      set: function (val) {
        this.chartData = val
      },
      get: function () {
        return this.chartData
      }
    }
  },
  methods: {
    /**
     * Выбрать фильтры на гарфике.
     *
     * @param {Object} filter - фильтр.
     */
    filterChart (filter) {
      console.log(filter)
      if (this.data.length === 5) {
        this.data = [
          [1167609600000, 1],
          [1167696000000, 3],
          [1167782400000, 4],
          [1167868800000, 1],
          [1167955200000, 3],
          [1168214400000, 12],
          [1168300800000, 8],
          [1168387200000, 4],
          [1168473600000, 5],
          [1168560000000, 9],
          [1168819200000, 11],
          [1168905600000, 3],
          [1168992000000, 4],
          [1169078400000, 7]
        ]
      } else {
        this.data = [
          [1167609600000, 1],
          [1167696000000, 3],
          [1167782400000, 4],
          [1167868800000, 1],
          [1167955200000, 3]
        ]
      }
    },
    /**
     * Выбрать фильтры.
     *
     * @param {string} timeInterval - временной интервал.
     */
    filterNotification (timeInterval) {
      console.log(timeInterval)
    },
    /**
     * Выбрать фильтры.
     *
     * @param {string} timeInterval - временной интервал.
     */
    filterDevices (timeInterval) {
      console.log(timeInterval)
    },
    /**
     * Выбрать уведомление.
     *
     * @param {Object} notification - уведомление.
     */
    selectNotification (notification) {
      console.log(notification)
    },
    /**
     * Выбрать устройсво.
     *
     * @param {Object} notification - уведомление.
     */
    selectDevice (device) {
      console.log(device)
    },
    /**
     * Выбрать новость.
     *
     * @param {Object} news - новость.
     */
    selectNews (news) {
      console.log(news)
    }
  }
}
</script>

<style scoped>
.header_select_block {
  float: right;
  margin-left: 40px;
}
.header_select {
  padding: 0px;
}
</style>
