<template>
<div class="page__content">
<div class="container">
  <div class="device">
    <header class="device__header">
      <div class="device__header-img"><img :src="device.img" :alt="device.name"></div>
      <div class="device__header-content">
        <div class="device__header-content-holder">
          <div class="device__header-title">{{ device.name }}</div>
          <div class="device__header-code">{{ device.code }}</div>
          <div class="device__header-ctrl">
            <div class="btn btn--white btn--inline" @click="edit">Редактировать</div>
            <div class="btn btn--red btn--inline"   @click="question">Задать вопрос</div>
          </div>
        </div>
      </div>
    </header>
    <Tabs
      :tabs="device.tabs"
      @addDoc="addDoc"
    />
  </div>
</div>
</div>
</template>

<script>
import Tabs from '../components/Device/Tabs.vue'
/**
 * Страница 'Устройство'
 */
export default {
  name: 'Device',
  components: { Tabs },
  data () {
    return {
      device: {
        name: 'Преобразователь частоты Vacon20',
        code: 'VACON0020-3L-0007-2-X',
        img: 'assets/device-00.png',
        tabs: [{
          id: 1,
          name: 'Технические характеристики',
          type: 'specifications',
          active: true,
          data: [{
            id: 1,
            title: 'Серийный номер',
            text: 'VACON0020-3L-0007-2-X'
          }, {
            id: 2,
            title: 'Номинальный ток, А',
            text: '7 А'
          }, {
            id: 3,
            title: 'Фазы',
            text: 'Три фазы'
          }, {
            id: 4,
            title: 'Напряжение сети',
            text: '230 В'
          }, {
            id: 5,
            title: 'Исполнение корпуса',
            text: 'IP66'
          }, {
            id: 6,
            title: 'Количество входов/выходов',
            text: '6 цифровых входов, 1 цифровой выход, 2 аналоговых входа, 1 аналоговый выход, 2 релейных выхода'
          }, {
            id: 7,
            title: 'Фильтр ЭМС',
            text: 'Категория С2'
          }]
        }, {
          id: 2,
          name: 'Документация',
          type: 'documentation',
          active: false,
          data: [{
            id: 1,
            format: 'xls',
            title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
            url: '/assets/document/1.pdf',
            country: 'EN',
            date: '20 июля, 2018',
            add: false
          }, {
            id: 2,
            format: 'xls',
            title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
            url: '/assets/document/1.pdf',
            country: 'EN',
            date: '20 июля, 2018',
            add: false
          }, {
            id: 3,
            format: 'xls',
            title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
            url: '/assets/document/1.pdf',
            country: 'EN',
            date: '20 июля, 2018',
            add: false
          }, {
            id: 4,
            format: 'xls',
            title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
            url: '/assets/document/1.pdf',
            country: 'EN',
            date: '20 июля, 2018',
            add: false
          }, {
            id: 5,
            format: 'xls',
            title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
            url: '/assets/document/1.pdf',
            country: 'EN',
            date: '20 июля, 2018',
            add: false
          }, {
            id: 6,
            format: 'xls',
            title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
            url: '/assets/document/1.pdf',
            country: 'EN',
            date: '20 июля, 2018',
            add: false
          }, {
            id: 7,
            format: 'xls',
            title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
            url: '/assets/document/1.pdf',
            country: 'EN',
            date: '20 июля, 2018',
            add: false
          }]
        }, {
          id: 3,
          name: 'Опции',
          type: 'options',
          active: false,
          data: [{
            id: 1,
            name: 'Серийный номер',
            rows: [
              {
                id: 1,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 2,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 3,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 4,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 5,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 6,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 7,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }
            ]
          }, {
            id: 2,
            name: 'Серийный номер',
            rows: [
              {
                id: 1,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 2,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 3,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 4,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 5,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 6,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 7,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }
            ]
          }, {
            id: 3,
            name: 'Полноразмерная',
            rows: [
              {
                id: 1,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 2,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 3,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 4,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 5,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 6,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 7,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }
            ]
          }, {
            id: 4,
            name: 'Серия',
            rows: [
              {
                id: 1,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 2,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 3,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 4,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 5,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 6,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }, {
                id: 7,
                format: 'xls',
                title: 'VACON Compact Ac Drives Selection Guide Brochure - AD English',
                url: '/assets/document/1.pdf',
                country: 'EN',
                date: '20 июля, 2018',
                add: false
              }
            ]
          }]
        }, {
          id: 4,
          name: 'Технические характеристики',
          type: 'specifications',
          active: false,
          data: [{
            id: 1,
            title: 'Серийный номер',
            text: 'VACON0020-3L-0007-2-X'
          }, {
            id: 2,
            title: 'Номинальный ток, А',
            text: '7 А'
          }, {
            id: 3,
            title: 'Фазы',
            text: 'Три фазы'
          }, {
            id: 4,
            title: 'Напряжение сети',
            text: '230 В'
          }, {
            id: 5,
            title: 'Исполнение корпуса',
            text: 'IP66'
          }, {
            id: 6,
            title: 'Количество входов/выходов',
            text: '6 цифровых входов, 1 цифровой выход, 2 аналоговых входа, 1 аналоговый выход, 2 релейных выхода'
          }, {
            id: 7,
            title: 'Фильтр ЭМС',
            text: 'Категория С2'
          }]
        }, {
          id: 5,
          name: 'Технические характеристики',
          type: 'specifications',
          active: false,
          data: [{
            id: 1,
            title: 'Серийный номер',
            text: 'VACON0020-3L-0007-2-X'
          }, {
            id: 2,
            title: 'Номинальный ток, А',
            text: '7 А'
          }, {
            id: 3,
            title: 'Фазы',
            text: 'Три фазы'
          }, {
            id: 4,
            title: 'Напряжение сети',
            text: '230 В'
          }, {
            id: 5,
            title: 'Исполнение корпуса',
            text: 'IP66'
          }, {
            id: 6,
            title: 'Количество входов/выходов',
            text: '6 цифровых входов, 1 цифровой выход, 2 аналоговых входа, 1 аналоговый выход, 2 релейных выхода'
          }, {
            id: 7,
            title: 'Фильтр ЭМС',
            text: 'Категория С2'
          }]
        }, {
          id: 6,
          name: 'Технические характеристики',
          type: 'specifications',
          active: false,
          data: [{
            id: 1,
            title: 'Серийный номер',
            text: 'VACON0020-3L-0007-2-X'
          }, {
            id: 2,
            title: 'Номинальный ток, А',
            text: '7 А'
          }, {
            id: 3,
            title: 'Фазы',
            text: 'Три фазы'
          }, {
            id: 4,
            title: 'Напряжение сети',
            text: '230 В'
          }, {
            id: 5,
            title: 'Исполнение корпуса',
            text: 'IP66'
          }, {
            id: 6,
            title: 'Количество входов/выходов',
            text: '6 цифровых входов, 1 цифровой выход, 2 аналоговых входа, 1 аналоговый выход, 2 релейных выхода'
          }, {
            id: 7,
            title: 'Фильтр ЭМС',
            text: 'Категория С2'
          }]
        }]
      }
    }
  },
  methods: {
    /**
     * Добавить документ в избранное
    */
    addDoc (docId) {
      console.log(docId)
    },
    /**
     *  Редактировать
    */
    edit () {
      console.log('edit')
    },
    /**
     * Задать вопрос
    */
    question () {
      console.log('question')
    }
  }
}
</script>

<style scoped>
.device__header-img {
  background-color: #FFF;
}
</style>
