<template>
  <div class="page__content">
    <div class="container">
      <div class="dimension">
        <ScrollList
            :title="scrollListData.title"
            :header="scrollListData.header"
            :data="scrollListData.data"
            :height="550"
        />
        <PopupRequest
          :show="showPopupRequest"
          @close="closePopupReques"
          @submit="submitPopupReques"
          title="Подбор чертежей"
        />
      </div>
    </div>

  </div>
</template>

<script>

import ScrollList from '../components/Teacher/ScrollList.vue'
import PopupRequest from '../components/Dimension/PopupRequest.vue'

export default {
  name: 'Dimension',
  components: { ScrollList, PopupRequest },
  data () {
    return {
      showPopupRequest: false,
      scrollListData: {
        title: {
          name: 'Габаритные Чертежи',
          btn: [{
            id: 1,
            name: 'Заявка на подбор',
            click: data => this.titleClick(data)
          }]
        },
        header: [
          {
            id: 1,
            key: 'title',
            name: 'Титул объекта'
          },
          {
            id: 2,
            key: 'status',
            name: 'Статус'
          }
        ],
        data: [
          {
            id: 1,
            title: {
              name: 'Не могу найти все документы'
            },
            status: {
              name: 'Новая'
            },
            rowClick: data => this.rowClick(data)
          },
          {
            id: 2,
            title: {
              name: 'Не могу найти все документы'
            },
            status: {
              name: 'Новая'
            },
            rowClick: data => this.rowClick(data)
          },
          {
            id: 3,
            title: {
              name: 'Не могу найти все документы'
            },
            status: {
              name: 'Новая'
            },
            rowClick: data => this.rowClick(data)
          },
          {
            id: 4,
            title: {
              name: 'Не могу найти все документы'
            },
            status: {
              name: 'Новая'
            },
            rowClick: data => this.rowClick(data)
          },
          {
            id: 5,
            title: {
              name: 'Не могу найти все документы'
            },
            status: {
              name: 'Новая'
            }
          },
          {
            id: 6,
            title: {
              name: 'Не могу найти все документы'
            },
            status: {
              name: 'Новая'
            }
          },
          {
            id: 7,
            title: {
              name: 'Не могу найти все документы'
            },
            status: {
              name: 'Новая'
            }
          }
        ]
      }
    }
  },
  methods: {
    titleClick (item) {
      console.log(item)
      this.showPopupRequest = true
    },
    rowClick (row) {
      alert('ROW CLICK')
      console.log(row)
    },
    closePopupReques (data) {
      console.log(data)
      this.showPopupRequest = false
    },
    submitPopupReques (data) {
      console.log(data)
      this.showPopupRequest = false
    }
  }
}
</script>

<style scoped>
</style>
