<template>
  <div class="page__content">
    <div class="container">
      <div class="docs">
        <div class="docs__heading">
          <div class="title">Документация</div>
        </div>
        <Tree
          :tree="tree"
          @selectDir="selectDir"
          :selectedDirId="idDir"
          @addFolder="showFolderPopup"
        />
      </div>
      <Files
        :files="files"
        :idDir="idDir"
        @deleteFile="deleteFile"
        @uploadFile="uploadFile"
        @changeSort="changeFileSort"
        ref="tree"
      />
    </div>
      <AddFolderPopup
        :show="showAddFolderPopup"
        @close="closeAddFolderPopup"
        @add="addFolder"
      />
  </div>
</template>

<script>
import Files from '../components/Docs/Files.vue'
import Tree from '../components/Docs/Tree.vue'
import AddFolderPopup from '../components/Docs/AddFoplderPopup.vue'

export default {
  name: 'Docs',
  components: { Tree, Files, AddFolderPopup },
  data () {
    return {
      idDir: null,
      showAddFolderPopup: false,
      idParent: null,
      tree: [
        {
          id: 1,
          title: 'Клапаны',
          group: [
            {
              id: 2,
              title: 'Контроллеры и диспетчеризация'
            },
            {
              id: 3,
              title: 'Контроллеры и диспетчеризация'
            },
            {
              id: 4,
              title: 'Контроллеры и диспетчеризация',
              group: [
                {
                  id: 5,
                  title: 'Контроллеры и диспетчеризация'
                },
                {
                  id: 6,
                  title: 'Контроллеры и диспетчеризация'
                },
                {
                  id: 7,
                  title: 'Контроллеры и диспетчеризация',
                  group: [
                    {
                      id: 8,
                      title: 'Контроллеры и диспетчеризация'
                    }, {
                      id: 9,
                      title: 'Контроллеры и диспетчеризация',
                      group: [
                        {
                          id: 10,
                          title: 'Контроллеры и диспетчеризация'
                        }, {
                          id: 11,
                          title: 'Контроллеры и диспетчеризация'
                        }, {
                          id: 12,
                          title: 'Контроллеры и диспетчеризация'
                        }, {
                          id: 13,
                          title: 'Контроллеры и диспетчеризация'
                        }
                      ]
                    }, {
                      id: 14,
                      title: 'Контроллеры и диспетчеризация'
                    }, {
                      id: 15,
                      title: 'Контроллеры и диспетчеризация'
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          id: 16,
          title: 'Радиаторные терморегуляторы и термостаты'
        },
        {
          id: 17,
          title: 'Радиаторные терморегуляторы и термостаты'
        },
        {
          id: 18,
          title: 'Радиаторные терморегуляторы и термостаты'
        },
        {
          id: 19,
          title: 'Радиаторные терморегуляторы и термостаты'
        }

      ],
      files: [
        {
          id: 1,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 1',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 2,
          idDir: 3,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 2',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 3,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 3',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 4,
          idDir: 5,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 4',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 5,
          idDir: 6,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 5',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 6,
          idDir: 7,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 6',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 7,
          idDir: 8,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 7',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 8,
          idDir: 9,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 8',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 9,
          idDir: 10,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 9',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 10,
          idDir: 11,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 10',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 11,
          idDir: 12,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 11',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 12,
          idDir: 13,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 12',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 13,
          idDir: 14,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 13',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 14,
          idDir: 15,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 14',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 15,
          idDir: 16,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 15',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 16,
          idDir: 17,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 16',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 17,
          idDir: 18,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 17',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 18,
          idDir: 19,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 18',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 19,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 19',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 20,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 20',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 21,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 21',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 22,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 22',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 23,
          idDir: 3,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 23',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 24,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 24',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 25,
          idDir: 1,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 25',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 26,
          idDir: 1,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 26',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 27,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 27',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 28,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления 28',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 29,
          idDir: 5,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 30,
          idDir: 6,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 1,
          idDir: 7,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 31,
          idDir: 7,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 32,
          idDir: 7,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 33,
          idDir: 8,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 34,
          idDir: 8,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 35,
          idDir: 9,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 36,
          idDir: 11,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 37,
          idDir: 11,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 38,
          idDir: 15,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 39,
          idDir: 16,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 40,
          idDir: 17,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 41,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 42,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 43,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 44,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 45,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 46,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }, {
          id: 47,
          idDir: 4,
          title: 'Электронные регуляторы, диспетчеризация и электрические средства управления',
          date: '29 авг, 2019',
          url: '/statics/quasar-logo.png',
          name: 'MYFILENAME.png'
        }
      ]
    }
  },
  methods: {
    selectDir (idDir) {
      this.idDir = idDir
    },
    deleteFile (id) {
      this.files = this.files.filter(f => f.id !== id)
    },
    closeAddFolderPopup () {
      this.idParent = null
      this.showAddFolderPopup = false
    },
    showFolderPopup (idParent) {
      this.idParent = idParent
      this.showAddFolderPopup = true
    },
    addFolder (name) {
      const node = treeSearch(this.tree, this.idParent)
      if (!node) return

      if (!node.group) {
        this.$set(node, 'group', [])
      }

      node.group.push({
        id: parseInt(`${node.id}${node.group.length + 1}`),
        title: name
      })

      this.showAddFolderPopup = false
    },
    uploadFile (file) {
      console.log(file)
      this.files.push({
        id: this.files.length + 100,
        idDir: this.idDir,
        title: file.name,
        date: '29 авг, 2019',
        url: '/statics/quasar-logo.png',
        name: 'MYFILENAME.png'
      })
    },
    changeFileSort (newIndex, oldIndex, idDir) {
      console.log('newIndex', newIndex)
      console.log('oldIndex', oldIndex)
      console.log('idDir', idDir)
    }
  }
}

function treeSearch (tree, idSearch) {
  let searchNode
  tree.forEach(node => {
    if (node.id === idSearch) {
      searchNode = node
      return
    }

    if (node.group && node.group.length && !searchNode) {
      searchNode = treeSearch(node.group, idSearch)
    }
  })

  return searchNode
}

</script>
