<template>
  <div class="page__content">
    <div class="container">
      <div class="forum">
        <ForumHeader
          @search="search"
          @doc="showDoc"
          @new="newTopic"
          title="Форум Danfoss"
        />
        <ForumList
          :list="forumList"
          @openTopic="openTopic"
        />
      </div>
    </div>
  </div>
</template>

<script>

import ForumList from '../components/ForumMain/ForumList.vue'
import ForumHeader from '../components/ForumMain/ForumHeader.vue'

export default {
  name: 'ForumMain',
  components: { ForumList, ForumHeader },
  data () {
    return {
      forumList: [
        {
          id: 1,
          title: 'ОБЩИЙ',
          list: [
            {
              id: 1,
              title: 'Техническая поддержка'
            },
            {
              id: 2,
              title: 'Открытые вопросы'
            },
            {
              id: 3,
              title: 'Документация'
            },
            {
              id: 4,
              title: 'Дилерам'
            },
            {
              id: 5,
              title: 'Задать вопрос'
            },
            {
              id: 6,
              title: 'Техническая поддержка'
            }
          ]
        },
        {
          id: 2,
          title: 'Оборудование',
          list: [
            {
              id: 1,
              title: 'Техническая поддержка'
            },
            {
              id: 2,
              title: 'Открытые вопросы'
            },
            {
              id: 3,
              title: 'Документация'
            },
            {
              id: 4,
              title: 'Дилерам'
            },
            {
              id: 5,
              title: 'Задать вопрос'
            },
            {
              id: 6,
              title: 'Техническая поддержка'
            }
          ]
        },
        {
          id: 3,
          title: 'Техническая поддержка',
          list: [
            {
              id: 1,
              title: 'Техническая поддержка'
            },
            {
              id: 2,
              title: 'Открытые вопросы'
            },
            {
              id: 3,
              title: 'Документация'
            },
            {
              id: 4,
              title: 'Дилерам'
            },
            {
              id: 5,
              title: 'Задать вопрос'
            },
            {
              id: 6,
              title: 'Техническая поддержка'
            }
          ]
        },
        {
          id: 4,
          title: 'Дилерам',
          list: [
            {
              id: 1,
              title: 'Техническая поддержка'
            },
            {
              id: 2,
              title: 'Открытые вопросы'
            },
            {
              id: 3,
              title: 'Документация'
            },
            {
              id: 4,
              title: 'Дилерам'
            },
            {
              id: 5,
              title: 'Задать вопрос'
            },
            {
              id: 6,
              title: 'Техническая поддержка'
            }
          ]
        },
        {
          id: 5,
          title: 'Вопросы и ответы',
          list: [
            {
              id: 1,
              title: 'Техническая поддержка'
            },
            {
              id: 2,
              title: 'Открытые вопросы'
            },
            {
              id: 3,
              title: 'Документация'
            },
            {
              id: 4,
              title: 'Дилерам'
            },
            {
              id: 5,
              title: 'Задать вопрос'
            },
            {
              id: 6,
              title: 'Техническая поддержка'
            }
          ]
        },
        {
          id: 6,
          title: 'Архив',
          list: [
            {
              id: 1,
              title: 'Техническая поддержка'
            },
            {
              id: 2,
              title: 'Открытые вопросы'
            },
            {
              id: 3,
              title: 'Документация'
            },
            {
              id: 4,
              title: 'Дилерам'
            },
            {
              id: 5,
              title: 'Задать вопрос'
            },
            {
              id: 6,
              title: 'Техническая поддержка'
            }
          ]
        }
      ]
    }
  },
  methods: {
    search (searchStr) {
      console.log(searchStr)
    },
    newTopic () {
      console.log('новая тема')
    },
    showDoc () {
      console.log('документация')
      this.$router.push({ path: `/docs` })
    },
    openTopic (id) {
      this.$router.push({ path: `/forum-topic-list/${id}` })
    }

  }
}
</script>

<style scoped>
</style>
