<template>
  <div class="page__content">
    <div class="container">
      <div class="forum">
        <ForumHeader
          @search="search"
          @doc="showDoc"
          @new="newTopic"
          title="Документация"
          backBtn
        />
        <TopickList
          :list="topicList"
          @sort="sort"
          @openTopic="openTopic"
        />
      </div>
    </div>
  </div>
</template>

<script>

import TopickList from '../components/ForumTopicList/TopickList.vue'
import ForumHeader from '../components/ForumMain/ForumHeader.vue'

export default {
  name: 'ForumTopicList',
  components: { TopickList, ForumHeader },
  data () {
    return {
      topicList: [{
        id: 1,
        topic: 'Вопрос по спиральному компрессору 120H0931',
        author: 'Сергей Владимирович',
        time: '7 минут назад'
      }, {
        id: 2,
        topic: 'Открытые вопросы',
        author: 'Anaheim',
        time: '2 дня назад'
      },
      {
        id: 3,
        topic: 'Документация к VLT® Decentral Drive FCD 302',
        author: 'Оксана',
        time: '11 января, 2020'
      }, {
        id: 10,
        topic: 'Не приходит код на активацию оборудования',
        author: 'Diller_moscow',
        time: '6 января, 2020'
      }, {
        id: 4,
        topic: 'VACON® NXC Low Harmonic',
        author: 'Владислав',
        time: '4 января, 2020'
      }, {
        id: 5,
        topic: 'Вопрос по спиральному компрессору 120H0931',
        author: 'Сергей Владимирович',
        time: '7 минут назад'
      }, {
        id: 6,
        topic: 'Открытые вопросы',
        author: 'Anaheim',
        time: '2 дня назад'
      },
      {
        id: 7,
        topic: 'Документация к VLT® Decentral Drive FCD 302',
        author: 'Оксана',
        time: '11 января, 2020'
      }, {
        id: 8,
        topic: 'Не приходит код на активацию оборудования',
        author: 'Diller_moscow',
        time: '6 января, 2020'
      }, {
        id: 9,
        topic: 'VACON® NXC Low Harmonic',
        author: 'Владислав',
        time: '4 января, 2020'
      }]
    }
  },
  methods: {
    search (searchStr) {
      console.log(searchStr)
    },
    newTopic () {
      console.log('новая тема')
    },
    showDoc () {
      console.log('документация')
      this.$router.push({ path: `/docs` })
    },
    sort (sort) {
      this.topicList.sort((a, b) => {
        if (a[sort.type] > b[sort.type]) {
          return sort.desc ? 1 : -1
        }
        if (a[sort.type] < b[sort.type]) {
          return sort.desc ? -1 : 1
        }
        return 0
      })
    },
    openTopic (id) {
      this.$router.push({ path: `/forum-topic/${id}` })
    }
  }
}
</script>

<style scoped>
</style>
