<template>
  <div class="page__content">
    <div class="container">
      <div class="forum">
        <ForumHeader
          @search="search"
          @doc="showDoc"
          @new="newTopic"
          title="Форум Danfoss"
        />

        <ForumBoxes
          :boxes="forumBoxes"
          :title="'Преобразователь частоты VACON 100 FLOW'"
          :user="user"
          :emoji="emoji"
          @like="onLike"
          @sign="onSign"
          @answer="onAnswer"
          @complaint="onComplaint"
          @delete="onDelete"
          @edit="onEdit"
          @sendMsg="sendMsg"
          @draft="draft"
          @preview="preview"
          ref='forumBoxes'
        />

        <TopickList
          :list="topicList"
          @sort="sort"
          @openTopic="openTopic"
        />
      </div>
    </div>
  </div>
</template>

<script>

import TopickList from '../components/ForumTopicList/TopickList.vue'
import ForumHeader from '../components/ForumMain/ForumHeader.vue'
import ForumBoxes from '../components/ForumTopic/ForumBoxes.vue'

export default {
  name: 'ForumTopicList',
  components: { TopickList, ForumHeader, ForumBoxes },
  data () {
    return {
      topicList: [{
        id: 1,
        topic: 'Вопрос по спиральному компрессору 120H0931',
        author: 'Сергей Владимирович',
        time: '7 минут назад'
      }, {
        id: 2,
        topic: 'Открытые вопросы',
        author: 'Anaheim',
        time: '2 дня назад'
      },
      {
        id: 3,
        topic: 'Документация к VLT® Decentral Drive FCD 302',
        author: 'Оксана',
        time: '11 января, 2020'
      }, {
        id: 10,
        topic: 'Не приходит код на активацию оборудования',
        author: 'Diller_moscow',
        time: '6 января, 2020'
      }, {
        id: 4,
        topic: 'VACON® NXC Low Harmonic',
        author: 'Владислав',
        time: '4 января, 2020'
      }, {
        id: 5,
        topic: 'Вопрос по спиральному компрессору 120H0931',
        author: 'Сергей Владимирович',
        time: '7 минут назад'
      }],
      forumBoxes: [{
        id: 1,
        userId: 1,
        author: 'Сергей Владимирович',
        time: '7 минут назад',
        text: '<p>VACON® 100 FLOW отличается специализированными функциями, которые обеспечивают более высокое качество управления расходом и экономию электроэнергии при применении с промышленными насосами и вентиляторами.</p>',
        ava: '',
        owner: true,
        like: false,
        sign: false
      }, {
        id: 2,
        author: 'Владимир',
        time: '11 января, в 12:34',
        text: 'VACON® 100 FLOW отличается специализированными функциями, которые обеспечивают более высокое качество управления расходом и экономию электроэнергии при применении с промышленными насосами и вентиляторами.',
        ava: 'assets/ava/05.png',
        owner: false,
        like: false,
        sign: false
      }, {
        id: 3,
        userId: 4,
        author: 'Оксана Михайловна',
        time: '11 января, в 12:34',
        text: '<p>VACON® 100 FLOW отличается специализированными функциями, которые обеспечивают более высокое качество управления расходом и экономию электроэнергии при применении с промышленными насосами и вентиляторами.</p>',
        ava: 'assets/ava/06.png',
        owner: false,
        like: false,
        sign: false
      }, {
        id: 4,
        userId: 3,
        author: 'Anaheim',
        time: '11 января, в 12:34',
        text: '<p>VACON® 100 FLOW отличается специализированными функциями, которые обеспечивают более высокое качество управления расходом и экономию электроэнергии при применении с промышленными насосами и вентиляторами.</p>',
        ava: 'assets/ava/07.png',
        owner: false,
        like: false,
        sign: false
      }, {
        id: 5,
        userId: 2,
        author: 'Сергей Александрович',
        time: '11 января, в 12:34',
        text: '<div class="forum-box__quote" contenteditable="false"><div class="forum-box__info"><span class="forum-box__quote-sybmol">"</span><span class="forum-box__author">Anaheim<span class="forum-box__author-text">написал</span>11 января, в 12:34:</span></div><div class="forum-box__text">VACON® 100 FLOW отличается специализированными функциями, которые обеспечивают более высокое качество управления расходом и экономию электроэнергии при применении с промышленными насосами и вентиляторами.</div></div><p>VACON® 100 FLOW отличается специализированными функциями, которые обеспечивают более высокое качество управления расходом и экономию электроэнергии при применении с промышленными насосами и вентиляторами.</p>',
        ava: 'assets/ava/05.png',
        owner: false,
        like: false,
        sign: false
      }],
      user: {
        id: 2,
        name: 'Сергей Александрович',
        ava: 'assets/ava/05.png'
      },
      emoji: [
        'f09f9882',
        'e298ba',
        'f09f988a',
        'f09f9889',
        'f09f9983',
        'f09f9898',
        'f09f989c',
        'f09f988e',
        'f09f9894',
        'e298b9',
        'f09f98ad',
        'f09f98a1'
      ]
    }
  },
  methods: {
    search (searchStr) {
      console.log(searchStr)
    },
    newTopic () {
      console.log('новая тема')
    },
    showDoc () {
      console.log('документация')
      this.$router.push({ path: `/docs` })
    },
    sort (sort) {
      this.topicList.sort((a, b) => {
        if (a[sort.type] > b[sort.type]) {
          return sort.desc ? 1 : -1
        }
        if (a[sort.type] < b[sort.type]) {
          return sort.desc ? -1 : 1
        }
        return 0
      })
    },
    openTopic (id) {
      this.$router.push({ path: `/forum-topic/${id}` })
    },
    onLike (box) {
      console.log(box)
      box.like = !box.like
    },
    onSign (box) {
      console.log(box)
      box.sign = !box.sign
    },
    onAnswer (box) {
      this.$refs.forumBoxes.$refs.forumBoxInput.onAnswer(box)
      console.log(box)
    },
    onComplaint (box) {
      console.log(box)
    },
    onDelete (box) {
      console.log(box)
    },
    onEdit (box) {
      this.$refs.forumBoxes.$refs.forumBoxInput.onEdit(box)
    },
    sendMsg (objMsg) {
      if (objMsg.box) {
        objMsg.box.text = objMsg.msg
        objMsg.box.files = objMsg.files
        return
      }

      const now = new Date()

      this.forumBoxes.push({
        id: this.forumBoxes.length + 1,
        userId: this.user.id,
        author: this.user.name,
        time: now.toLocaleDateString('ru-RU'),
        text: objMsg.msg,
        ava: this.user.ava,
        owner: false,
        like: false,
        sign: false,
        files: objMsg.files
      })
    },
    draft (msg) {
      console.log(msg)
    },
    preview (msg) {
      console.log(msg)
    }
  }
}
</script>

<style scoped>
</style>
