<template>
<div class="page__content">
  <div class="container">
    <h1>popup</h1>
    <hr>
    <div><div class='popup_link' @click="openWnd('addCompany')">Добавить компанию</div></div>
    <hr>
    <div><div class='popup_link' @click="openWnd('editCompany')">Редактировать компанию</div></div>
    <hr>
    <div><div class='popup_link' @click="openWnd('editData')">Изменить данные</div></div>
    <hr>
    <div><div class='popup_link' @click="openWnd('requests')">Запросы</div></div>
    <hr>
    <div><div class='popup_link' @click="openWnd('news')">News Popup</div></div>
    <hr>
    <div><div class='popup_link' @click="openWnd('template')">Окно с набором элементов</div></div>
    <hr>
    <div><div class='popup_link' @click="openWnd('questiob')">Вопрос</div></div>
    <hr>
    <div><div class='popup_link' @click="openWnd('assign')">Назначить</div></div>
    <hr>
    <div><div class='popup_link' @click="openWnd('editDevice')">Редактирование</div></div>
    <hr>
    <div><div class='popup_link' @click="openWnd('info')">Информация</div></div>
    <hr>
    <div><div class='popup_link' @click="openWnd('invite')">Инвайт</div></div>
    <hr>
    <div><div class='popup_link' @click="openWnd('yesNo')">Да нет</div></div>
  </div>

  <AddCompany
    :show="showAddCompany"
    :options="options"
    @close="closeWnd"
   />

  <EditCompany
    :show="showEditCompany"
    @close="closeWnd"
   />

  <EditData
    :show="showEditData"
    @close="closeWnd"
   />

  <News
    :show="showNews"
    @close="closeWnd"
   />

  <Requests
    :show="showRequests"
    :requests="requests"
    @close="closeWnd"
   />

  <Template
    :show="showTemplate"
    @close="closeWnd"
   />

  <Questiob
    :show="showQuestiob"
    @close="closeWnd"
    :options="options"
  />

  <Assign
    :show="showAssign"
    @close="closeWnd"
    :options="options"
  />

  <EditDevice
    :show="showEditDevice"
    @close="closeWnd"
  />

  <Info
    :show="showInfo"
    :title="title"
    @close="closeWnd"
  />

 <Invite
    :show="showInvite"
    :options="options"
    @close="closeWnd"
  />

  <YesNo
    :show="showYesNo"
    :text="text2"
    :title="title2"
    @close="closeWnd"
  />
</div>
</template>

<style>
</style>

<script>
import AddCompany from '../components/Popup/AddCompany.vue'
import EditCompany from '../components/Popup/EditCompany.vue'
import EditData from '../components/Popup/EditData.vue'
import News from '../components/Popup/News.vue'
import Requests from '../components/Popup/Requests.vue'
import Template from '../components/Popup/Template.vue'
import Questiob from '../components/Popup/custom/AskQuestionModalWnd.vue'
import Assign from '../components/Popup/custom/AssignModalWindow.vue'
import EditDevice from '../components/Popup/custom/EditDeviceModalWnd.vue'
import Info from '../components/Popup/custom/Info.vue'
import Invite from '../components/Popup/custom/InviteModalWindow.vue'
import YesNo from '../components/Popup/custom/YesNoModalWnd.vue'
/**
 * Страница  с модальными окнами
 */
export default {
  name: 'PagePopup',
  components: { AddCompany, EditCompany, EditData, News, Requests, Template, Questiob, Assign, EditDevice, Info, Invite, YesNo },
  data () {
    return {
      showAddCompany: false,
      showEditCompany: false,
      showEditData: false,
      showNews: false,
      showRequests: false,
      showTemplate: false,
      showQuestiob: false,
      showAssign: false,
      showEditDevice: false,
      showInfo: false,
      showInvite: false,
      showYesNo: false,
      options: [
        {
          label: 'Google',
          value: 'goog'
        },
        {
          label: 'Facebook',
          value: 'fb'
        }
      ],
      text: 'Столицу называют первым романом о ЕС и Карточным домиком о Европейском союзе. Сочетание интеллектуальной прозы и триллера. В 2017 году роман награжден Deutscher Buchpreis, Немецкой  литературной премией, отмечающей немецкоязычный  Роман года. На русский язык книгу перевела Нина Николаевна Федорова, в 2018 году удостоенная немецкой переводческой премии Мерк в номинации Художественная литература. В центре повествования – шесть чиновников Евросоюза, отвечающих за подготовку празднования юбилея Евросоюза. Торжества по этому случаю планируются в Освенциме, куда некоторые персонажи предлагают перенести политическую столицу Европы. События разворачиваются на фоне бюрократических кулис департамента Еврокомиссии, ведающего делами культуры.',
      title: 'Информация',
      text2: 'Удалить данное устройство ?',
      title2: 'Удалить ?',
      requests: [
        {
          id: 1,
          name: 'Владимир Серегеевич'
        }, {
          id: 2,
          name: 'Владимир Серегеевич'
        }, {
          id: 3,
          name: 'Владимир Серегеевич'
        }, {
          id: 4,
          name: 'Владимир Серегеевич'
        }, {
          id: 5,
          name: 'Владимир Серегеевич'
        }
      ]
    }
  },
  methods: {
    openWnd (type) {
      switch (type) {
        case 'addCompany':
          this.showAddCompany = true
          break
        case 'editCompany':
          this.showEditCompany = true
          break
        case 'editData':
          this.showEditData = true
          break
        case 'news':
          this.showNews = true
          break
        case 'requests':
          this.showRequests = true
          break
        case 'template':
          this.showTemplate = true
          break
        case 'questiob':
          this.showQuestiob = true
          break
        case 'assign':
          this.showAssign = true
          break
        case 'editDevice':
          this.showEditDevice = true
          break
        case 'info':
          this.showInfo = true
          break
        case 'invite':
          this.showInvite = true
          break
        case 'yesNo':
          this.showYesNo = true
          break
      }
    },
    closeWnd (type) {
      switch (type) {
        case 'addCompany':
          this.showAddCompany = false
          break
        case 'editCompany':
          this.showEditCompany = false
          break
        case 'editData':
          this.showEditData = false
          break
        case 'news':
          this.showNews = false
          break
        case 'requests':
          this.showRequests = false
          break
        case 'template':
          this.showTemplate = false
          break
        case 'questiob':
          this.showQuestiob = false
          break
        case 'assign':
          this.showAssign = false
          break
        case 'editDevice':
          this.showEditDevice = false
          break
        case 'info':
          this.showInfo = false
          break
        case 'invite':
          this.showInvite = false
          break
        case 'yesNo':
          this.showYesNo = false
          break
      }
    }
  }
}
</script>

<style scoped>
.popup_link {
  color: #304ffe;
  cursor: pointer;
}
</style>
