<template>
  <div class="page__content">
    <div class="container">
      <Courses
        :title="coursesData.title"
        :numberOfParticipants="coursesData.numberOfParticipants"
        :courses="coursesData.courses"
        :show="5"
        @btnClick="btnClickCourse"
      />
      <ScrollList
        :title="scrollListData.title"
        :header="scrollListData.header"
        :data="scrollListData.data"
        @rowClick="rowClick"
        @switchClick="switchClick"
      />
    </div>
  </div>
</template>

<script>

import Courses from '../components/User/Courses.vue'
import ScrollList from '../components/Teacher/ScrollList.vue'
import PopupNewCourse from '../components/User/PopupNewCourse.vue'
import { BYTE_IN_MEGABYTE } from '../constants'

export default {
  name: 'Manager',
  components: { Courses, ScrollList, PopupNewCourse },
  data () {
    return {
      showPopupNewCourse: false,
      biteInMb: BYTE_IN_MEGABYTE,
      coursesData: {
        title: 'Курсы',
        courses: [
          {
            id: 1,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'addCourse',
            number: 22,
            maxNumber: 29
          },
          {
            id: 2,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'addCourse',
            number: 22,
            maxNumber: 29
          },
          {
            id: 3,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'addCourse',
            number: 22,
            maxNumber: 29
          },
          {
            id: 4,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'addCourse',
            number: 22,
            maxNumber: 29
          },
          {
            id: 5,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'addCourse',
            number: 22,
            maxNumber: 29
          },
          {
            id: 6,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'addCourse',
            number: 22,
            maxNumber: 29
          },
          {
            id: 7,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'addCourse',
            number: 22,
            maxNumber: 29
          },
          {
            id: 8,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'addCourse',
            number: 22,
            maxNumber: 29
          },
          {
            id: 9,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'addCourse',
            number: 22,
            maxNumber: 29
          }
        ]
      },
      scrollListData: {
        title: {
          name: 'Заявки'
        },
        header: [
          {
            id: 1,
            key: 'course',
            name: 'Курс'
          },
          {
            id: 2,
            key: 'name',
            name: 'Название курса'
          },
          {
            id: 3,
            key: 'request',
            name: 'Запрос'
          }
        ],
        data: [
          {
            id: 1,
            course: 'Владимир Мирошенко',
            name: 'Курс для партнеров',
            request: {
              switch: true,
              switchOnText: 'Принять',
              switchOffText: 'Отклонить'
            }
          },
          {
            id: 2,
            course: 'Владимир Мирошенко',
            name: 'Курс для партнеров',
            request: {
              switch: false,
              switchOnText: 'Принять',
              switchOffText: 'Отклонить'
            }
          },
          {
            id: 3,
            course: 'Владимир Мирошенко',
            name: 'Курс для партнеров',
            request: {
              switch: true,
              switchOnText: 'Принять',
              switchOffText: 'Отклонить'
            }
          },
          {
            id: 4,
            course: 'Владимир Мирошенко',
            name: 'Курс для партнеров',
            request: {
              switch: false,
              switchOnText: 'Принять',
              switchOffText: 'Отклонить'
            }
          },
          {
            id: 5,
            course: 'Владимир Мирошенко',
            name: 'Курс для партнеров',
            request: {
              switch: false,
              switchOnText: 'Принять',
              switchOffText: 'Отклонить'
            }
          },
          {
            id: 6,
            course: 'Владимир Мирошенко',
            name: 'Курс для партнеров',
            request: {
              switch: true,
              switchOnText: 'Принять',
              switchOffText: 'Отклонить'
            }
          },
          {
            id: 7,
            course: 'Владимир Мирошенко',
            name: 'Курс для партнеров',
            request: {
              switch: true,
              switchOnText: 'Принять',
              switchOffText: 'Отклонить'
            }
          }
        ]
      }
    }
  },
  methods: {
    btnClickCourse (status) {
      switch (status) {
        case 'new':
          console.log(status)
          this.showPopupNewCourse = true
          break
        case 'approved':
          console.log(status)
          break
        case 'timeAgreed':
          console.log(status)
          break
        default:
          console.log(status)
          break
      }
    },
    rowClick (row) {
      console.log(row)
    },
    closePopupNewCourse (data) {
      console.log(data)
      this.showPopupNewCourse = false
    },
    submitPopupNewCourse (data) {
      console.log(data)
      this.showPopupNewCourse = false
    },
    switchClick (item) {
      console.log(item)
    }
  }
}
</script>
