<template>
  <div class="page__content">
    <div class="container">
      <div class="admin-res res">
        <ResContent :data="resContentData" title="Реле давления"/>
        <SimpleList :data="simpleListData" title="Результат подбора"/>
      </div>
    </div>
  </div>
</template>

<script>

import ResContent from '../components/AdminRes/ResContent.vue'
import SimpleList from '../components/AdminRes/SimpleList.vue'

export default {
  name: 'ObjectRes',
  components: { ResContent, SimpleList },
  data () {
    return {
      simpleListData: [
        {
          id: 1,
          name: 'Распределительная мощность',
          click: data => this.simpleListClickItem(data)
        },
        {
          id: 2,
          name: 'Распределительная мощность'
        },
        {
          id: 3,
          name: 'Распределительная мощность',
          click: data => this.simpleListClickItem(data)
        },
        {
          id: 4,
          name: 'Распределительная мощность',
          click: data => this.simpleListClickItem(data)
        }
      ],
      resContentData: [
        {
          id: 1,
          title: 'Технические характеристики',
          type: 'simpelData',
          data: [
            {
              id: 1,
              field1: 'Распределительная мощность',
              field2: '093028'
            },
            {
              id: 2,
              field1: 'Распределительная мощность',
              field2: '093028'
            },
            {
              id: 3,
              field1: 'Распределительная мощность',
              field2: '093028'
            },
            {
              id: 4,
              field1: 'Распределительная мощность',
              field2: '093028'
            }
          ]
        },
        {
          id: 2,
          title: 'Документы',
          type: 'downloadData',
          data: [
            {
              id: 1,
              field1: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti & Basic line)',
              link: '/img/logo.png'
            },
            {
              id: 2,
              field1: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti & Basic line)',
              link: '/img/logo.png'
            },
            {
              id: 3,
              field1: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti & Basic line)',
              link: '/img/logo.png'
            },
            {
              id: 4,
              field1: 'Руководство пользователя - DHP-A, -AL, -C, -H, -L, (Opti & Basic line)',
              link: '/img/logo.png'
            }
          ]
        },
        {
          id: 3,
          title: 'Опросный лист',
          type: 'simpelData',
          data: [
            {
              id: 1,
              field1: 'Допустимая нагрузкаь',
              field2: '093028'
            },
            {
              id: 2,
              field1: 'Допустимая нагрузкаь',
              field2: '093028'
            },
            {
              id: 3,
              field1: 'Допустимая нагрузкаь',
              field2: '093028'
            },
            {
              id: 4,
              field1: 'Допустимая нагрузкаь',
              field2: '093028'
            }
          ]
        }
      ]
    }
  },
  methods: {
    simpleListClickItem (data) {
      console.log(data)
      alert(data.id)
    }
  }
}
</script>

<style scoped>
</style>
