<template>
  <div class="page__content">
    <div class="container">
      <div class="dimension">
        <ScrollList
            :title="scrollListData.title"
            :header="scrollListData.header"
            :data="scrollListData.data"
            :height="550"
        />
        <SelectBlueprintPopup
          :show="showSelectBlueprintPopup"
          @close="closeSelectBlueprintPopup"
          @submit="submitSelectBlueprintPopup"
          :biteInMb="biteInMb"
          title="Подбор преобразователя"
        />
      </div>
    </div>

  </div>
</template>

<script>

import ScrollList from '../components/Teacher/ScrollList.vue'
import SelectBlueprintPopup from '../components/Object/PopupSelectBlueprint.vue'
import { BYTE_IN_MEGABYTE } from '../constants'

export default {
  name: 'Object',
  components: { ScrollList, SelectBlueprintPopup },
  data () {
    return {
      showSelectBlueprintPopup: false,
      biteInMb: BYTE_IN_MEGABYTE,
      scrollListData: {
        title: {
          name: 'Подбор преобразователя частоты',
          btn: [{
            id: 1,
            name: 'Заявка на подбор',
            click: data => this.titleClick(data)
          }]
        },
        header: [
          {
            id: 1,
            key: 'title',
            name: 'Титул объекта'
          },
          {
            id: 2,
            key: 'status',
            name: 'Статус'
          }
        ],
        data: [
          {
            id: 1,
            title: {
              name: 'Не могу найти все документы'
            },
            status: {
              name: 'Новая'
            },
            rowClick: data => this.rowClick(data)
          },
          {
            id: 2,
            title: {
              name: 'Не могу найти все документы'
            },
            status: {
              name: 'Новая'
            },
            rowClick: data => this.rowClick(data)
          },
          {
            id: 3,
            title: {
              name: 'Не могу найти все документы'
            },
            status: {
              name: 'Новая'
            },
            rowClick: data => this.rowClick(data)
          },
          {
            id: 4,
            title: {
              name: 'Не могу найти все документы'
            },
            status: {
              name: 'Новая'
            },
            rowClick: data => this.rowClick(data)
          },
          {
            id: 5,
            title: {
              name: 'Не могу найти все документы'
            },
            status: {
              name: 'Новая'
            }
          },
          {
            id: 6,
            title: {
              name: 'Не могу найти все документы'
            },
            status: {
              name: 'Новая'
            }
          },
          {
            id: 7,
            title: {
              name: 'Не могу найти все документы'
            },
            status: {
              name: 'Новая'
            }
          }
        ]
      }
    }
  },
  methods: {
    titleClick (item) {
      console.log(item)
      this.showSelectBlueprintPopup = true
    },
    rowClick (row) {
      alert('ROW CLICK')
      console.log(row)
    },
    closeSelectBlueprintPopup (data) {
      console.log(data)
      this.showSelectBlueprintPopup = false
    },
    submitSelectBlueprintPopup (data) {
      console.log(data)
      this.showSelectBlueprintPopup = false
    }
  }
}
</script>

<style scoped>
</style>
