<template>
<div class="page__content">
  <div class="container">
    <div class="profile">
      <div class="title">Настройки</div>
      <div class="profile__holder">
        <div class="profile__personal">
          <div class="profile__ava"><img :src="user.ava" alt="ava"></div>
          <div class="profile__name">{{user.name}} {{user.surname}}</div>
          <div class="profile__ctrl">
            <div class="profile__ctrl-item click" @click="editData">Редактировать данные</div>
            <div class="profile__ctrl-item click" @click="editPassword">Изменить пароль</div>
          </div>
          <div class="profile__rating">Рейтинг: {{user.rating}}</div>
        </div>
        <div class="profile__data">
          <div class="profile__data-col">
            <div class="profile__item">
              <div class="profile__item-title">Контактная информация</div>
              <div class="profile__item-row profile__item-row--sm">
                <table class="profile__item-table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="profile__item-txt">Телефон</div>
                      </td>
                      <td>
                        <div class="profile__item-txt">{{user.phone}}</div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="profile__item-txt">Почта</div>
                      </td>
                      <td>
                        <div class="profile__item-txt">{{user.name}}</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="profile__item">
              <div class="profile__item-title">Техническая поддержка</div>
              <div class="profile__item-row">
                <div class="profile__item-txt">{{user.company}}  </div><div class="profile__item-link profile__item-link--ml click" @click="editCompany">Изменить</div>
              </div>
            </div>
          </div>
          <div class="profile__data-col">
            <div class="profile__item">
              <div class="profile__item-title">Место работы</div>
              <div class="profile__item-row profile__item-row--sm"><div class="profile__item-link click" @click="addCompany">Добавить компанию</div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<style>
</style>

<script>
/**
 * Страница профиля
 */
export default {
  name: 'ProfilePage',
  data () {
    return {
      user: {
        id: 1,
        ava: 'assets/ava/1.jpeg',
        name: 'Александр',
        surname: 'Мирошенко',
        rating: 33.8,
        phone: '+7 (234) 645 573 45',
        mail: 'Alex@gmail.com',
        company: 'ООО «Инжиниринг»'
      }
    }
  },
  methods: {
    /**
     * Редактировать данные
    */
    editData () {
      console.log(this.user)
    },
    /**
     * Редактировать пароль
    */
    editPassword () {
      console.log(this.user)
    },
    /**
     * Изменить компаню
    */
    editCompany () {
      console.log(this.user)
    },
    /**
     * Добавить компаню
    */
    addCompany () {
      console.log(this.user)
    }
  }
}
</script>

<style scoped>
.click {
  cursor: pointer;
}
.profile__ava img {
  height: auto;
}

</style>
