<template>
<div class="authorization">
  <div class="authorization__title">Личный кабинет Danfoss Drives</div>
  <div class="authorization__sub">Доступ к онлайн-сервисам обслуживания оборудования Danfoss Drives,</div>
  <div class="authorization__sub">обновлениям программ, технической поддержке 24/7.</div>
  <div class="authorization-form">
    <div class="authorization-form__holder">
      <div class="authorization-form__title">
        <div class="authorization-form__title-left">Вход</div>
        <div class="authorization-form__title-right"><span>У Вас еще нет аккаунта? </span><a class="click" @click="openPage('/signUp')">Зарегистрируйтесь</a></div>
      </div>
      <div class="authorization-form__input">
        <div class="authorization-form__input-row">
          <input class="input" placeholder="Эл. почта"  @keyup="validEmail" v-model="user.email" :class="{error_input: errorEmail}">
        </div>
        <div class="authorization-form__input-row">
          <input class="input" placeholder="Пароль" type="password" v-model="user.password">
        </div>
      </div><a class="authorization-form__reset" href="#">Восстановить пароль</a>
      <div class="authorization-form__ctrl">
        <div class="authorization-form__ctrl-submit">
          <button class="btn btn--red" @click="singIn">Войти</button>
        </div>
        <div class="authorization-form__ctrl-soc">
          <div class="social">
            <div class="social__item">
              <svg class="icon-svg  icon-facebook">
                <use xlink:href="assets/sprite.svg#facebook"></use>
              </svg>
            </div>
            <div class="social__item">
              <svg class="icon-svg  icon-gp">
                <use xlink:href="assets/sprite.svg#google_+_"></use>
              </svg>
            </div>
            <div class="social__item">
              <svg class="icon-svg  icon-windows">
                <use xlink:href="assets/sprite.svg#windows_phone"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="authorization__descr"><span>При входе через социальные сети, вы принимаете </span><a href="#">Cоглашение об обработке данных</a></div>
  </div>
</div>
</template>

<script>
import User from '../types/User.js'
/**
 * Страница 'Регистрация'
 */
export default {
  name: 'SignIn',
  data () {
    return {
      user: new User(),
      errorEmail: false
    }
  },
  methods: {
    /**
     * Вход.
    */
    singIn () {
      this.errorEmail = !this.user.checkEmail()
      if (!this.user.password || this.errorEmail) return
      console.log(this.user)
    },
    /**
     * Валидация email.
    */
    validEmail () {
      this.errorEmail = !this.user.checkEmail()
    },
    /**
     * Окрыть страницу
     *
     * @param {string} url - урл страницы.
     */
    openPage (url) {
      document.location.hash = url
    }
  }
}
</script>

<style scoped>
.error_input {
  border-color: #c62828;
}
.click {
  cursor: pointer;
}
</style>
