<template>
<div class="authorization">
  <div class="authorization__title">Личный кабинет Danfoss Drives</div>
  <div class="authorization__sub">Доступ к онлайн-сервисам обслуживания оборудования Danfoss Drives,</div>
  <div class="authorization__sub">обновлениям программ, технической поддержке 24/7.</div>

  <div class="authorization-form authorization-form--reg">
    <div class="authorization-form__holder">
      <div class="authorization-form__title">
        <div class="authorization-form__title-left">Регистрация</div>
        <div class="authorization-form__title-right"><span>У вас уже есть аккаунт? </span><a class="click" @click="openPage('/signIn')">Войти</a></div>
      </div>
      <div class="authorization-form__input">
        <div class="authorization-form__input-row">
          <input class="input" placeholder="Фамилия" v-model="user.surname">
        </div>
        <div class="authorization-form__input-row">
          <input class="input" placeholder="Имя" v-model="user.name">
        </div>
        <div class="authorization-form__input-row">
          <input class="input" placeholder="Эл. почта"  @keyup="validEmail" v-model="user.email" :class="{error_input: errorEmail}">
        </div>
        <div class="authorization-form__input-row">
          <input class="input" placeholder="Пароль" type="password" @keyup="validPassword" v-model="user.password" :class="{error_input: errorPassword}">
        </div>
        <div class="authorization-form__input-row">
          <input class="input" placeholder="Повторить пароль" type="password" @keyup="validPassword" v-model="user.repeatPassword" :class="{error_input: errorPassword}">
        </div>
      </div>
      <div class="authorization-form__ctrl">
        <div class="authorization-form__ctrl-submit">
          <button class="btn btn--red" @click='singUp'>Зарегистрироваться</button>
        </div>
        <div class="authorization-form__ctrl-soc">
          <div class="social">
            <div class="social__item">
              <svg class="icon-svg  icon-facebook">
                <use xlink:href="assets/sprite.svg#facebook"></use>
              </svg>
            </div>
            <div class="social__item">
              <svg class="icon-svg  icon-gp">
                <use xlink:href="assets/sprite.svg#google_+_"></use>
              </svg>
            </div>
            <div class="social__item">
              <svg class="icon-svg  icon-windows">
                <use xlink:href="assets/sprite.svg#windows_phone"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</template>

<script>
import User from '../types/User.js'
/**
 * Страница 'Регистрация'
 */
export default {
  name: 'SignUp',
  data () {
    return {
      user: new User(),
      errorPassword: false,
      errorEmail: false
    }
  },
  methods: {
    /**
     * Регистрация.
    */
    singUp () {
      this.errorPassword = !this.user.checkPassword()
      this.errorEmail = !this.user.checkEmail()
      if (this.errorEmail || this.errorPassword) return
      console.log(this.user)
    },
    /**
     * Валидация пароля.
    */
    validPassword () {
      this.errorPassword = !this.user.checkPassword()
    },
    /**
     * Валидация email.
    */
    validEmail () {
      this.errorEmail = !this.user.checkEmail()
    },
    /**
     * Окрыть страницу
     *
     * @param {string} url - урл страницы.
     */
    openPage (url) {
      document.location.hash = url
    }
  }
}
</script>

<style scoped>
.error_input {
  border-color: #c62828;
}
.click {
  cursor: pointer;
}
</style>
