<template>
<div class="page__content">
  <div class="container">
      <div class="task">
        <div class="container container--sm">
          <TasksTop
            :manager="manager"
            :sortTypes="sortTypes"
            :companyList="companyList"
            @onSelectCompany="tasksTopSelectCompany"
            @onSearchText="searchText"
            @onSortType="sortType"
            @onSearch="search"
            @onShowAddTaskPopup="showAddTaskPopup"
          />
          <TasksList
            :tasks="tasksList"
            :complitedPercent="complitedPercent"
            @onDoneAction="doneAction"
            @onAddFile="addFileToAction"
            @onChangeTaskPercent="changeTaskPercent"
            @onShowAddActionPopup="showAddActionPopup"
          />
          <PopupAddTask
            :show="showAddTask"
            @close="closePopupAddTask"
            title="Создать задачу"
            :partnerList="partnerList"
            :responsibleList="responsibleList"
            @save="saveTask"
          />
          <PopupAddTask
            :show="showAddAction"
            @close="closePopupAddAction"
            title="Создать активность"
            :partnerList="partnerList"
            :responsibleList="responsibleList"
            @save="saveAction"
          />
        </div>
      </div>
    </div>
    </div>
</template>

<script>

import TasksTop from '../components/Tasks/TasksTop.vue'
import TasksHead from '../components/Tasks/TasksHead.vue'
import TasksList from '../components/Tasks/TasksList.vue'
import PopupAddTask from '../components/Tasks/PopupAddTask.vue'

export default {
  name: 'Tasks',
  components: {TasksHead, TasksTop, TasksList, PopupAddTask},
  data () {
    return {
      showAddTask: false,
      showAddAction: false,
      tasksList: [
        {
          id: 1,
          companyName: 'Дайвпрогресс',
          tasks: [
            {
              id: 1,
              title: 'Доделать и отправить новый маркетинг кит',
              description: 'Там есть новые материалы, их тоже можно включить туда',
              manager: 'Олег Движнов',
              date: '23 июля',
              partner: 'assets/logo-mini.png',
              donePercents: 45,
              actions: [
                {
                  id: 1,
                  title: 'Проверить документы по новым стандартам',
                  description: 'Документы прикрепил, еще один отправлю в течении дня',
                  responsible: ['Владимир Мирошенко', 'Олег Движнов'],
                  date: '24 июля',
                  done: false,
                  files: [
                    {
                      id: 1,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    },
                    {
                      id: 2,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    },
                    {
                      id: 3,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    }
                  ]
                },
                {
                  id: 2,
                  title: 'Проверить документы по новым стандартам',
                  description: 'Документы прикрепил, еще один отправлю в течении дня',
                  responsible: ['Владимир Мирошенко', 'Олег Движнов'],
                  date: '24 июля',
                  done: false,
                  files: [
                    {
                      id: 1,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    },
                    {
                      id: 2,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    },
                    {
                      id: 3,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    }
                  ]
                }
              ]
            },
            {
              id: 2,
              title: 'Доделать и отправить новый маркетинг кит',
              description: 'Там есть новые материалы, их тоже можно включить туда',
              manager: 'Олег Движнов',
              date: '23 июля',
              partner: 'assets/logo-mini.png',
              donePercents: 45,
              actions: [
                {
                  id: 1,
                  title: 'Проверить документы по новым стандартам',
                  description: 'Документы прикрепил, еще один отправлю в течении дня',
                  responsible: ['Владимир Мирошенко', 'Олег Движнов'],
                  date: '24 июля',
                  done: false,
                  files: [
                    {
                      id: 1,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    },
                    {
                      id: 2,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    },
                    {
                      id: 3,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    }
                  ]
                },
                {
                  id: 2,
                  title: 'Проверить документы по новым стандартам',
                  description: 'Документы прикрепил, еще один отправлю в течении дня',
                  responsible: ['Владимир Мирошенко', 'Олег Движнов'],
                  date: '24 июля',
                  done: false,
                  files: [
                    {
                      id: 1,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    },
                    {
                      id: 2,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    },
                    {
                      id: 3,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          id: 2,
          companyName: 'Дайвпрогресс',
          tasks: [
            {
              id: 1,
              title: 'Доделать и отправить новый маркетинг кит',
              description: 'Там есть новые материалы, их тоже можно включить туда',
              manager: 'Олег Движнов',
              date: '23 июля',
              partner: 'assets/logo-mini.png',
              donePercents: 45,
              actions: [
                {
                  id: 1,
                  title: 'Проверить документы по новым стандартам',
                  description: 'Документы прикрепил, еще один отправлю в течении дня',
                  responsible: ['Владимир Мирошенко', 'Олег Движнов'],
                  date: '24 июля',
                  done: false,
                  files: [
                    {
                      id: 1,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    },
                    {
                      id: 2,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    },
                    {
                      id: 3,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    }
                  ]
                },
                {
                  id: 2,
                  title: 'Проверить документы по новым стандартам',
                  description: 'Документы прикрепил, еще один отправлю в течении дня',
                  responsible: ['Владимир Мирошенко', 'Олег Движнов'],
                  date: '24 июля',
                  done: false,
                  files: [
                    {
                      id: 1,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    },
                    {
                      id: 2,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    },
                    {
                      id: 3,
                      name: 'file.png',
                      size: 5423534564,
                      url: '/statics/img/logo.png',
                      type: 'image/png'
                    }
                  ]
                }
              ]
            }
          ]
        }
      ],
      percentTasks: 50,
      companyList: [
        {
          label: 'ООО «Приорити»',
          value: 1
        },
        {
          label: 'ООО «Приорити2»',
          value: 2
        },
        {
          label: 'ООО «Приорити3»',
          value: 3
        },
        {
          label: 'ООО «Приорити4»',
          value: 4
        }
      ],
      responsibleList: [
        {
          label: 'Олег Движнов',
          value: 1
        },
        {
          label: 'Владимир Мирошенко',
          value: 2
        },
        {
          label: 'Олег Движнов',
          value: 3
        },
        {
          label: 'Владимир Мирошенко',
          value: 4
        }
      ],
      partnerList: [
        {
          label: 'ООО «Приорити»',
          value: 1
        },
        {
          label: 'ООО «Приорити2»',
          value: 2
        },
        {
          label: 'ООО «Приорити3»',
          value: 3
        },
        {
          label: 'ООО «Приорити4»',
          value: 4
        }
      ],
      manager: 'Карнаухов Сергей',
      sortTypes: [
        {
          label: 'по дате',
          value: 1
        },
        {
          label: 'по популярности',
          value: 2
        },
        {
          label: 'по цене',
          value: 3
        },
        {
          label: 'по убыванию',
          value: 4
        }
      ]
    }
  },
  computed: {
    complitedPercent: function () {
      let percents = {}
      let countOfTasks = {}
      let countOfTasksPercents = {}
      // считаем общее количесво активносей и выполненных активностей
      this.tasksList.forEach(company => {
        company.tasks.forEach(task => {
          countOfTasks['all'] ? countOfTasks['all']++ : countOfTasks['all'] = 1
          countOfTasks[company.id] ? countOfTasks[company.id]++ : countOfTasks[company.id] = 1
          countOfTasksPercents['all'] ? countOfTasksPercents['all'] += task.donePercents : countOfTasksPercents['all'] = task.donePercents
          countOfTasksPercents[company.id] ? countOfTasksPercents[company.id] += task.donePercents : countOfTasksPercents[company.id] = task.donePercents
        })
      })
      // считаем выполненный процент
      Object.keys(countOfTasks).forEach(key => {
        percents[key] = parseInt(countOfTasksPercents[key] / countOfTasks[key])
      })

      return percents
    }
  },
  methods: {
    pdf () {
      console.log('pdf')
    },
    doc () {
      console.log('doc')
    },
    tasksHeadselectCompany (val) {
      console.log(val)
    },
    tasksTopSelectCompany (val) {
      console.log(val)
    },
    searchText (val) {
      console.log(val)
    },
    sortType (val) {
      console.log(val)
    },
    search (val) {
      console.log(val)
    },
    saveTask (task) {
      console.log(task)
    },
    saveAction (action) {
      console.log(action)
    },
    addFileToAction (file) {
      console.log(file)
    },
    doneAction (action) {
      console.log(action)
      action.done = !action.done
    },
    showAddTaskPopup () {
      this.showAddTask = !this.showAddTask
    },
    showAddActionPopup () {
      this.showAddAction = !this.showAddAction
    },
    closePopupAddTask () {
      this.showAddTask = false
    },
    closePopupAddAction () {
      this.showAddAction = false
    },
    changeTaskPercent ({percent, task}) {
      console.log(percent)
      task.donePercents = percent
    }
  }
}
</script>
