<template>
  <div class="page__content">
    <div class="container">
      <div class="teacher">
        <div class="title">Курс для партнеров</div>
        <div class="teacher__sub">Максимально 32 участника</div>
        <div class="teacher__holder">
          <ScrollList
            :title="scrollListData1.title"
            :header="scrollListData1.header"
            :data="scrollListData1.data"
          />
          <ScrollList
            :title="scrollListData2.title"
            :header="scrollListData2.header"
            :data="scrollListData2.data"
          />
          <PopupNewEvent
            :show="showPopupNewEvent"
            @close="closePopupNewEvent"
            @submit="submitPopupNewEvent"
            :data="popupData"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import ScrollList from '../components/Teacher/ScrollList.vue'
import PopupNewEvent from '../components/Teacher/PopupNewEvent.vue'

export default {
  name: 'Teacher',
  components: { ScrollList, PopupNewEvent },
  data () {
    return {
      showPopupNewEvent: false,
      scrollListData1: {
        title: {
          name: 'Одобренные заявки',
          btn: [{
            id: 1,
            name: 'Создать мероприятие',
            click: data => this.scrollListTitleClick(data)
          }]
        },
        header: [
          {
            id: 1,
            key: 'course',
            name: 'Курс'
          },
          {
            id: 2,
            key: 'time',
            name: 'Согласование времени'
          }
        ],
        data: [
          {
            id: 1,
            course: {
              name: 'Владимир Мирошенко'
            },
            time: {
              name: 'Согласовать время',
              click: data => this.scrollListClick(data)
            }
          },
          {
            id: 2,
            course: {
              name: 'Владимир Мирошенко'
            },
            time: {
              name: 'Согласовать время',
              click: data => this.scrollListClick(data)
            }
          },
          {
            id: 3,
            course: {
              name: 'Владимир Мирошенко'
            },
            time: {
              name: 'Согласовать время',
              click: data => this.scrollListClick(data)
            }
          },
          {
            id: 4,
            course: {
              name: 'Владимир Мирошенко'
            },
            time: {
              name: 'Согласовать время',
              click: data => this.scrollListClick(data)
            }
          },
          {
            id: 5,
            course: {
              name: 'Владимир Мирошенко'
            },
            time: {
              name: 'Согласовать время',
              click: data => this.scrollListClick(data)
            }
          },
          {
            id: 6,
            course: {
              name: 'Владимир Мирошенко'
            },
            time: {
              name: 'Согласовать время',
              click: data => this.scrollListClick(data)
            }
          },
          {
            id: 7,
            course: {
              name: 'Владимир Мирошенко'
            },
            time: {
              name: 'Согласовать время',
              click: data => this.scrollListClick(data)
            }
          }
        ]
      },
      scrollListData2: {
        title: {
          name: 'Одобренные заявки'
        },
        header: [
          {
            id: 1,
            key: 'event',
            name: 'Мероприятие'
          },
          {
            id: 2,
            key: 'place',
            name: 'Согласование времени'
          },
          {
            id: 3,
            key: 'time',
            name: 'Согласование времени'
          }, {
            id: 4,
            key: 'status',
            name: ''
          }
        ],
        data: [
          {
            id: 1,
            event: {
              name: 'Владимир Мирошенко'
            },
            place: {
              name: 'г. Москва, ул. Врощевицена, 89а'
            },
            time: {
              name: '2 марта, 2019'
            },
            status: {
              name: 'Обучение проведено',
              click: data => this.scrollListClick2(data)
            }
          },
          {
            id: 2,
            event: {
              name: 'Владимир Мирошенко'
            },
            place: {
              name: 'г. Москва, ул. Врощевицена, 89а'
            },
            time: {
              name: '2 марта, 2019'
            },
            status: {
              name: 'Обучение проведено',
              click: data => this.scrollListClick2(data)
            }
          },
          {
            id: 3,
            event: {
              name: 'Владимир Мирошенко'
            },
            place: {
              name: 'г. Москва, ул. Врощевицена, 89а'
            },
            time: {
              name: '2 марта, 2019'
            },
            status: {
              name: 'Обучение проведено',
              click: data => this.scrollListClick2(data)
            }
          },
          {
            id: 4,
            event: {
              name: 'Владимир Мирошенко'
            },
            place: {
              name: 'г. Москва, ул. Врощевицена, 89а'
            },
            time: {
              name: '2 марта, 2019'
            },
            status: {
              name: 'Обучение проведено',
              click: data => this.scrollListClick2(data)
            }
          },
          {
            id: 5,
            event: {
              name: 'Владимир Мирошенко'
            },
            place: {
              name: 'г. Москва, ул. Врощевицена, 89а'
            },
            time: {
              name: '2 марта, 2019'
            },
            status: {
              name: 'Обучение проведено',
              click: data => this.scrollListClick2(data)
            }
          },
          {
            id: 6,
            event: {
              name: 'Владимир Мирошенко'
            },
            place: {
              name: 'г. Москва, ул. Врощевицена, 89а'
            },
            time: {
              name: '2 марта, 2019'
            },
            status: {
              name: 'Обучение проведено',
              click: data => this.scrollListClick2(data)
            }
          },
          {
            id: 7,
            event: {
              name: 'Владимир Мирошенко'
            },
            place: {
              name: 'г. Москва, ул. Врощевицена, 89а'
            },
            time: {
              name: '2 марта, 2019'
            },
            status: {
              name: 'Обучение проведено',
              click: data => this.scrollListClick2(data)
            }
          }
        ]
      },
      popupData: {
        title: 'Создать мероприятие',
        userList: [
          {
            id: 1,
            name: 'Оксана Андреянко'
          },
          {
            id: 2,
            name: 'Оксана Андреянко'
          },
          {
            id: 3,
            name: 'Оксана Андреянко'
          },
          {
            id: 4,
            name: 'Оксана Андреянко'
          },
          {
            id: 5,
            name: 'Оксана Андреянко'
          },
          {
            id: 6,
            name: 'Оксана Андреянко'
          },
          {
            id: 7,
            name: 'Оксана Андреянко'
          },
          {
            id: 9,
            name: 'Оксана Андреянко'
          },
          {
            id: 10,
            name: 'Оксана Андреянко'
          },
          {
            id: 11,
            name: 'Оксана Андреянко'
          },
          {
            id: 12,
            name: 'Оксана Андреянко'
          },
          {
            id: 13,
            name: 'Оксана Андреянко'
          }
        ]
      }
    }
  },
  methods: {
    scrollListClick (data) {
      alert(data.id)
      console.log(data)
    },
    scrollListClick2 (data) {
      alert(data.id)
      console.log(data)
    },
    scrollListTitleClick (data) {
      console.log(data)
      this.showPopupNewEvent = true
    },
    closePopupNewEvent (data) {
      alert('Close')
      console.log(data)
      this.showPopupNewEvent = false
    },
    submitPopupNewEvent (data) {
      alert('Submit')
      console.log(data)
      this.showPopupNewEvent = false
    }
  }
}
</script>
