<template>
  <div class="page__content">
    <div class="container">
      <Courses
        :title="coursesData.title"
        :numberOfParticipants="coursesData.numberOfParticipants"
        :courses="coursesData.courses"
        :show="5"
        @btnClick="btnClickCourse"
      />
      <ScrollList
        :title="scrollListData.title"
        :header="scrollListData.header"
        :data="scrollListData.data"
        @rowClick="rowClick"
      />
      <PopupNewCourse
        :show="showPopupNewCourse"
        @close="closePopupNewCourse"
        @submit="submitPopupNewCourse"
        :biteInMb="biteInMb"
      />
    </div>
  </div>
</template>

<script>

import Courses from '../components/User/Courses.vue'
import ScrollList from '../components/Teacher/ScrollList.vue'
import PopupNewCourse from '../components/User/PopupNewCourse.vue'
import { BYTE_IN_MEGABYTE } from '../constants'

export default {
  name: 'User',
  components: { Courses, ScrollList, PopupNewCourse },
  data () {
    return {
      showPopupNewCourse: false,
      biteInMb: BYTE_IN_MEGABYTE,
      coursesData: {
        title: 'Курс для партнеров',
        numberOfParticipants: 32,
        courses: [
          {
            id: 1,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'new',
            number: 22,
            maxNumber: 29
          },
          {
            id: 2,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'approved',
            number: 22,
            maxNumber: 29
          },
          {
            id: 3,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'timeAgreed',
            number: 22,
            maxNumber: 29
          },
          {
            id: 4,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'timeAgreed',
            number: 22,
            maxNumber: 29
          },
          {
            id: 5,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'approved',
            number: 22,
            maxNumber: 29
          },
          {
            id: 6,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'approved',
            number: 22,
            maxNumber: 29
          },
          {
            id: 7,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'timeAgreed',
            number: 22,
            maxNumber: 29
          },
          {
            id: 8,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'approved',
            number: 22,
            maxNumber: 29
          },
          {
            id: 9,
            title: 'Самый эффективный способ борьбы с пиратством',
            text: 'В сегодняшнем обзоре расскажем, какие значимые функции для камер будут востребованы в ближайшем будущем, и как компании не из сферы видеонаблюдения используют.',
            status: 'timeAgreed',
            number: 22,
            maxNumber: 29
          }
        ]
      },
      scrollListData: {
        title: {
          name: 'Одобренные заявки'
        },
        header: [
          {
            id: 1,
            key: 'course',
            name: 'Мероприятие'
          },
          {
            id: 2,
            key: 'place',
            name: 'Место'
          },
          {
            id: 3,
            key: 'date',
            name: 'Дата'
          }
        ],
        data: [
          {
            id: 1,
            course: 'Курс партнеров',
            place: 'г. Москва, ул. Слободская, 22',
            date: '2 марта, 2019'
          },
          {
            id: 2,
            course: 'Курс партнеров',
            place: 'г. Москва, ул. Слободская, 22',
            date: '2 марта, 2019'
          },
          {
            id: 3,
            course: 'Курс партнеров',
            place: 'г. Москва, ул. Слободская, 22',
            date: '2 марта, 2019'
          },
          {
            id: 4,
            course: 'Курс партнеров',
            place: 'г. Москва, ул. Слободская, 22',
            date: '2 марта, 2019'
          },
          {
            id: 5,
            course: 'Курс партнеров',
            place: 'г. Москва, ул. Слободская, 22',
            date: '2 марта, 2019'
          },
          {
            id: 6,
            course: 'Курс партнеров',
            place: 'г. Москва, ул. Слободская, 22',
            date: '2 марта, 2019'
          },
          {
            id: 7,
            course: 'Курс партнеров',
            place: 'г. Москва, ул. Слободская, 22',
            date: '2 марта, 2019'
          }
        ]
      }
    }
  },
  methods: {
    btnClickCourse (status) {
      switch (status) {
        case 'new':
          console.log(status)
          this.showPopupNewCourse = true
          break
        case 'approved':
          console.log(status)
          break
        case 'timeAgreed':
          console.log(status)
          break
        default:
          console.log(status)
          break
      }
    },
    rowClick (row) {
      console.log(row)
    },
    closePopupNewCourse (data) {
      console.log(data)
      this.showPopupNewCourse = false
    },
    submitPopupNewCourse (data) {
      console.log(data)
      this.showPopupNewCourse = false
    }
  }
}
</script>
