<template>
  <div class="forum__heading">
    <div class="title">
      <div
        class="back"
        v-if="backBtn"
        @click="back()"
      >
        <svg class="icon-svg  icon-arrow-left">
          <use xlink:href="assets/sprite.svg#arrow-left"></use>
        </svg>
      </div>
      {{title}}

    </div>
    <div class="forum__search">
      <div class="search">
        <input
          class="search__input"
          placeholder="Поиск"
          v-model="search"
          @keyup.enter="$emit('search', search)"
        />
        <div
          class="search__icon"
          @click="$emit('search', search)"
        >
          <svg>
            <use xlink:href="assets/sprite.svg#glass"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="forum__heading-btns">
      <div
        class="btn"
        @click="$emit('doc')"
      >Документация</div>
      <div
        @click="$emit('new')"
        class="btn  btn--red"
      >Новая тема</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ForumHeader',
  props: {
    title: String,
    backBtn: Boolean
  },
  data () {
    return {
      search: null
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    }
  }
}
</script>

<style scoped>
.search__icon,
.back {
  cursor: pointer;
}
</style>
