<template>
  <div class="forum__inner">
    <div
      v-for="fl in list"
      :key="fl.id"
      class="forum-toggle"
      data-controller="accordion"
      :class="{active : isOpen[fl.id]}"
    >
      <div
        class="forum-toggle__header accordion-header"
        @click="open(fl.id)"
        :class="{active : isOpen[fl.id]}"
      >
        <span class="forum-toggle__header-title">{{ fl.title}}</span><span class="forum-toggle__header-arrow">
          <svg class="icon-svg  icon-back-arrow">
            <use xlink:href="assets/sprite.svg#back-arrow"></use>
          </svg></span></div>
      <transition name="show">
        <div
          class="forum-toggle__body accordion-body open"
          v-if="isOpen[fl.id]"
        >
          <div class="forum-toggle__list">
            <div
              class="forum-toggle__item"
              v-for="l in fl.list"
              :key="l.id"
            >
              <div
                class="forum-toggle__item-title"
                @click="$emit('openTopic', l.id)"
              >{{l.title}}
                <svg class="icon-svg  icon-arrow-right">
                  <use xlink:href="assets/sprite.svg#arrow-right"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>

  </div>

</template>

<script>
export default {
  name: 'ForumList',
  props: {
    list: Array
  },
  data () {
    return {
      isOpen: {}
    }
  },

  methods: {
    open (id) {
      this.isOpen[id] = !this.isOpen[id]
      this.$forceUpdate()
    }
  }
}
</script>

<style scoped>
.open {
  display: block;
}
.show-enter-active {
  transition: all 0.2s ease;
}
.show-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}
.show-enter,
.show-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
.forum-toggle__header-title:hover {
  color: #c9060a;
}
</style>
