<template>
    <q-modal v-model="isShow" position="bottom" class="forum_emoji_popup">
      <div style="padding: 20px">
        <div class="q-display-1 q-mb-md">

        <div class="chat_icons">
          <img
            v-for="(e, i) in emoji"
            class="chat_emoji"
            :src="`https://vk.com/emoji/e/${e}_2x.png`"
            @click="addEmoji(e)"
            :key="i"
          >
        </div>
      </div>
      </div>
    </q-modal>
</template>

<script>
export default {
  name: 'PopupEmotions',
  props: {
    show: Boolean,
    emoji: Array
  },
  computed: {
    isShow: {
      get: function () {
        return this.show
      },
      set: function (newValue) {
        this.$emit('close')
      }
    }
  },
  data () {
    return {
      folderName: null
    }
  },
  methods: {
    /**
     * Закрыть окно
    */
    close () {
      this.isShow = false
    },
    addEmoji (e) {
      this.$emit('addemoji', e)
    }
  }
}
</script>

<style>
.btn-emotions-rigth {
  float: right;
}
.clear {
  clear: both
}
.chat_emoji {
  padding: 4px;
  cursor: pointer;
}
.forum_emoji_popup .modal-backdrop {
  background: rgba(0,0,0,0);
}
</style>
