<template>
<div class="q-pa-md">
    <input type="file" name='file' @change="getFile" multiple hidden id="forumFileUpload">
    <q-btn-dropdown icon="attach_file" split @click="openFileWnd">
      <q-list v-if="files && files.length">
        <q-item clickable v-for="(f, i) in files" :key="i">
          <span class="forum_file_name">{{f.name}} : {{(f.size / byteInMegabyte).toFixed(2) }} MB</span>
          <span class="forum_file_delete" @click="deleteFile(i)">
            <q-icon name="delete_forever" />
          </span>
        </q-item>
      </q-list>
    </q-btn-dropdown>
  </div>
</template>

<script>
export default {
  name: 'ForumListInputFiles',
  props: {
    files: Array
  },
  data () {
    return {
      byteInMegabyte: 1048576
    }
  },
  methods: {
    openFileWnd () {
      document.getElementById('forumFileUpload').click()
    },
    getFile () {
      const files = []
      if (window.event.target.files) {
        Object.keys(window.event.target.files).forEach(k => {
          files.push({
            name: window.event.target.files[k].name,
            size: window.event.target.files[k].size,
            type: window.event.target.files[k].type,
            url: '/statics/quasar-logo.png'
          })
        })
      }

      this.$emit('upload', files)
    },
    deleteFile (i) {
      this.$emit('deleteFile', i)
    }
  }
}
</script>

<style scoped>
  .forum_file_name {
    padding: 5px;
    padding-right: 10px;
  }
  .forum_file_delete {
    cursor: pointer;
    color:#c9060a;
    font-size: 20px;
  }
</style>
