<template>
  <div class="header__msg">
    <div class="header__msg-num"  @click="show" v-if="notifications.length">{{notifications.length}}</div>
    <svg class="header__msg-icon" @click="show">
      <use xlink:href="assets/sprite.svg#bell"></use>
    </svg>

      <div class="notification_list" :class="{opened: showAll}">
          <div class="notification_block"
            v-for="n in notifications"
            :key="n.id"
            :class="{selected : selectedId === n.id}"
            @click="select(n)"
          >
            <div class="notification_text">{{ n.title }}</div>
            <div class="notification_text">{{ n.text }}</div>
            <div class="notification_date">{{ n.date }}</div>
          </div>
      </div>
      <div class="layer" @click="show" v-if="showAll"></div>
  </div>
</template>

<script>

/**
 * Компонент список уведомлений в шапке
 */
export default {
  name: 'NotificationList',
  props: {
    notifications: Array
  },
  data () {
    return {
      showAll: false, // показать все уведомления
      selectedId: undefined // id выбранного уведомления
    }
  },
  methods: {
    /**
     * Показать полный список уведомлений.
    */
    show () {
      this.showAll = !this.showAll
    },
    /**
     * Выбрать уведомление.
     *
     * @param {object} notification - уведомление
    */
    select (notification) {
      this.selectedId = notification.id
      this.$emit('select', notification)
    }
  }
}
</script>

<style scoped>
.notification_list {
  display: none;
  background-color: #FFF;
  z-index: 10;
  position: absolute;
  width: 280px;
  top: 135%;
  left: -100px;
  max-height: 50vh;
  overflow-y: auto;
  box-shadow: 1px 1px 20px rgba(142, 170, 206, .4);
}
.notification_block {
  border-bottom: 1px solid #b0bec5;
  padding: 10px;
  width: 100%;
}
.notification_title {
  text-align: center;
  font-size: 20px;
}
.notification_text {
  text-align: left;
  font-size: 16px;
  padding: 3px;
}
.notification_date {
  text-align: right;
  font-size: 12px;
  color: #546e7a;
}
.selected {
  color: #c9060a !important;
}
.opened {
  display: block;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.layer {
  position: fixed;
  cursor: default;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
}

</style>
