<template>
  <div class="forum-boxes">
    <Box
      v-for="(box, i) in boxes"
      :box="box"
      :key="box.id"
      :count="boxes.length - 1"
      :first="!i"
      :title="title"
      @like="$emit('like', box)"
      @sign="$emit('sign', box)"
      @answer="$emit('answer', box)"
      @complaint="$emit('complaint', box)"
      @delete="$emit('delete', box)"
      @edit="$emit('edit', box)"
      :user="user"
    />

    <InputBox
      :user="user"
      :emoji="emoji"
      @draft="draft"
      @preview="preview"
      @sendMsg="sendMsg"
      ref='forumBoxInput'
    />
  </div>
</template>

<script>
import Box from './ForumBox.vue'
import InputBox from './ForumBoxInput'
export default {
  name: 'ForumBoxes',
  components: { Box, InputBox },
  props: {
    boxes: Array,
    title: String,
    user: Object,
    emoji: Array
  },

  methods: {
    back () {
      this.$router.go(-1)
    },
    sendMsg (msg) {
      this.$emit('sendMsg', msg)
    },
    draft (msg) {
      this.$emit('draft', msg)
    },
    preview (msg) {
      this.$emit('preview', msg)
    }
  }
}
</script>

<style scoped>
.forum-box__title {
  cursor: pointer;
}
</style>
