<template>

  <div class="forum-box">
    <div
      class="forum-box__heading"
      v-if="first"
    >
      <div
        class="forum-box__title"
        @click="back()"
      >
        <svg class="icon-svg  icon-arrow-left">
          <use xlink:href="assets/sprite.svg#arrow-left"></use>
        </svg>{{title}}</div>
      <div class="forum-box__link-quote">
        <svg class="icon-svg  icon-quote">
          <use xlink:href="assets/sprite.svg#quote"></use>
        </svg>{{count}}</div>
    </div>
    <div class="forum-box__content">
      <div class="forum-box__info">
        <div
          class="forum-box__label"
          v-if="box.owner"
        >Топикстартер</div>
        <span class="forum-box__author">
          <span
            class="forum-box__author-photo"
            v-if="box.ava"
          ><img
              :src="box.ava"
              :alt="box.author"
            ></span>
          {{box.author}}
          <span class="forum-box__author-text">написал</span>{{box.time}}:</span>
      </div>
      <div
        class="forum-box__text"
        v-html="box.text"
      ></div>
      <div class="forum-box__file" v-if="box.files && box.files.length">
          <div v-for="(f, i) in box.files" :key="i" class="forum_box_file">
            <a v-if="f.type && f.type.indexOf('image') != -1"  :href="f.url" target="_blanck">
              <img  :src="f.url" :alt="f.name" width="100" class="forum_file_img"/>
            </a>
            <a v-else  :href="f.url" :download="f.name">
              <q-icon name="insert_drive_file" class='forum_file_download'/>
              <div class="forum_file_text">{{ f.name }}: {{ (f.size / byteInMegabyte).toFixed(2) }} MB</div>
            </a>
          </div>
          <div class="clear"></div>
      </div>
    </div>
    <div class="forum-box__actions">
      <div class="forum-box__actions-group">
        <div
          class="forum-box__actions-link"
          @click="$emit('answer')"
        >Ответить</div>
        <div
          class="forum-box__actions-link"
          @click="$emit('sign')"
          v-if="box.userId !== user.id"
          :class="{active: box.sign}"
        >Подписаться</div>
        <div
          class="forum-box__actions-link"
          @click="$emit('like')"
          :class="{active: box.like}"
        >
          <svg class="icon-svg  icon-heart">
            <use xlink:href="assets/sprite.svg#heart"></use>
          </svg>Мне нравится</div>
      </div>
      <div class="forum-box__actions-group">
        <div
          class="forum-box__actions-link"
          v-if="box.userId === user.id"
          @click="$emit('delete')"
        >Удалить</div>
        <div
          class="forum-box__actions-link"
          v-if="box.userId === user.id"
          @click="$emit('edit')"
        >Редактировать</div>
        <div
          v-if="box.userId !== user.id"
          class="forum-box__actions-link"
          @click="$emit('complaint')"
        >Пожаловаться</div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: 'ForumBox',
  props: {
    box: Object,
    title: String,
    first: Boolean,
    count: Number,
    user: Object
  },
  data () {
    return {
      byteInMegabyte: 1048576
    }
  },
  methods: {
    back () {
      this.$router.go(-1)
    }
  }
}
</script>

<style scoped>
.forum-box__title {
  cursor: pointer;
}
.forum-box__actions-link {
  cursor: pointer;
}

.forum_file_download {
  font-size: 40px;
  color: #7e95ab;
}
.forum_file_text {
  margin-top: 10px;
  color: #444;
}

.forum_file_img {
  margin-top: 10px;
}
.forum_box_file {
  padding: 10px;
  margin: 10px;
  float: left;
  border: solid 1px #ccc;
  border-radius: 10px;
}
.clear {
  clear: both;
}
</style>
