<template>

  <div class="forum-box forum-box--form">
    <div class="forum-box__content">
      <div class="forum-box__info"><span class="forum-box__author"><span
            class="forum-box__author-photo"
            v-if="user.ava"
          ><img
              :src="user.ava"
              alt=""
            ></span>{{ user.name }}
        </span></div>
    </div>
    <form
      class="forum-box__form"
      action=""
    >

      <div class="forum-box__form-row">
        <div id="forumAnswer"></div>
      </div>
       <div id="editor" class="forum-box-textarea autoSize"></div>

      <div class="forum-box__form-row">
      <div class="forum-box__form-btns btns-left">

        <Files
          :files="files"
          @upload="uploadFiles"
          @deleteFile="deleteFile"
        />

        <div id="toolbar" class="forum-box__toolbar">
          <button class="ql-bold"></button>
          <button class="ql-italic"></button>
          <button class="ql-strike"></button>
          <button class="ql-underline"></button>
        </div>
        <q-btn
            class="forum-emoticons-btn"
            round
            dense
            icon="sentiment_satisfied_alt"
            @click="onShowEmoticons()"
          />
        <div
          class="btn"
          @click="draft()"
        >В черновик</div>

        </div>

        <div class="forum-box__form-btns">
          <div
            class="btn"
            @click="preview()"
          >
            <svg class="icon-svg  icon-preview">
              <use xlink:href="assets/sprite.svg#preview"></use>
            </svg>Предпросмотр</div>
          <div
            class="btn btn--red"
            @click="sendMsg()"
          >Отправить</div>
        </div>
      </div>
    </form>
    <Emoticons
      :show="showEmoticons"
      @close="onShowEmoticons()"
      :emoji="emoji"
      @addemoji="addEmoji"
    />
  </div>

</template>

<script>
import Files from './ForumBoxInput/Files.vue'
import Emoticons from './ForumBoxInput/Emoticons.vue'
import Quill from 'quill'
export default {
  name: 'ForumBoxInput',
  components: { Files, Emoticons },
  props: {
    user: Object,
    emoji: Array
  },
  data () {
    return {
      showEmoticons: false,
      editor: null,
      answer: null,
      quill: null,
      editBox: null,
      files: null,
      byteInMegabyte: 1048576
    }
  },
  methods: {
    sendMsg () {
      const msg = this.answer.innerHTML.trim() + this.editor.innerHTML.trim()
      this.$emit('sendMsg', { msg, box: this.editBox, files: this.files })
      this.editBox = null
      this.editor.innerHTML = ''
      this.answer.innerHTML = ''
      this.files = null
    },
    preview () {
      const msg = this.answer.innerHTML.trim() + this.editor.innerHTML.trim()
      if (msg) {
        this.$emit('preview', msg)
        this.editor.innerHTML = ''
        this.answer.innerHTML = ''
      }
    },
    draft () {
      const msg = this.answer.innerHTML.trim() + this.editor.innerHTML.trim()
      this.$emit('draft', msg)
      this.editor.innerHTML = ''
      this.answer.innerHTML = ''
    },
    onAnswer (box) {
      if (this.editBox) {
        return
      }
      const answInfoBlockSymbol = document.createElement('span')
      answInfoBlockSymbol.className = 'forum-box__quote-sybmol'
      answInfoBlockSymbol.innerHTML = '"'

      const answInfoBlockAuthor = document.createElement('span')
      answInfoBlockAuthor.className = 'forum-box__author'
      answInfoBlockAuthor.innerHTML = `${box.author} <span class="forum-box__author-text">написал</span> ${box.time}`

      const answInfoBlock = document.createElement('div')
      answInfoBlock.className = 'forum-box__info'
      answInfoBlock.appendChild(answInfoBlockSymbol)
      answInfoBlock.appendChild(answInfoBlockAuthor)

      const answTextBlock = document.createElement('div')
      let text = box.text.replace(/<p>/g, '')
      text = text.replace(/<\/p>/g, '</br>')
      answTextBlock.innerHTML = text

      const answBlock = document.createElement('div')
      answBlock.setAttribute('contenteditable', false)
      answBlock.className = 'forum-box__quote'
      answBlock.appendChild(answInfoBlock)
      answBlock.appendChild(answTextBlock)
      document.getElementById('forumAnswer').appendChild(answBlock)

      this.answer.appendChild(answBlock)
    },
    onEdit (box) {
      if (this.editBox) {
        return
      }
      this.editBox = box
      this.files = box.files ? deepCopy(box.files) : null

      const text = box.text.match(/(?<=<p>)(.*)(?=<\/p>)/g)
      const answer = box.text.replace(`<p>${text}</p>`, '')

      this.editor.innerHTML = text[0]
      this.answer.innerHTML = answer
    },
    uploadFiles (files) {
      if (this.files) {
        this.files = [...this.files, ...files]
      } else {
        this.files = files
      }
    },
    deleteFile (i) {
      this.files.splice(i, 1)
    },
    onShowEmoticons () {
      this.showEmoticons = !this.showEmoticons
    },
    /**
     * Парсит текст и заменяет символы на смайлы.
     *
     * @param {string} emojiCode - код смайла .
     */
    addEmoji (emojiCode) {
      this.quill.insertEmbed(this.quill.getLength() - 1, 'image', `https://vk.com/emoji/e/${emojiCode}.png`)
      let range = document.createRange()
      let sel = window.getSelection()
      let start = this.editor.childNodes.length
      range.setStart(this.editor, start)
      range.collapse(true)
      sel.removeAllRanges()
      sel.addRange(range)
    }
  },
  mounted () {
    this.quill = new Quill('#editor', {
      modules: { toolbar: {
        container: '#toolbar'
      }},
      theme: 'snow'
    })

    this.editor = document.getElementsByClassName('ql-editor')[0]
    this.answer = document.getElementById('forumAnswer')
  }
}

function deepCopy (copy) {
  return JSON.parse(JSON.stringify(copy))
}
</script>

<style>
.forum-box-textarea {
  border: 1px solid #d3dbea;
  width: 100%;
  padding: 10px;
  min-height: 80px;
  border-radius: 10px;
}
.forum_msg_pure {
  height: 25px;
  padding-top: 10px;
}

.forum-box__attach {
  height: 40px;
  float: left;
  cursor: pointer;
  padding-top: 10px;
}

.selected_file {
  margin-right: 10px;
}

.forum-box__attach svg {
  height: 20px;
  width: 20px;
  fill: #34495e;
}

.forum-box__attach svg:hover {
  fill: #c9060a;
}

.btns-left .btn{
  margin: 0;
}
.q-btn {
  display: flex;
}

.forum-box__delete_attach {
  margin-right: 10px;
}

.forum-box__text_btn {
  margin-left: 10px;
}

.forum-box__toolbar {
  border: none !important;
  margin-right: 10px;
}

.forum-emoticons-btn {
  margin-right: 10px;
}
.editor_emoji {
  width: 16px;
  height: 16px;
}
</style>
