<template>
<div class="dashboard__chart">
  <div class="chart">
    <div class="chart__header">
      <div class="chart__header-left">
        <div class="chart__header-title">Техническая поддержка</div>
        <div class="header_select_block">
          <q-select
            class="header_select"
            v-model="select"
            :options="options"
          />
        </div>
      </div>
      <div class="chart__header-right">
        <div class="date-switch">
          <div
            class="date-switch__item"
           @click="filter('today')"
           :class="{active: timeInterval === 'today'}"
          >За сегодня</div>
          <div class="date-switch__spacer">/</div>
          <div
            class="date-switch__item"
            @click="filter('all')"
            :class="{active: timeInterval === 'all'}"
            >Все</div>
        </div>
      </div>
    </div>
    <div class="chart__body" data-controller="chart">
      <div class="ch" id="chart-00"></div>
    </div>
  </div>
</div>
</template>

<script>
import Highcharts from 'highcharts'
/**
 * Компонент график
 */
export default {
  name: 'DashboardChart',
  props: {
    data: Array,
    options: Array,
    selected: String
  },
  data () {
    return {
      highcharts: undefined,
      timeInterval: 'all',
      select: undefined
    }
  },
  watch: {
    select: function (value) {
      this.filter()
    }
  },
  methods: {
    /**
     * Выбрать фильтры на гарфике.
     *
     * @param {string} timeInterval - временной интервал.
     */
    filter (timeInterval) {
      let $this = this
      if (timeInterval) $this.timeInterval = timeInterval

      $this.$emit('filter', {
        timeInerval: $this.timeInterval,
        select: $this.select
      })

      $this.highcharts.update({series: [{
        data: $this.data
      }]})
    }
  },
  mounted () {
    let $this = this
    $this.select = $this.selected ? $this.selected : $this.options[0].value
    Highcharts.setOptions({
      lang: {
        months: [
          'Январь', 'Февраль', 'Март', 'Апрель',
          'Май', 'Июнь', 'Июль', 'Август',
          'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'
        ],
        weekdays: [
          'Понедельник', 'Вторник', 'Среда', 'Четверг',
          'Пятница', 'Суббота', 'Воскресенье'
        ],
        shortMonths: [
          'Янв', 'Фев', 'Мрт', 'Апр',
          'Май', 'Июн', 'Июл', 'Авг',
          'Сен', 'Окт', 'Нбр', 'Дек'
        ]
      }
    })

    this.highcharts = Highcharts.chart('chart-00', {
      chart: {
        zoomType: 'x'
      },
      title: {
        text: ''
      },
      subtitle: {
        text: ''
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: {
          text: ''
        }
      },
      legend: {
        enabled: false
      },
      plotOptions: {
        area: {
          fillColor: {
            linearGradient: {
              x1: 0,
              y1: 0,
              x2: 0,
              y2: 1
            },
            stops: [
              [0, Highcharts.getOptions().colors[0]],
              [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
            ]
          },
          marker: {
            radius: 2
          },
          lineWidth: 1,
          states: {
            hover: {
              lineWidth: 1
            }
          },
          threshold: null
        }
      },
      series: [{
        type: 'area',
        name: 'Данные:',
        data: $this.data
      }]
    })
  }
}
</script>

<style scoped>
.header_select_block {
  float: right;
  margin-left: 40px;
}
.header_select {
  padding: 0px;
}
</style>
