<template>
<div class="dashboard__block-device">
<div class="dev-list">
  <div class="dev-list__header">
    <div class="dev-list__header-left">Ваши устройства</div>
    <div class="dev-list__header-right">
       <div class="date-switch">
          <div
            class="date-switch__item"
            @click="filter('today')"
            :class="{active: timeInterval === 'today'}">За сегодня</div>
          <div class="date-switch__spacer">/</div>
          <div
            class="date-switch__item"
            @click="filter('all')"
            :class="{active: timeInterval === 'all'}">Все</div>
        </div>
    </div>
  </div>
  <div class="dev-list__body">
    <div
      class="dev-list-item"
      v-for="d in devices"
      :key="d.id"
      @click="select(d)"
      >
      <div class="dev-list-item__table">
        <div class="dev-list-item__img"> <img :src="d.img" :alt="d.name"/></div>
        <div class="dev-list-item__data">
          <div class="dev-list-item__title">{{d.name}}</div>
          <div class="dev-list-item__txt">{{d.description}}</div>
          <div class="dev-list-item__msg">{{d.notice}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
/**
 * Компонент список устройсвт
 */
export default {
  name: 'DashboardDevices',
  props: {
    devices: Array
  },
  data () {
    return {
      timeInterval: 'all'
    }
  },
  methods: {
    /**
     * Выбрать фильтры.
     *
     * @param {string} timeInterval - временной интервал.
     */
    filter (timeInterval) {
      this.timeInterval = timeInterval
      this.$emit('filter', timeInterval)
    },
    /**
     * Выбрать устройсво.
     *
     * @param {Object} notification - уведомление.
     */
    select (device) {
      this.$emit('select', device)
    }
  }
}
</script>

<style scoped>
.dev-list__body {
  overflow-y: auto;
}
.dev-list-item {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
</style>
