<template>
<div class="dashboard__block dashboard__block--white">
  <div class="news" data-controller="news">
    <div class="news__header">
      <div class="news__title">Новости</div>
      <div class="news__ctrl">
        <div class="news__ctrl-item js-news-prev" @click="prev">
          <svg class="icon-svg">
            <use xlink:href="assets/sprite.svg#arrow-left"></use>
          </svg>
        </div>
        <div class="news__ctrl-item js-news-next" @click="next">
          <svg class="icon-svg">
            <use xlink:href="assets/sprite.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="news__body">
      <carousel ref="slider">
        <slide
          class="news__item"
          v-for="n in news"
          :key="n.id"
          >
          <div @click="select(n)" class="news_slide_block">
          <div class="news__item-icon">
            <svg class="icon-svg  icon-bolt">
              <use :xlink:href="'assets/sprite.svg#'+ n.icon"></use>
            </svg>
          </div>
          <div class="news__item-txt">{{n.text}}</div>
          <div class="news__item-date">{{n.date}}</div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel'
/**
 * Компонент список новостей
 */
export default {
  name: 'DashboardNews',
  components: {Carousel, Slide},
  props: {
    news: Array
  },
  methods: {
    /**
     * Обработчик кнопки next.
     */
    next () {
      this.$refs.slider.goToPage(this.$refs.slider.getNextPage())
    },
    /**
     * Обработчик кнопки prev.
     */
    prev () {
      this.$refs.slider.goToPage(this.$refs.slider.getPreviousPage())
    },
    /**
     * Выбрать новость.
     *
     * @param {Object} news - новость.
     */
    select (news) {
      this.$emit('select', news)
    }
  }
}
</script>

<style scoped>
.news_slide_block {
  cursor: pointer;
}
</style>
