<template>
<div class="dashboard__block-notice">
  <div class="notice">
    <div class="notice__header">
      <div class="notice__header-left">
        <div class="notice__title">Уведомления
          <div class="notice__title-num">{{notifications.length}}</div>
        </div>
      </div>
      <div class="notice__header-right">
        <div class="date-switch">
          <div
            class="date-switch__item"
            @click="filter('today')"
            :class="{active: timeInterval === 'today'}">За сегодня</div>
          <div class="date-switch__spacer">/</div>
         <div
            class="date-switch__item"
            @click="filter('all')"
            :class="{active: timeInterval === 'all'}">Все</div>
        </div>
      </div>
    </div>
    <div class="notice__body">
      <div
        class="notice-item"
        v-for="n in notifications"
        :key="n.id"
        @click="select(n)">
        <div class="notice-item__ava">
          <img v-if="n.ava" :src="n.ava" alt="avatar">
        </div>
        <div class="notice-item__data">
          <div class="notice-item__txt">{{n.text}}</div>
          <div class="notice-item__date">{{n.date}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
/**
 * Компонент список уведомлений
 */
export default {
  name: 'DashboardNotifications',
  props: {
    notifications: Array
  },
  data () {
    return {
      timeInterval: 'all'
    }
  },
  methods: {
    /**
     * Выбрать фильтры.
     *
     * @param {string} timeInterval - временной интервал.
     */
    filter (timeInterval) {
      this.timeInterval = timeInterval
      this.$emit('filter', timeInterval)
    },
    /**
     * Выбрать уведомление.
     *
     * @param {Object} notification - уведомление.
     */
    select (notification) {
      this.$emit('select', notification)
    }

  }
}
</script>

<style scoped>
.notice__body {
  overflow-y: auto;
}
.notice-item {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
</style>
