<template>
  <div class="res__content">
    <div class="res__title" v-if="title">{{ title }}</div>
    <div class="res__block">
      <div v-for="item in data" :key="item.id">
        <div class="res__block-title">{{ item.title }}</div>
        <div class="res__table">
          <div class="table table--table-04">
            <div class="table__body">
              <div class="table__row" v-for="itemData in item.data" :key="itemData.id">
                <div class="table__cell">{{ itemData.field1 }}</div>
                <div class="table__cell" v-if="item.type === 'simpelData'">{{ itemData.field2 }}</div>
                <div class="table__cell" v-if="item.type === 'downloadData'">
                  <div class="dl">
                    <div class="dl__icon">
                      <svg>
                        <use xlink:href="assets/sprite.svg#list"></use>
                      </svg>
                    </div>
                    <a :href="itemData.link" :alt="itemData.field1" download class="dl__txt">Скачать</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ResContent',
  props: {
    data: Array,
    title: String
  }
}
</script>
