<template>
  <div class="res__content res__content--mt">
    <div class="res__table-title">{{title}}</div>
    <div class="table table--table-row-revert-color">
      <div class="table__body">
        <div
            class="table__row"
            v-for="item in data" :key="item.id"
          >
            <div
              class="table__cell"
              v-if="item.click"
              @click="item.click(item)"
            >{{item.name}}</div>
            <div
              v-else
              class="table__cell"
              :class="{ noclick: !item.click }">{{item.name}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SimpleList',
  props: {
    data: Array,
    title: String
  }
}
</script>

<style scoped>
.noclick {
  cursor: default;
}
</style>
