<template>

  <body :class="{
  'layer-is-shown-full': showFilter,
  'layer-is-shown': showMenu
}">

    <div class='wrapper'>

      <!-- Хедер -->
      <div class="header"><a
          class="header__logo"
          href="#"
        ><img
            class="header__logo-img"
            src="assets/logo.png"
            alt="logo"
          /></a>
        <div class="header__ctrl">
          <div class="header__faq">
            <svg class="header__faq-icon">
              <use xlink:href="assets/sprite.svg#faq"></use>
            </svg>
          </div>
          <NotificationList
            :notifications="notifications"
            @select="selectNotification"
          />
          <div class="header-user">
            <div class="header-user__ava">
              <div class="header-user__ava-img"></div>
              <div class="header-user__ava-dummy">А</div>
            </div>
            <div class="header-user__name">Александр Мирошеко</div>
          </div>
          <div
            class='log_out'
            @click="logOut"
          >
            <q-icon name="exit_to_app" />
          </div>

        </div>
      </div>
      <!-- Конец хедера -->

      <!-- Страница -->
      <div class="page">

        <!-- Боковое меню -->
        <div
          id="page__menu"
          class="page__menu"
          :class="{opened: showMenu}"
        >
          <div class="menu">
            <div v-for="page in menu" :key="page.id" class="menu_block">

              <div
                class="menu__item"
                @click="openPage(page, 'menu')"
                :class="{'active' : idOpenPage === page.id}"
              >
                <div class="menu__item-icon">
                  <svg class="icon-envelope">
                    <use :xlink:href="'assets/sprite.svg#' + page.icon"></use>
                  </svg>
                </div>
                <div class="menu__item-title">{{ page.name }}</div>
              </div>

              <div v-if="
                page.submenu
                && page.submenu.length
                && idOpenPage === page.id"
              >
                <div class="menu__submenu"
                  v-for="s in page.submenu"
                  :key="s.id"
                  :class="{'active_submenu' : selectPage.id === s.id}"
                >
                  <div class="menu__submenu-item" @click="openPage(s, 'submenu')">
                    <span class="menu__submenu-item-icon">
                      <svg class="icon-machine">
                        <use xlink:href="assets/img/sprite.svg#machine"></use>
                      </svg>
                    </span>
                    <span>{{ s.name }}</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Конец бокового меню -->

        <!-- Контект (pages)-->
        <router-view />

      </div>
      <!-- Конеу страницы -->
    </div>

    <!-- Футер -->
    <footer
      class="footer"
      data-controller="footer"
    >
      <div class="container">
        <div class="footer__holder">
          <div class="footer__item">
            <svg class="icon-svg  icon-back-arrow">
              <use xlink:href="assets/sprite.svg#back-arrow"></use>
            </svg>
          </div>
          <div class="footer__item">
            <svg class="icon-svg  icon-pen">
              <use xlink:href="assets/sprite.svg#pen"></use>
            </svg>
          </div>
          <div class="footer__item">
            <svg class="icon-svg  icon-faq">
              <use xlink:href="assets/sprite.svg#faq"></use>
            </svg>
          </div>
          <div
            class="footer__item footer__item--menu js-menu-trigger"
            :class="{opened: showMenu}"
            @click="opneMenu"
          >
            <svg class="icon-svg  icon-menu">
              <use xlink:href="assets/sprite.svg#menu"></use>
            </svg>
            <svg class="icon-svg  icon-cross">
              <use xlink:href="assets/sprite.svg#cross"></use>
            </svg>
          </div>
        </div>
      </div>
    </footer>
    <!-- Конец футера -->

    <!-- Прелодер -->
    <div
      id="preloader"
      data-controller="preloader"
      v-if='!appReady'
    >
      <div class="preloader-wrapper">
        <div class="preloader-center">
          <div
            class="tcon-loader--spinner360"
            aria-label="loading"
          >
            <div class="tcon-visuallyhidden"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Конец прелодера -->
    <div
      id="layer"
      @click="opneMenu"
    ></div>
  </body>
</template>

<script>
import { APP_START_INTERVAL } from '../constants'
import NotificationList from '../components/Header/NotificationList.vue'
/**
 * Главный шаблон приложения
 */
export default {
  name: 'DanfosLayout',
  components: { NotificationList },
  data () {
    return {
      showMenu: false,
      appReady: false, // метка указывающая что приложение монировано
      idOpenPage: null,
      selectPage: { // демо объект выбранной страницы
        id: 1,
        url: 'call',
        name: 'Звонки',
        icon: 'phone'
      },
      menu: [ // демо массв меню
        {
          id: 1,
          url: '/call',
          name: 'Холодные звонки',
          icon: 'phone',
          submenu: [
            {
              id: 2,
              url: '/chat',
              name: 'Техническая поддержка',
              icon: 'envelope'
            },
            {
              id: 3,
              url: '/chatForm',
              name: 'Анкета',
              icon: 'machine'
            }
          ]
        },
        {
          id: 4,
          url: '/cooldCall',
          name: 'Холодные Звонки',
          icon: 'phone',
          submenu: [
            {
              id: 5,
              url: '/device',
              name: 'Устройство',
              icon: 'machine'
            },
            {
              id: 6,
              url: '/dashboard',
              name: 'Рабочий стол',
              icon: 'machine'
            },
            {
              id: 7,
              url: '/',
              name: 'Модальные окна',
              icon: 'machine'
            },
            {
              id: 8,
              url: '/profile',
              name: 'Профиль',
              icon: 'machine'
            }
          ]
        },
        {
          id: 9,
          url: '/adminres',
          name: 'Подбор преобразователя',
          icon: 'machine',
          submenu: [
            {
              id: 10,
              url: '/teacher',
              name: 'Курс для партнеров',
              icon: 'machine'
            },
            {
              id: 11,
              url: '/objectRes',
              name: 'Реле давления',
              icon: 'machine'
            },
            {
              id: 12,
              url: '/object',
              name: 'Габаритные чертежи',
              icon: 'machine'
            },
            {
              id: 13,
              url: '/dimension',
              name: 'Габаритные чертежи 2',
              icon: 'machine'
            },
            {
              id: 14,
              url: '/admin',
              name: 'Заявки',
              icon: 'machine'
            },
            {
              id: 15,
              url: '/bludeprint',
              name: 'Электрические схемы',
              icon: 'schema'
            }
          ]
        },
        {
          id: 16,
          url: '/user',
          name: 'Пользователь',
          icon: 'schema',
          submenu: [
            {
              id: 17,
              url: '/manager',
              name: 'Менеджер',
              icon: 'schema'
            },
            {
              id: 18,
              url: '/tasks',
              name: 'Задачи',
              icon: 'schema'
            }
          ]
        },
        {
          id: 19,
          url: '/forum-main',
          name: 'Форум',
          icon: 'schema',
          submenu: [
            {
              id: 20,
              url: '/docs',
              name: 'Документы',
              icon: 'schema'
            }
          ]
        }

      ],
      showFilter: false,
      notifications: [ // демо данные для уведомлений
        {
          id: 1,
          title: 'Title',
          text: 'Text text text text text',
          date: '5 дней назад'
        }, {
          id: 2,
          title: 'Title',
          text: 'Text text text text text',
          date: '5 дней назад'
        }, {
          id: 3,
          title: 'Title',
          text: 'Text text text',
          date: '5 дней назад'
        }, {
          id: 4,
          title: 'Title',
          text: 'Text text text text text',
          date: '5 дней назад'
        }, {
          id: 5,
          title: 'Title',
          text: 'Text text text text text',
          date: '5 дней назад'
        }, {
          id: 6,
          title: 'Title',
          text: 'Text text text text text',
          date: '5 дней назад'
        }, {
          id: 7,
          title: 'Title',
          text: 'Text text text text text',
          date: '5 дней назад'
        }
      ]
    }
  },
  methods: {
    /**
     * Окрыть страницу
     *
     * @param {Object} page - объект страницы.
     * @param {string} type - тип 'submenu' или 'menu'.
     */
    openPage (page, type) {
      if (type === 'menu') {
        this.idOpenPage = page.id
      }
      this.selectPage = page
      this.$router.push(({ path: page.url }))
    },
    /**
     * Открыть меню для мобильной версии
    */
    opneMenu () {
      this.showMenu = !this.showMenu
    },
    /**
     * Выбрать уведомление
     */
    selectNotification (notification) {
      console.log(notification)
    },
    /**
     *  Выход
     */
    logOut () {
      console.log('Log Out')
    }
  },
  mounted () {
    setTimeout(() => {
      this.appReady = true
    }, APP_START_INTERVAL)

    let menuEl = document.getElementById('page__menu')
    console.log(menuEl.height)
  }
}
</script>

<style scoped>
.log_out {
  color: #fff;
  margin-left: 15px;
  font-size: 25px;
  cursor: pointer;
  transition: color 0.4s;
}

.log_out:hover {
  color: #78909c;
}

.wrapper {
  min-height: 1400px;
}

.menu_block {
  background-color: #fff;
}

.menu__submenu {
  margin: 0;
  border-bottom: none;
  padding: 10px;
}
.menu__submenu-item {
  margin: 0;
}

.active_submenu .menu__submenu-item{
  color: #c9060a;
  font-weight: bold;
}
</style>
