<template>
  <body class="auth">

    <div class="wrapper">
      <header class="header  header--unregistered">
        <a class="header__logo" href="#">
          <img class="header__logo-img" src="assets/logo.png" alt="logo"/>
        </a>
      </header>
      <!-- Контект (pages)-->
      <router-view />

    </div>

    <div id="layer"></div>
    <div id="preloader" data-controller="preloader" v-if='!appReady'>
      <div class="preloader-wrapper">
        <div class="preloader-center">
          <div class="tcon-loader--spinner360" aria-label="loading">
            <div class="tcon-visuallyhidden"></div>
          </div>
        </div>
      </div>
    </div>

  </body>
</template>

<script>
import {APP_START_INTERVAL} from '../constants'

/**
 *  Шаблон приложения без авторизации
 */
export default {
  name: 'SingLayot',
  data () {
    return {
      appReady: false // метка указывающая что приложение монировано
    }
  },
  methods: {

  },
  mounted () {
    setTimeout(() => {
      this.appReady = true
    }, APP_START_INTERVAL)
  }
}
</script>

<style scoped>
.pagelist {
  background-color: #ccc;
}

#all-page-shower__list li {
  display: block;
  z-index: 98;
  padding: 0 10px;
}

#all-page-shower__list li a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  padding: 2px;
  font-weight: normal;
  z-index: 99;
  padding-left: 30px;
  position: relative;
}

#all-page-shower__list li a:hover {
  text-decoration: underline;
}

.cz-counter {
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
}

#all-page-shower__list {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  width: 100%
}

#all-page-shower__list-wrap {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 100px);
  margin: 0 auto;
  max-width: 600px;
}

#all-page-shower {
  display: none;
  font-size: 14px;
  color: #fff;
  position: fixed;
  top: 100%;
  left: 100%;
  width: 100%;
  height: 100%;
  background: none;
  z-index: 51000;
  padding: 40px 30px;
  -moz-column-count: auto;
  -webkit-column-count: auto;
  column-count: auto
}

#all-page-shower__inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 0;
  opacity: 0.8;
}

#all-page-shower__title {
  position: relative;
  z-index: 100;
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}

#all-page-close {
  position: absolute;
  z-index: 9999;
  right: 25px;
  top: 25px;
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

#all-page-close::before {
  content: '';
  transition: all .3s ease-in-out;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 17px;
  transform: rotate(45deg);
}

#all-page-close::after {
  content: '';
  transition: all .3s ease-in-out;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 17px;
  transform: rotate(-45deg);
}

#all-page-close:hover::before,
#all-page-close:hover::after {
  background-color: rgba(255, 255, 255, .6);
}

#all-page-open {
  transition: all .6s ease-in-out;
  position: fixed;
  z-index: 9999;
  right: 110px;
  bottom: 0;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, .2);
  border-left: 4px solid rgba(0, 0, 0, .8);
  border-top: 4px solid rgba(0, 0, 0, .8);
  cursor: pointer;
}

#all-page-open i {
  display: block;
  width: 60px;
  height: 4px;
  position: absolute;
  top: 17px;
  left: -11px;
  background: rgba(0, 0, 0, .8);
  transform: rotate(45deg);
}

#all-page-open:hover {
  background-color: rgba(204, 0, 0, 0.4);
  transform: scale(1.2);
}

@media (max-width: 700px) {
  #all-page-shower__list {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
</style>
