<template>
  <div class="forum__inner">
    <table class="forum__table">
      <thead>
        <tr>
          <th @click="onSort('topic')">
            <span>Тема
              <svg
                class="icon-svg  icon-back-arrow"
                :class="{sortable:  sort === 'topic'}"
              >
                <use xlink:href="assets/sprite.svg#back-arrow"></use>
              </svg>
            </span>
          </th>
          <th @click="onSort('author')">
            <span>Автор
              <svg
                class="icon-svg  icon-back-arrow"
                :class="{sortable: sort === 'author'}"
              >
                <use xlink:href="assets/sprite.svg#back-arrow"></use>
              </svg>
            </span>
          </th>
          <th @click="onSort('time')">
            <span>Последняя активность
              <svg
                class="icon-svg  icon-back-arrow"
                :class="{sortable: sort === 'time'}"
              >
                <use xlink:href="assets/sprite.svg#back-arrow"></use>
              </svg>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="l in list"
          :key="l.id"
          @click="$emit('openTopic', l.id)"
        >
          <td>{{l.topic}}</td>
          <td>{{l.author}}</td>
          <td>{{l.time}}</td>
        </tr>

      </tbody>
    </table>
  </div>

</template>

<script>
export default {
  name: 'ForumTopicList',
  props: {
    list: Array
  },
  data () {
    return {
      sort: null,
      desc: false
    }
  },
  methods: {
    onSort (type) {
      this.desc = !this.desc
      this.sort = type
      this.$emit('sort', { type: this.sort, desc: this.desc })
    }
  }
}
</script>

<style scoped>
.sortable {
  -webkit-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}
th,
tr {
  cursor: pointer;
}
</style>
