<template>
  <q-modal v-model="isShow" minimized ref="modalRef">
     <div tabindex="-1" class="modal-content popup">
      <div class="popup_close" @click="close"><q-icon name="highlight_off"/></div>
      <div class="popup__body">
        <div class="popup__title">{{data.title}}</div>
        <div class="popup__form">
          <div>
            <div class="popup__form-row">
                <div class="dateInput">
                  <DatePicker
                    text="Начало"
                    lang='ru'
                    v-model="dateStart"
                    :not-before="Date.now()"
                    :shortcuts="false"
                    placeholder="Начало"
                  />
                </div>
                <div class="dateInput">
                  <DatePicker
                    text="Окончание"
                    lang='ru'
                    v-model="dateStop"
                    :not-before="Date.now()"
                    :shortcuts="false"
                    placeholder="Окончание"
                  />
                </div>
            </div>
            <div class="popup__form-row">
              <input class="input" placeholder="Место проведения" v-model="place">
            </div>
            <div class="popup__form-row">
              <div class="popup__form-row-title">Участники</div>
              <div class="popup__scroll js-scroll red-scroll">
                <div
                  class="popup__scroll-item"
                  v-for="u in data.userList"
                  :key="u.id"
                  @click="selectUser(u.id)"
                  :class="{
                    selectedUser: selectedUsers.indexOf(u.id) !== -1
                  }"
                >
                  {{u.name}}
                </div>
              </div>
            </div>
          </div>
          <div class="popup__form-submit">
            <button class="btn btn--red btn--inline"  @click="submit">Отправить</button>
          </div>
        </div>
      </div>
    </div>
  </q-modal>
</template>

<script>
import DatePicker from 'vue2-datepicker'
/**
 * Компонент модально окно
 */
export default {
  name: 'PopupNewEvent',
  components: { DatePicker },
  props: {
    show: Boolean,
    data: Object
  },
  computed: {
    isShow: {
      get: function () {
        return this.show
      },
      set: function (newValue) {
        this.$emit('close', {
          selectedUsers: this.selectedUsers,
          place: this.place,
          dateStart: this.dateStart,
          dateStop: this.dateStop
        })
      }
    }
  },
  data () {
    return {
      select: undefined,
      text: undefined,
      dateStart: null,
      dateStop: null,
      place: null,
      selectedUsers: []
    }
  },
  methods: {
    /**
     * Закрыть окно
    */
    close () {
      this.isShow = false
    },
    selectUser (id) {
      if (this.selectedUsers.indexOf(id) !== -1) {
        this.selectedUsers.splice(this.selectedUsers.indexOf(id), 1)
      } else {
        this.selectedUsers.push(id)
      }
    },
    submit () {
      this.$emit('submit', {
        selectedUsers: this.selectedUsers,
        place: this.place,
        dateStart: this.dateStart,
        dateStop: this.dateStop
      })
    }
  }
}
</script>

<style scoped>
.popup {
  display: block;
}
.popup__body {
  width: 460px;
}
.popup__title {
  text-align: center;
}
.js-scroll {
  overflow: auto;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.popup_close {
  font-size: 25px;
  cursor: pointer;
  transition: color 0.4s;
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup_close:hover {
  color:  #78909c;
}
.dateInput {
  float: left;
  margin-left: 38px;
  margin-bottom: 10px;
}
.dateInput:first-child {
   margin-left: 0px;
}
.popup__scroll-item {
  cursor: pointer;
}
.selectedUser {
  color: #c9060a;
  font-weight: bold;
}
</style>
