<template>
  <div class="teacher__block">
    <div class="teacher__block-header teacher__block-header--mod">
      <span v-if="title && title.name">{{title.name}}</span>
      <span class="teacher__block-btn" v-if="title && title.btn">
        <span
          v-for="btn in title.btn"
          :key="btn.id"
          class="btn btn--red btn--inline"
          @click="btn.click(btn)"
        >{{btn.name}}</span>
      </span>
    </div>
    <div class="teacher__main">
      <div class="table__row teacher__main-title">
        <div
          class="table__cell"
          v-for="h in header"
          :key="h.key"
          :style="{'height': title.headerHeight ? title.headerHeight + 'px' : '70px'  }"
        >{{h.name}}</div>
      </div>
      <div class="js-scroll red-scroll" :style="{'max-height': height ? height + 'px' : '350px' }">
        <div class="table table--table-row-revert-color">
          <div class="table__body">
            <div
              class="table__row"
              v-for="d in data"
              :key="d.id"
              @click="d.rowClick ? d.rowClick(d) : rowClick(d)"
            >
              <div class="table__cell" v-for="h in header" :key="h.key">
                <div v-if="d[h.key].click">
                  <span
                    class="btn btn--red-color btn--xs"
                    @click="d[h.key].click(d)"
                  >{{d[h.key].name}}</span>
                </div>
                <div v-else-if="d[h.key] && d[h.key].download">
                  <div class="dl">
                    <div class="dl__icon">
                      <svg>
                        <use xlink:href="assets/sprite.svg#list"></use>
                      </svg>
                    </div>
                    <a :href="d[h.key].download" download class="dl__txt">{{d[h.key].name}}</a>
                  </div>
                </div>
                <div v-else-if="d[h.key] && typeof d[h.key].switch !== 'undefined'">
                  <div class="btn-check" data-controller="btn-check">
                    <div
                      class="btn-check__item"
                      :class="{'active': d[h.key].switch}"
                      @click.stop="switchClick(d, h.key, 'on')"
                    >
                      <svg>
                        <use xlink:href="assets/sprite.svg#cross"></use>
                      </svg>
                      <span>{{ d[h.key].switchOnText }}</span>
                    </div>
                    <div
                      class="btn-check__item"
                      :class="{'active': !d[h.key].switch}"
                      @click.stop="switchClick(d, h.key, 'off')"
                    >
                      <svg>
                        <use xlink:href="assets/sprite.svg#check"></use>
                      </svg>
                      <span>{{ d[h.key].switchOffText }}</span>
                    </div>
                  </div>
                </div>
                <div v-else-if="d[h.key] && d[h.key].name">{{d[h.key].name}}</div>
                <div v-else>{{d[h.key]}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ScrollList',
  props: {
    data: Array,
    header: Array,
    title: Object,
    height: Number
  },
  methods: {
    rowClick (row) {
      this.$emit('rowClick', row)
    },
    switchClick (item, key, action) {
      if (action === 'on') item[key].switch = true
      if (action === 'off') item[key].switch = false

      this.$emit('switchClick', item)
    }
  }
}
</script>

<style scoped>
.js-scroll {
  overflow: auto;
}
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: transparent;
}
div::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}
.btn {
  margin-left: 10px;
}
.noClick {
  cursor: default;
}
</style>
